## $Header: /cvs/sakai/chef-tool/src/webapp/vm/dissertation/chef_dissertations_load_errors.vm,v 1.1 2004/03/22 15:31:01 ggolden Exp $
## chef_dissertations_load-errors.vm, use with org.chefproject.DissertationUploadAction.java
<div class="chefPortletContainer">
	#if($menu)#toolbar($menu)#end
	<div class="chefPortletContent">
		#if ($alertMessage)<div class="chefAlertBox">Alert: $validator.escapeHtml($alertMessage)</div>#end
		<form name="loadExtracts" id="loadExtracts" action="#toolForm($action)" method="post" enctype="multipart/form-data">
               	<span class ="chefPageviewTitle">
                   	Please correct the errors below and then upload the files again. You might wish to print the messages below
					for reference before clicking 'Continue' to return to the upload form.</br>
               	</span>
				<br />
					#if($header)
						#set($adjustedErrors = $totalErrors - 1)
							$adjustedErrors total error(s)<br />
					#else
						$totalErrors total error(s)<br />
					#end
				<br />
				<div class="chefButtonRow">
					<input type="submit" name="eventSubmit_doCancel_load" id="eventSubmit_doCancel_upload" value="Continue" />
				</div>
				Error messages #if($displayLimit)(the first $limit #if($limit == 1)is #else are #end shown)#end<br /><br />
				#if($header)
					#set($error_number = 0)
					#foreach($loadError in $loadErrors)
						#if($error_number != 0) $error_number #end $loadError<br />
						#set($error_number = $error_number + 1)
					#end
				#else
					#set($error_number = 1)
					#foreach($loadError in $loadErrors)
						$error_number  $loadError<br />
						#set($error_number = $error_number + 1)
					#end
				#end
		</form>	
	</div>
</div>
