##<!-- $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/sitesetup/chef_site-siteInfo-importMtrlMaster.vm,v 1.2 2005/06/06 20:06:02 htripath.indiana.edu Exp $ -->
## Might want to get these dynamically 
<div class="portletBody">
	##if($menu)#toolbar($menu)#end<br/><br/>
	#if ($alertMessage)
		<div class="chefAlertBox">$tlang.getString("sitinfimp.alert") $validator.escapeHtml($alertMessage)</div>
		<div style="display:block;clear:both"></div>
	#end
	<h3>
	Import Materials from a File
	</h3>
	<p class="step">
	Choose a file to import
	</p>
	<p class="instruction">
		
	</p>
	<form name="featuresForm" action="#toolForm("$action")" method="post" enctype="multipart/form-data">
			<P>
			File: <input type="file" name="file" id="file" class="upload" />
			<P>					
				
		<input type="hidden" name="template-index" value="45" />
		<p class="act">
			<input type="submit" class="active" name="eventSubmit_doUploadMtrlFrmFile" value="Import" />
			<input type="submit" class="active" name="eventSubmit_doCancel" value="Cancel" />
		</p>
					
	</form>
</div>
