/* CSS for profile tool */

.editProfile{
 vertical-align: top;
 text-align:left;
 }
 
DIV.base-div {
  
  margin-top: 0; margin-right: auto; margin-bottom: 0; margin-left: auto;
  padding: 0; text-align:left; height:300px; width: 100%;
}

DIV.left-section {
  border: none; float: left; margin: 0; padding: 0; width: 47%;text-align:left;
}

DIV.right-section {
  border: none; float: right; margin: 0; padding: 0; width: 47%; text-align:left;
}

DIV.left-layer {
  border: none; float: left; margin: 0; padding: 0;text-align:left; width:100%;
}


DIV.layer1 {
  border: none; float: left; margin: 0; padding: 0;text-align:left; width:80px;
}

DIV.layer3{
  border: none; float: left; margin: 2; padding: 0; width: 40%; text-align:center;
}

DIV.layer2{
  border: none; float: left; margin: 0; padding:0; width:5%; text-align:left;
}
 
DIV.layer-search{
  border: none; float: left; margin: 0; padding: 0;text-align:left; width:150px;
}
 