body{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:.8em;color:#747474}
TD{text-align:left}
TR{}
FONT{}
I{font-style:italic}
BIG{font-weight:bold}
TH{}
A:link,A:visited{color: #6E6E6E;text-decoration:none}
A:hover{color: Gray;text-decoration:underline}
H1{font-size:30pt}
STRONG{font-size:9pt}
H2{font-size:12pt}
H3{font-size:9pt}
/* PART 3:CHEF-MAIN.VM AND PORTLET SELECTORS*/
.chefWaitMessage{height:1500px;width:100%}
table.ControllerStyleClass{margin:0px;padding:0px;}
table.chefPortletStyleClass{border:1px dashed Silver;}
table.chefPortletStyleClass td{}
td.chefTitleStyleClass{
background-color: #fff;
color:#747474;
padding:2px 4px 2px 2px;
height:16px;
}
td.chefActionTitleStyleClass{
background-color: #fff;
color:#747474;
padding:2px 4px 2px 2px;
text-align:right;
vertical-align:top;
height:16px;
}
.chefPortletContainer .chefToolBarWrap{
background-color: #fff;
border-color: #E4E4E4;
border-style:solid;
border-width:1px 0px 1px 0px;
display:block;
font-size:.8em;
margin:5px 0px 0px 8px;
padding:1px 0px 1px 0px;
text-align:left;
line-height: 1.7em;
width:auto
}
.chefPortletToolBarMessage{
background-color:#fff;
border-bottom: 1px dotted #9B9B9B;
border-top: 1px dotted #9B9B9B;
display:block;
font-size:.8em;
margin:5px 0px 0px 8px;
padding:4px 0px 4px 0px;
text-align:left;
width:auto
}
.chefToolBarWrap  a{
border: 1px solid Silver;
color: #6E6E6E;
margin:0px 1px 0px 1px;
padding:1px;
text-decoration:none
}

.chefToolBarWrap  a:hover{
background-color: #EFEFEF;
border-color: #333333;
border-style:solid;
border-width:1px;
color: #333333;
text-decoration:none
}
.chefToolBarWrap a:active{border-color: #333333;border-style:solid;border-width:1px;color: #333333}

.searchField {font-size:.9em;margin:0px;border: 1px solid Silver;}
.toolbarForm {margin:0px;padding:0px;display: inline;}
.chefPortletContainer .chefToolBarWrapForm{
background-color: #E4E4E4;
border-color: #E4E4E4;
border-style:solid;
border-width:1px 0px 1px 0px;
display:block;
font-size:.8em;
margin:5px 0px 0px 8px;
padding:1px 0px 1px 0px;
text-align:left;
line-height: 1.7em;
width:auto
}
.chefToolBarWrapForm a{
border: 1px solid Silver;
color: #6E6E6E;
margin:0px 1px 0px 1px;
padding:1px;
text-decoration:none
}
.chefToolBarWrapForm a:hover{
background-color: #EFEFEF;
border-color: #333333;
border-style:solid;
border-width:1px;
color: #333333;
text-decoration:none
}
.chef2ndToolbarWrap
{
background-color:#fff;
display:block;
margin:4px 0px 0px 8px;
padding:0px;
text-align:left;
}
table.chef2ndToolbar{
color: #6E6E6E;
margin:0px 0px 10px 0px;
text-align:left;
width:100%;
font-size:.8em;
}
table.chef2ndToolbar td.right {text-align:right;padding:3px 3px 0px 0px;vertical-align: middle;}
table.chef2ndToolbar td.right a {
border: 1px solid Silver;
color: #6E6E6E;
margin:0px 1px 0px 1px;
padding:1px;
text-decoration:none
}
table.chef2ndToolbar td.right a:hover {
background-color: #EFEFEF;
border-color: #333333;
border-style:solid;
border-width:1px;
color: #333333;
text-decoration:none
}
table.chef2ndToolbar td.left {vertical-align: middle;padding:0px 5px 0px 5px;}
table.chef2ndToolbar tr.first {background-color:#FFF}
table.chef2ndToolbar tr.first td {padding-bottom:5px}
table.chef2ndToolbar tr.second td.right {border-top: 1px solid #6E6E6E;color:#000}
table.chef2ndToolbar tr.second td.left {border-top: 1px solid #6E6E6E}
table.chef2ndToolbar td.left select {font-size:1em;vertical-align: middle;background-color:#FFF;color: #6E6E6E}
table.chef2ndToolbar td.right input {font-size:1em;vertical-align: middle;background-color: #E4E4E4;color: #6E6E6E;border: 1px solid Silver}
.chefPortletContainer{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;width:98%}
.chefPortletContent{background-color:#fff;clear:both;margin-right:0px;padding:6px;width:98%}
.chefAlert{color: #656565}
.chefAlertBox{
background-color: #EFEFEF;
background-image:url(/sakai-shared/image/warn.gif);
background-position:3px;
background-repeat:no-repeat;
border: 1px solid #A2A2A2;
clear:both;
color: #333333;
float:left;
font-size:x-small;
margin:5px 0px 5px 0px;
padding:5px 5px 5px 25px
}
.chefInfoBox{
background-color:#FFF;
border: 1px solid #9B9B9B;
clear:both;
float:left;
font-size:x-small;
margin:5px 0px 5px 0px;
padding:5px 5px 5px 5px
}
.chefInlineInstructions{color: Gray;display:block;font-size:.9em}
.chefInlineAlert{
background-image:url(/sakai-shared/image/arrowUpWarn.gif);
background-position:center left;
background-repeat:no-repeat;
color: #656565;
font-size:.9em;
margin:0px 0px 0px 5px;
padding:0px 0px 0px 10px
}
.chefAccessError{color: #656565;font-size:18pt;font-weight:bold}
.chefPageviewTitle{clear:both;display:block;margin:0px 0px 5px 0px;width:70%}
.chefListMessage{font-size:small;margin:0px 0px 5px 0px}
.chefPortletContainer .chefBreadCrumb{clear:both;margin:5px 5px 5px 0px}
.chefSectionMessage{font-size:small;margin:0px 0px 5px 10px}
.chefSectionTitle{display:block;font-weight:normal;margin:5px 0px 5px 0px}
.chefHonorPledge{color: Gray;font-size:x-small;font-weight:bold}
table.calendar{}
table.calendar th{background-color: #E6E6E6;font-weight:normal;text-align:center}
.bgActivity{background-color: #E4E4E4;border:1px solid #dadada;text-align:right}
.bgWithoutActivity{background-color:#fff;border:1px solid #dadada;text-align:right}
.borderFullGray{border:1px solid #dadada}
.borderGrayYear{background-color:#ccc;border:1px solid #dadada;text-align:right}
.borderGrayMonth{border:1px solid #dadada}
.borderGrayDayWeek{
border-bottom:none;
border-collapse:collapse;
border-left:1px solid #dadada;
border-right:1px solid #dadada;
border-top:1px solid #dadada
}
.borderGrayBackground{
background-color: #CCCCCC;
border-bottom:none;
border-left:1px solid #dadada;
border-right:1px solid #dadada;
border-top:1px solid #dadada
}
.borderGrayTodayBgCenter{
background-color: #E4E4E4;
border-left:1px solid #000;
border-right:1px solid #000;
border-top:1px solid #dadada
}
.borderGrayTodayBottom{
border-bottom:1px solid #000;
border-left:1px solid #000;
border-right:1px solid #000;
border-top:1px solid #dadada
}
.borderGrayTodayCenter{
border-left:1px solid #000;
border-right:1px solid #000;
border-top:1px solid #dadada
}
.borderGrayTodayEmptyMiddleBottom{background-color:white;border:1px solid #dadada}
.borderGrayTodayEmptyMiddleCenter{
background-color:white;
border-left:1px solid #dadada;
border-right:1px solid #dadada;
border-top:1px solid #dadada
}
.borderGrayTodayEmptyRightBottom{
background-color:white;
border-left:1px solid #dadada;
border-right:1px solid #000;
border-top:1px solid #dadada
}
.borderGrayTodayEmptyRightCenter{
background-color:white;
border-left:1px solid #dadada;
border-right:1px solid #000;
border-top:1px solid #dadada
}
.borderGrayTodayLeftBottom{
border-bottom:1px solid #dadada;
border-left:1px solid #000;
border-right:1px solid #dadada;
border-top:1px solid #dadada
}
.borderGrayTodayLeftCenter{
border-left:1px solid #000;
border-right:1px solid #dadada;
border-top:1px solid #dadada
}
.borderGrayTodayMiddleBottom{border:1px solid #dadada}
.borderGrayTodayMiddleCenter{
border-left:1px solid #dadada;
border-right:1px solid #dadada;
border-top:1px solid #dadada
}
.borderGrayTodayRightBottom{
border-bottom:1px solid #dadada;
border-left:1px solid #dadada;
border-right:1px solid #000;
border-top:1px solid #dadada
}
.borderGrayTodayRightCenter{
border-left:1px solid #dadada;
border-right:1px solid #000;
border-top:1px solid #dadada
}
.borderOnlyLeftDay{background-color: #CCCCCC;border-left:1px solid #dadada}
.borderOnlyLeft{border-left:1px solid #dadada}
.borderOnlyLeftTodayBottom{
border-bottom:1px solid #000;
border-left:1px solid #000;
border-right:1px solid #000;
border-top:1px solid #dadada
}
.borderOnlyLeftTodayCenter{
border-left:1px solid #000;
border-right:1px solid #000;
border-top:1px solid #dadada
}
.borderToday{border:1px solid #000}
.borderTodayBottom{
border-bottom:1px solid #000;
border-left:1px solid #000;
border-right:1px solid #000;
border-top:1px solid #dadada
}
.borderTodayCenter{
border-bottom:1px solid #dadada;
border-left:1px solid #000;
border-right:1px solid #000;
border-top:1px solid #dadada
}
.borderTodayTop{
border-bottom:1px solid #dadada;
border-left:1px solid #000;
border-right:1px solid #000;
border-top:1px solid #000
}
.borderTodayWithActivity{background-color: #E4E4E4;border:1px solid #000;text-align:right}
.borderTodayWithoutActivity{background-color:#FFF;border:1px solid #000;text-align:right}
.borderTopLeft{
background-color: #CCCCCC;
border-left:1px solid #dadada;
border-right:1px solid  #dadada;
border-top:1px solid #dadada
}
.borderTopLeftWhite{
border-left:1px solid #dadada;
border-right:1px solid  #dadada;
border-top:1px solid #dadada
}
.borderWhiteYear{background-color: #E4E4E4;border:1px solid #fff;text-align:center}
.borderWhite{
border-bottom:none;
border-left:1px solid #fff;
border-right:1px solid #fff;
border-top:1px solid #fff
}
/* PART 4:INPUTS*/
.chefPortletContainer input.text{border:1px solid #A9A9A9;margin:2px;padding:0px 2px 0px 2px;color:#747474;}
.chefPortletContainer input.upload{border:1px solid #A9A9A9;margin:2px;padding:2px}
.chefPortletContainer select{background-color:#FFF;border:1px solid #A9A9A9;margin:2px}
.chefPortletContainer textarea{
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size: 1em;
background-color:#FFFFFF;
border:1px solid #A9A9A9;
margin:2px;
color:#747474;
padding:2px 0px 2px 2px
}
.chefPortletContainer  input.radio{}
.chefPortletContainer input.checkbox{}
.chefButtonRow{clear:both;margin:10px 0px 10px 0px}
.chefButtonRowRight{clear:both;float:right;margin:5px 0px 5px 0px}
.chefButtonRowRight input,.chefButtonRow input{
background-color: #fff;
border: 1px solid #5F5F5F;
color: #5F5F5F;
padding:1px 3px 1px 3px
}
.chefButtonRow	input:hover,.chefButtonRowRight	input:hover{
background-color: #fff;
border: 1px dashed #5F5F5F;
color: #5F5F5F;
padding:1px 3px 1px 3px
}
.chefPortletContainer .chefRequiredInline{
background-image:url(/sakai-shared/image/required.gif);
background-position:center left;
background-repeat:no-repeat;
padding:4px 4px 4px 14px
}
.chefPortletContainer td.chefRequiredInline{
background-image:url(/sakai-shared/image/required.gif);
background-position:.4em left;
background-repeat:no-repeat;
padding:4px 4px 4px 4px
}
.chefPortletContainer .chefRequired{
background-image:url(/sakai-shared/image/required.gif);
background-position:3px 3px;
background-repeat:no-repeat;
border:1px solid #A9A9A9;
margin:2px;
padding:3px 3px 3px 15px;
text-decoration:none
}
/*PART 5:LAYOUTS*/
fieldset{
border:1px solid #AAAAAA;
border-right: none;
border-left: none;
clear:both;
display:block;
margin:3px 0px 3px 0px;
padding:5px;
width:70%
}
legend{
border:1px solid #AAAAAA;
color:#AAAAAA;
font-size:.8em;
font-weight:bold;
margin:3px 0px 3px 0px;
padding:2px 10px 2px 10px
}
.chefAttachmentsF{border: 1px solid #DADADA;border-right: none;border-left: none;display:block;padding:5px}
.chefAttachmentsL{
border:1px solid #A9A9A9;
color:#A9A9A9;
font-size:.8em;
font-weight:bold;
padding:2px 10px 2px 10px
}
.chefPortletContainer table.chefFlatListViewTable{border: 1px solid #A2A2A2;clear:both}
.chefPortletContainer table.chefFlatListViewTable tr.bottom th{border-bottom: 0px solid #A2A2A2;border-top: 1px solid #A2A2A2}
.chefPortletContainer  table.chefFlatListViewTable th{
background-color: #EFEFEF;
border-bottom: 1px solid #A2A2A2;
font-size:.9em;
font-weight:normal;
padding:3px 8px 3px 8px;
text-align:left;
white-space:nowrap
}
.chefPortletContainer  table.chefFlatListViewTable td{padding:3px 8px 3px 8px;text-align:left;vertical-align:top}
.chefPortletContainer  table.chefFlatListViewTable td.chefTopline{border-top: 1px dotted #A2A2A2}
.chefPortletContainer  table.chefFlatListViewTable td.highLight{background-color: #E9E9E9}
.chefLightFlatListViewTable{border: 1px solid #DADADA;clear:both;font-size:.9em}
.chefPortletContainer  table.chefLightFlatListViewTable th{
border-bottom: 1px solid #DADADA;
font-size:.9em;
font-weight:normal;
padding:3px 8px 3px 8px;
text-align:left;
white-space:nowrap
}
.chefPortletContainer  table.chefLightFlatListViewTable td{padding:3px 8px 3px 8px;text-align:left;vertical-align:top}
.chefPortletContainer table.chefHierListViewTable{border: 1px solid #A2A2A2;clear:both}
.chefPortletContainer table.chefHierListViewTable tr.bottom th{border-bottom: 0px solid #A2A2A2;border-top: 1px solid #A2A2A2}
table.chefItemDetail{font-size:.9em;margin:0px 0px 5px 20px;width:auto}
table.chefItemDetail td.chefLabel{padding-right:4px;font-weight:bold;text-align:left;vertical-align:text-top;white-space:nowrap}
table.chefItemDetail td.chefValue{padding:3px;vertical-align:top}
table.chefItemDetail td{padding:3px;vertical-align:top}
table.chefSectionContent{margin:10px 10px 0px 15px;width:98%}
table.chefSectionContent th{
background-color: #C8C8C8;
font-size:.9em;
font-weight:normal;
padding:3px;
text-align:left
}
table.chefSectionContent td.content{border: 1px solid #C8C8C8}
.chefPortletContainer   table.chefEditItem{margin:20px 10px 0px 10px;width:auto}
.chefPortletContainer  table.chefEditItem td.chefLabel{border-right:1px solid #FFFFFF;padding-right:10px;text-align:left;vertical-align:text-top;font-weight:bold}
.chefPortletContainer table.chefSectionContent td.content{border: 1px solid #C8C8C8;padding:5px}
.chefPortletContainer   table.chefEditItem td.chefContent{}
.chefPortletContainer table td{padding-right:5px}
.chefPortletContainer .chefAttachmentList{margin:5px 5px 5px 5px;padding:0px 0px 5px 0px}
.chefPortletContainer .chefAttachmentList li{font-size:.8em;list-style:none;margin:0px;padding:0px 0px 5px 0px}
.chefLeftIndent{clear:both;margin-left:1.3em;padding:0px}
/*.chefPre{font-size:1em;white-space:-moz-pre-wrap}*/
.chefPre{font-size:1em}
.chefWorksiteUnit{
border-bottom: 1px solid #9B9B9B;
border-top: 10px solid #9B9B9B;
padding:0px;
width:100%
}
.chefPresenceText{font-size:.7em;white-space:nowrap}
.chefPresenceListItem{
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:.8em;
margin-left:3px;
white-space:nowrap
}
.chefPaneHolder{
background-color:transparent;
color: #6E6E6E;
font-weight:bold;
margin:0px;
padding:0px 8px 8px 8px;
text-decoration:none
}
.chefFloatPaneHolder{
background-color:transparent;
color: #6E6E6E;
font-weight:bold;
margin:0px;
padding:5px;
text-decoration:none
}
#chefPaneTitle{color: #646464;margin:5px;padding:0px}
.chefChatUserName{font-weight:bold}
.chefChatTimeStamp{font-size:.8em;font-weight:normal}
.chefChatMessageBody{}
.chefTitleIFrame{display:block;height:21px;margin:0px}
.chefContentIFrame{display:block;height:50px;margin:0px}
.chefCourierClock{background-color:#fff;color: #666666;font-size:8pt;text-align:right}
.chefCourierFrame{background-color:#fff;
text-align: right;
float:right;
}
/*#courier{border-color:transparent;border-style:solid;border-width:0px;width:0px}*/
.helpDocHeader{color: Gray;font-weight:bold;padding-bottom:15px;padding-top:15px}
.helpDocContent{padding-left:1.5em;text-align:left}
.PortletContainer{border:1px solid #4A4A4A}
#submitnotif{
background-color:#FFFFD6;
background-image:url(/sakai-shared/image/warn.gif);
background-position: 3px 3px;
background-repeat:no-repeat;
border:1px solid #CA0000;
clear:none;
color:#CA0000;
font-size:x-small;
text-decoration:blink;
vertical-align: text-top;
margin:0;
padding:5px 5px 5px 25px
}