BODY{width:100%;padding:0px;font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;}

/*GROUP 1 - top navigation*/

#tabNavigation {
	background: #000;
	white-space: nowrap;
	list-style: none none none;
	font-size: .8em;
	margin: 0 0 0 3px;
	padding: 4px 0 4px 4px;
	width:100%;
}
#tabBottom{
	color:#000;
	font-size: .7em;
	background-color: #fff;	
	text-align: right;
	padding:3px 12px 3px 3px;
	margin-bottom:0;
}	
.tabHolder{width:100%;height:auto;padding-top:1px;background-color: #000;} 
#tabBottom a, #tabBottom a:link, #tabBottom a:visited {color:#fff;white-space: nowrap;text-decoration:none}
#tabBottom  a:hover {color:fff;text-decoration: underline;white-space: nowrap;}
html #tabNavigation/* */ {padding: 4px 0 4px 0}
html>body #tabNavigation {margin: 0;padding: 4px 0 4px 0}
#tabNavigation li {display: inline;line-height: .9em;}
#tabNavigation a, #tabNavigation a:link, #tabNavigation a:visited {
	background-image: url(topleft-tab.gif);
	background-position: top left;
	background-repeat: no-repeat; 
	background-color: #FB574C;
	color: #000;
	height: .8em;
	margin: 0px 0 0px 0;
	padding: 2px 6px 2px 6px;
	text-decoration: none
	}
html #tabNavigation a/* */, html #tabNavigation a:link/* */, html #tabNavigation a:visited/* */ {
	border-bottom: none;
	height: auto;
	margin: 0
}
html>body #tabNavigation a, html>body #tabNavigation a:link, html>body #tabNavigation a:visited {border-bottom: none;padding: 4px 6px 4px 6px}
\head+body #tabNavigation a, \head+body #tabNavigation a:link, \head+body #tabNavigation a:visited {padding: 3px 6px 3px 6px}
#tabNavigation a:hover {background: #fff;color: #000;background-image: url(topleft-tab_hov.gif);
	background-position: top left;
	background-repeat: no-repeat; }
#tabNavigation .selectedTab a, #tabNavigation .selectedTab a:link, #tabNavigation .selectedTab a:visited, #tabNavigation .selectedTab a:hover {
	background-image: url(topleft-curtab.gif);
	background-position: top left;
	background-repeat: no-repeat; 
	background-color: #fff;
	color: #000;
	padding: 3px 5px 4px 5px
}
html>body #tabNavigation .selectedTab a, html>body #tabNavigation .selectedTab a:link, html>body #tabNavigation .selectedTab a:visited {padding: 4px 5px 5px 5px}
\head+body #tabNavigation .selectedTab a, \head+body #tabNavigation .selectedTab a:link, \head+body #tabNavigation .selectedTab a:visited, \head+body #tabNavigation .selectedTab a:hover {padding: 3px 5px 4px 5px}
.fixTabsIE {visibility: hidden;display:none;border-width:0;}

/*GROUP 2 - masthead */

.mast-head{width: 100%;background-color: #FB574C;margin:0px;font-size:.8em;color:#000}
.mast-head-r{text-align: right;white-space: nowrap;padding-right:10px;}
.mast-head-r a, .mast-head-r a:visited{color: #000;text-decoration: none;font-weight:bold; padding:3px}
.mast-head-r a:hover {color : #FB574C	;padding:3px; background-color:#000;font-weight:bold; }
.mast-head-r ul{margin:5px;list-style: none;font-size: .8em;}
.mast-head-r ul li{display: inline;margin:0px;}

/* GROUP 3 - content and channels */

.content-table		{
margin:0;
background-color:#fff;
border-right:10px solid #fff;
border-bottom:10px solid #fff;

}
.content-table td {padding:0px;	background-color:#fff}
#nav {padding:0px;width:8em;background-color:#fff}
.channelTitle{height:1.2em;
	background-color:#FB574C;
	border:1px solid #000;	
/*	background-image: url(topleft2.gif);
	background-position: 0 0;
	background-repeat: no-repeat; */
	white-space:nowrap;
	margin-left:0;
	margin-right:1em;		
	width:auto
}
.channelTitleIframe{
	width:95%;	right: 1em;	left:1em;height:20px;
}

.uportalchannelcontent{
	border-style: solid #000;
	border-width: 1px 1px 1px 1px;
	border-style:solid;
	background-color:#fff;
	text-align: left;
	margin-left:0;
	margin-right:1em;	
	width:auto
}	
.channelTitleLeft{color:#000;float:left;padding:4px 4px 2px 2px;text-indent:5px;font-size:70%;	border-collapse: collapse;	vertical-align: middle;}
.channelActions{
	float:right;
	font-size:small;
/*	background-image: url(topright2.gif);
	background-position: top right;
	background-repeat: no-repeat; */
	padding:4px;
}
.channelActions a, .channelActions a:visited {padding:0 2px 0 2px}
.channelActions  a:hover {padding:0 2px 0 2px}

/* GROUP 4 - tool nav */

#leftnavlozenge {
	width: 11em;
	padding: 0;
	margin-bottom: 1em;
	margin-right: .5em;
	font-size:70%;
	}
#leftnavlozenge ul {
		list-style: none;
		margin: 0;
		padding: 0;
		border: none;
		}
	#leftnavlozenge li {margin: 0;}

#leftnavlozenge li a {
		display: block;
		padding: 5px 5px 5px 0.5em;
		color: #000;
		text-decoration: none;
		width: 100%;
		}
#leftnavlozenge li a.selected {
		display: block;
		padding: 5px 5px 5px 0.5em;		
		background-color: #fff;
		color: #FB574C;
		text-decoration: none;
		width: 100%;
		background-image: url(../icons/nav-ic-s.gif);
		background-position: center right;
		background-repeat: no-repeat; 
		}
	
	html>body #leftnavlozenge li a {	width: auto;}
	#leftnavlozenge li a:hover {
		text-decoration:none;
		background-color: #FB574C;
		background-image: url(../icons/nav-ic-h.gif);
		background-position: center right;
		background-repeat: no-repeat; 
		color: #000;
		width: 100%;
		}

input {border:1px solid #AD71AD;background-color:#fff;padding:3px;font-family:Verdana, Geneva, Arial, Helvetica, sans-serif}
.button {border:1px solid #AD71AD;background-color:#DEC3DE;margin-left:1em;padding:1px}
.sakaiExternalNav
{
	background-color:#FB574C;
	color:#000;
	font-size:xx-small;
	margin:0px;
	padding:.5em;
	width:auto
}
.sakaiExternalNav A,.sakaiExternalNav A:link,.sakaiExternalNav A:visited
{
	color:#000;text-decoration:none
}
.sakaiExternalNav A:hover
{
	color:#000;text-decoration:underline
}
.sakaiPortalFooter
{
	background-color:#FFF;
	font-size:xx-small;
	padding:.5em 2em 0 2em;
	text-align:center
}
.sakaiPaneTitle
{
	background-color:transparent;
	color:#51698D;
	font-weight:bold;
	margin:0px;
	padding:0px 8px 8px 8px;
	text-decoration:none
}
.sakaiAlertBox
{
	background-color:#FFF8DF;
	background-image:url(/sakai-shared/image/warn.gif);
	background-position:.3em .3em;
	background-repeat:no-repeat;
	border:1px solid #B8B88A;
	clear:both;
	color:#663300;
	font-size:x-small;
	margin:5px 2px 15px 2px;
	padding:3px 3px 5px 25px
}
#presence{
	border:1px solid #fff
}