<div class="portletBody">
	<h3>
		$tlang.getString("delcat.delcat")
	</h3>
	#if ($alertMessage)<div class="alertMessage">$tlang.getString("gen.alert") $validator.escapeHtml($alertMessage)</div><div style="display:block;clear:both"></div>#end
	<script type="text/javascript">
		focus_path = [ "eventSubmit_doDelete_category" ];
		if (parent) if (parent.parent) parent.parent.window.scrollTo(0,400);
	</script>
	#if (!$delete_messages || !$delete_messages.hasNext())
		<div class="alertMessage">$tlang.getString("delcat.areyousure1") $category? </div><div style="display:block;clear:both" />
	#else
		<div class="alertMessage">$tlang.getString("delcat.areyousure2") $category?  $tlang.getString("delcat.allmes")</div><div style="display:block;clear:both" />
		#set ($depthUnit="em")
		<form name="forNotLetDeleteSelectedOnLoad"></form>
			#foreach ($delete_item in $delete_messages)
				<div style="margin-left:$delete_item.ReplyToDepth$depthUnit">
					#if ($delete_item.Header.draft)
						<span class="highlight">$tlang.getString("gen.dra") </span>
					#end
					$validator.escapeHtml($delete_item.Header.subject)
					<p class="instruction" style="font-size:.9em;margin-top:.2em;margin-left:0">
						$validator.escapeHtml($delete_item.Header.From.DisplayName)
						$delete_item.Header.Date.toStringLocalFullZ()
					</p>	
				</div>	
				#end

	#end
	<form action="#toolForm($action)" method="post">
		<div class="act">
			<input type="hidden" name="category" value="$validator.escapeHtml($category)" />
			<input type="submit" class="active"  name="eventSubmit_doDelete_category" id="eventSubmit_doDelete_category" value="$tlang.getString("delcat.delcat")" />
			<input type="submit" name="eventSubmit_doCancel_delete_category" value="$tlang.getString("gen.can")" />
		</div>
	</form>
</div>
