## $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/support/chef_contactsupport_doc.vm,v 1.2 2005/05/24 19:36:34 gsilver.umich.edu Exp $

<script type="text/javascript">
	focus_path = [ "username" ];
</script>

<div class="portletBody">


<form action="#toolForm("$action")" method="post">
<div class="act">
    <input type="button" value="$tlang.getString("doc.help")" onclick="sitehelp('$config.getString("help.url")')" title="$tlang.getString("doc.opein")" />
    #if ($!showContact)
    		<input type="submit" name="eventSubmit_doNew" value="$tlang.getString("doc.conus")" />
    	#end
</div>

<h4>$tlang.getString("doc.dont1")</h4>
<div style="margin:1em 0 1em 2em">$tlang.getString("doc.in") $config.getString("ui.service") $tlang.getString("doc.wedont")<br></div>

<h4>$tlang.getString("doc.dont2")</h4>
<div style="margin:1em 0 1em 2em">
$config.getString("ui.service") $tlang.getString("doc.doesnot")<br>
</div>

<h4>$tlang.getString("doc.hav")</h4>
<div style="margin:1em 0 1em 2em">
$tlang.getString("doc.dont3") $config.getString("ui.service")$tlang.getString("doc.thebac") $config.getString("ui.service")$tlang.getString("doc.inst") </div>

<h4>$tlang.getString("doc.dont4")</h4>
<div style="margin:1em 0 1em 2em">$tlang.getString("doc.ifyou")</div>

<h4>$tlang.getString("doc.queabo")</h4>
<div style="margin:1em 0 1em 2em">$tlang.getString("doc.ifyou2")</div>

<h4>$tlang.getString("doc.neto")</h4>
<div style="margin:1em 0 1em 2em">
$tlang.getString("doc.toret")
<img src = "#imageLink("toolhome.gif")" border="0" />
$tlang.getString("doc.but") </div>

<h4>$tlang.getString("doc.wouyou")</h4>
<div style="margin:1em 0 1em 2em">$tlang.getString("doc.cli")</div>

<br/><br/>$tlang.getString("doc.ifyou3")

<div class="act">
    <input type="button" value="$tlang.getString("doc.help")" onclick="sitehelp('$config.getString("help.url")')" title="$tlang.getString("doc.opein")" />
    <input type="submit" name="eventSubmit_doNew" value="$tlang.getString("doc.conus")" />
</div>
</form>

</div>

