##<!-- $Header: /cvs/sakai/chef-tool/src/webapp/vm/assignment/chef_assignments_student_list_assignments.vm,v 1.3 2004/08/13 04:02:23 zqian.umich.edu Exp $ -->
<div class="chefPortletContainer">
	#if($menu)#toolbar($menu)#end
	<div class="chef2ndToolbarWrap">
		<table class="chef2ndToolbar" cellspacing="0" summary="this is for second toolbar, containing dropdown view list, search area and paging" >
			<tr class="first">
				<td class="left">
					#if ($allowAddNewAssignment)
						<form name="viewForm" class="toolbarForm" method="post" action="#toolForm("AssignmentAction")">
							<input type="hidden" name="eventSubmit_doView" value="view" />
							View:
							<select name="view" size="1" tabindex="3" onchange="blur();document.viewForm.submit();">
								#foreach ($view in ["Please Choose a View", "List of Assignments", "List of Assignments by student", "Grade Report", "Student View"])
									#if ($selectedView.equals($view))
										<option value="$view" selected="selected" >$view</option>
									#else
										<option value="$view" >$view</option>
									#end
								#end
							</select>
						</form>
					#end
				</td>
				<td class="right">
					#*removed for now
					<form name="searchForm" class="toolbarForm" action="#toolForm("AssignmentAction")" method="post">
						<input size="15" value="$searchString" name="$form_search" id="$form_search" type="text" class="searchField" style="background-color:#fff" />
						<input type="submit" name="eventSubmit_doSearch" value="Search" accesskey="a" />
						#if (($!searchString) && (!$searchString.equals("")))
							<input type="submit" name="eventSubmit_doSearch_clear" value="Clear Search" accesskey="a" />
						#end
					</form>
					*#
					&nbsp;
				</td>
			</tr>
			#if (($prev_page_exists) || ($next_page_exists))
				<tr class="second">
					<td class="left">
						&nbsp; 
					</td>
					<td class="right">
						<form name="pagingForm" class="toolbarForm" method="post">
							#if ($paged)
								#if ($totalPageNumber > 1)
									Page:
									#if ($prev_page_exists)
										<a href="#toolLink("AssignmentAction" "doList_prev")" title="View Previous Page"><img src="#imageLink("chef/back.gif")" alt="View Previous Page" border="0" width="4" height="9" align="baseline" /></a>
									#else
										<img src="#imageLink("chef/s.gif")" alt="" border="0" width="4" height="9" align="baseline" />
									#end
									#foreach ($pageNumber in [1..$totalPageNumber])
										#if ($pageNumber == $current_page)
											<span class="chefAlert">$pageNumber</span>
										#else
											<a href="#toolLink("AssignmentAction" "doView_page")&$formPageNumber=$pageNumber" title="View page $pageNumber of $totalPageNumber">$pageNumber</a>
										#end
									#end
									#if ($next_page_exists)
										<a href="#toolLink("AssignmentAction" "doList_next")" title="View Next Page"><img src="#imageLink("chef/forward.gif")" alt="View Next Page" border="0" width="4" height="9" align="baseline" /></a>
									#else
										<img src="#imageLink("chef/s.gif")" alt="" border="0" width="4" height="9" align="baseline" />
									#end
									|
									<a href="#toolLink("AssignmentAction" "doToggle_paging")" title="Show All">
										Show All
									</a>
								#end
							#else
								<a href="#toolLink("AssignmentAction" "doToggle_paging")" title="Show Paging">
									Pages</a>
								| Show All
							#end
						</form>
					</td>
				</tr>
			#end	
		</table>
	</div>	
	<div class="chefPortletContent">		
		<div class="chefPageviewTitle">
			Select an assignment to view details, start working or edit your previous work.
		</div>
		#if ($alertMessage)<div class="chefAlertBox">Alert: $validator.escapeHtml($alertMessage)</div>#end
		<form name="studentForm" action="#toolForm("AssignmentAction")" method="post">
			#if (!$assignments.hasNext())
				<div class="chefPageviewTitle">
					<div class ="chefLeftIndent">
						<br />There are currently no assignments at this location.
					</div>	
				</div>
			#else
				<table class="chefFlatListViewTable" cellspacing="0" summary="this is a list of assignments" >
					<tr>
						<th id="attachment">
							&nbsp;&nbsp;
						</th>
						<th id="title">
							<a href="#" onclick="location='#toolLink("AssignmentAction" "doSort")&criteria=title'; return false;">
								Assignment title
								#if ($sortedBy.equals("title")) 
									#if ($sortedAsc.equals("true")) 
										<img src = "#imageLink("chef/sortascending.gif")" border="0" alt="sort ascending" /> 
									#else 
										<img src = "#imageLink("chef/sortdescending.gif")" border="0" alt="sort dscending" /> 
									#end 
								#end 
							</a>
						</th>
						#*
						<th id="section">
							<a href="#" onclick="location='#toolLink("AssignmentAction" "doSort")&criteria=section'; return false;">
								Section
								#if ($sortedBy.equals("section")) 
									#if ($sortedAsc.equals("true")) 
										<img src = "#imageLink("chef/sortascending.gif")" border="0" alt="sort ascending" /> 
									#else 
										<img src = "#imageLink("chef/sortdescending.gif")" border="0" alt="sort descending" /> 
									#end 
								#end 
							</a>
						</th>
						*#
						<th id="duedate">
							<a href="#" onclick="location='#toolLink("AssignmentAction" "doSort")&criteria=duedate'; return false;">
								Due
								#if ($sortedBy.equals("duedate")) 
									#if ($sortedAsc.equals("true")) 
										<img src = "#imageLink("chef/sortascending.gif")" border="0" alt="sort ascending" /> 
									#else 
										<img src = "#imageLink("chef/sortdescending.gif")" border="0" alt="sort descending" /> 
									#end 
								#end 
							</a>
						</th>
						<th id="status">
							<a href="#" onclick="location='#toolLink("AssignmentAction" "doSort")&criteria=submission_status'; return false;"> 
								Status
								#if ($sortedBy.equals("submission_status")) 
									#if ($sortedAsc.equals("true")) 
										<img src = "#imageLink("chef/sortascending.gif")" border="0" alt="sort ascending" /> 
									#else 
										<img src = "#imageLink("chef/sortdescending.gif")" border="0" alt="sort descending" /> 
									#end 
								#end 
							</a>
						</th>
						<th id="grade">
							<a href="#" onclick="location='#toolLink("AssignmentAction" "doSort")&criteria=grade'; return false;">
								Grade
								#if ($sortedBy.equals("grade")) 
									#if ($sortedAsc.equals("true")) 
										<img src = "#imageLink("chef/sortascending.gif")" border="0" alt="sort ascending" /> 
									#else 
										<img src = "#imageLink("chef/sortdescending.gif")" border="0" alt="sort descending" /> 
									#end 
								#end 
							</a>
						</th>
						<th id="maxgrade">
							<a href="#" onclick="location='#toolLink("AssignmentAction" "doSort")&criteria=max_grade'; return false;" title="Sort by max grade available">
								Scale
								#if ($sortedBy.equals("max_grade")) 
									#if ($sortedAsc.equals("true")) 
										<img id="sortascendingungraded" src = "#imageLink("chef/sortascending.gif")" border="0" alt="Sort ascending" /> 
									#else 
										<img id="sortdescendingungraded" src = "#imageLink("chef/sortdescending.gif")" border="0" alt="Sort descending" /> 
									#end 
								#end 
							</a>
						</th>
					</tr>
					#foreach ($assignment in $assignments)
						#set($submission=false)
						#set($submission=$service.getSubmission($assignment.Reference, $user))
						#if (!$assignment.draft)
							<tr>
								<td headers="attachment">
									#set ($size = 0)
									#if (!$assignment.getContent().getAttachments().isEmpty())
										#foreach ($attachment in $assignment.getContent().getAttachments()) 
											#set ($props = $attachment.Properties) 
											#if ($!props)
												#set ($size = $size + 1)
											#end
										#end
									#end
									#if ($size > 0)
										<img src="#imageLink("chef/attachments.gif")" border="0" width="13" height="11"	>
									#end
									&nbsp;
								</td>
								<td headers="title">
									<a href="#toolLink("AssignmentAction" "doView_submission")&assignmentReference=$assignment.Reference">
									$validator.limit($validator.escapeHtml($assignment.getTitle()), 40)</a>
									#set ($deleted = false)
									#set ($deleted = $assignment.getProperties().getProperty($assignment.getProperties().getNamePropAssignmentDeleted()))
									#if ($!deleted.equalsIgnoreCase("true"))
										<span class="chefAlert">(Assignment has been deleted)</span>
									#end
								</td>
								#*
								<td headers="section">
									$assignment.getSection()
								</td>
								*#
								<td headers="duedate">
									#if ((($!assignment.getDueTime().before($currentTime)) && (!$submission)) || ($!submission.getTimeSubmitted().after($assignment.DueTime)))
										<!--if due date passed and no started then class="chefAlert"-->
										<span class="chefAlert">$!assignment.getDueTime().toStringLocalFull()</span>
									#else
										$!assignment.getDueTime().toStringLocalFull()
									#end
								</td>
								<td headers="status">
									#if ($!submission)
										  #if ($submission.getSubmitted())
											#if ($submission.returned)
												#if ($submission.TimeReturned.after($submission.TimeSubmitted))
													Returned $submission.timeReturned.toStringLocalFull()
												#else
													Re-submitted $submission.TimeSubmitted.toStringLocalFull()
													#if ($submission.getTimeSubmitted().after($assignment.DueTime))
														<span class="chefAlert"> late</span>
													#end
												#end
											#elseif ($submission.getGraded() && $submission.getGradeReleased())
												Graded
											#else
												Submitted $submission.timeSubmitted.toStringLocalFull()
												#if ($submission.getTimeSubmitted().after($assignment.DueTime))
													<span class="chefAlert">- late</span>
												#end
											<!--missing -if saved...In progress-->
											#end
										  #else
											In progress
										  #end
									#else
										Not Started
									#end
								</td>
								<td headers="grade">
									#if ($submission.getGraded() && $submission.getGradeReleased())
										##show grade when released
										<a href="#" onclick="location='#toolLink("AssignmentAction" "doView_grade")&submissionId=$submission.Reference'; return false;">
											$submission.getGradeDisplay()
										</a>
									#end
								</td>
								<td headers="maxgrade">
									#set ($gradeScale = $assignment.getContent().getTypeOfGrade())
									#if ($gradeScale == -1)
										## Grade type not set 
										Not Set
									#elseif ($gradeScale == 1)
										## Ungraded grade type
										No grade
									#elseif ($gradeScale == 2)
										## Letter grade type 
										A-F
									#elseif ($gradeScale == 3)
										## Score based grade type
										0-$assignment.getContent().getMaxGradePointDisplay()
									#elseif ($gradeScale == 4)
										## Pass/fail grade type 
										P/F
									#elseif ($gradeScale == 5)
										## Grade type that only requires a check
										<img src="#imageLink("chef/checkon.gif")" border="0" alt="Checkmark" />
									#end
								</td>
							</tr>
						#end
					#end
				</table>
			#end
		</form>	
		#if (($prev_page_exists) || ($next_page_exists))
			<table class="chef2ndToolbar" cellspacing="0" summary="Paging" style="margin-top:30px">
				<tr class="second">
					<td class="left">
						&nbsp; 
					</td>
					<td class="right">
						<form name="pagingForm" class="toolbarForm" method="post">
							#if ($paged)
								#if ($totalPageNumber > 1)
									Page:
									#if ($prev_page_exists)
										<a href="#toolLink("AssignmentAction" "doList_prev")" title="View Previous Page"><img src="#imageLink("chef/back.gif")" alt="View Previous Page" border="0" width="4" height="9" align="baseline" /></a>
									#else
										<img src="#imageLink("chef/s.gif")" alt="" border="0" width="4" height="9" align="baseline" />
									#end
									#foreach ($pageNumber in [1..$totalPageNumber])
										#if ($pageNumber == $current_page)
											<span class="chefAlert">$pageNumber</span>
										#else
											<a href="#toolLink("AssignmentAction" "doView_page")&$formPageNumber=$pageNumber" title="View page $pageNumber of $totalPageNumber">$pageNumber</a>
										#end
									#end
									#if ($next_page_exists)
										<a href="#toolLink("AssignmentAction" "doList_next")" title="View Next Page"><img src="#imageLink("chef/forward.gif")" alt="View Next Page" border="0" width="4" height="9" align="baseline" /></a>
									#else
										<img src="#imageLink("chef/s.gif")" alt="" border="0" width="4" height="9" align="baseline" />
									#end
									|
									<a href="#toolLink("AssignmentAction" "doToggle_paging")" title="Show All">
										Show All
									</a>
								#end
							#else
								<a href="#toolLink("AssignmentAction" "doToggle_paging")" title="Show Paging">
									Pages</a>
								| Show All
							#end
						</form>
					</td>
				</tr>
			</table>
		#end	
	</div>
 </div>