##<!-- $Header: /cvs/sakai/chef-tool/src/webapp/vm/sitesetupgeneric/chef_sitemanage-siteDeleteConfirm.vm,v 1.1 2004/12/15 22:09:34 suiyy.umich.edu Exp $ -->
<div class="chefPortletContainer">
	<h3 class ="insColor insBak insBor">Removing Site...</h3>
	
	<div class="chefPortletContent">
		#if ($alertMessage)<div class="chefAlertBox">Alert: $validator.escapeHtml($alertMessage)</div>#end
		<p class="instructions">SYou have selected the following site for removal: $validator.escapeHtml($site.getTitle()</p>
			
		<p class="validation">
		Deleting a site removes the entire site's content and is not recoverable - no one else will be able to access the deleted site. If you are trying to remove yourself from the site, use the Membership tool in your My Workspace to unjoin yourself from the site. 
		</p>
			
		<form action="#toolForm("$action")" method="post">
			<input type="hidden" name="continue" value="31" />
			<input type="hidden" name="template-index" value="40" />
			<input type="hidden" name="back" value="31" />
			<p class="act">
				<input type="submit" name="eventSubmit_doSite_delete_confirmed" value="Remove" />
				<input type="submit" name="eventSubmit_doCancel" value="Cancel" />
			</p>
		</form>
	</div>
</div>
