##<!-- $Header: /cvs/sakai/chef-tool/src/webapp/vm/dissertation/chef_dissertations_committee_edit_stepstatus.vm,v 1.3 2004/07/26 20:13:02 rwellis.umich.edu Exp $ -->
## Dissertations - Committee edit Dissertation Step view
<div class="chefPortletContainer">
	<div class="chefPortletToolBarMessage">
		Revise A Step
	</div>
	<form name="editForm" id="editFrom" action="#toolForm($action)" method="post" >
		##<input type="hidden" name="stepid" id="stepid" value="$step.Id" />
		<input type="hidden" name="statusreference" id="statusreference" value="$step.Reference" />
		<div class="chefPortletContent">
			<table class="chefEditItem">
				<tr> 
					<td class="chefLabel" align="left" width="20%">
						<label for="desc"><span class="chefRequiredInline">&nbsp;</span>Description&nbsp;:&nbsp;</label>
					</td>
					<td colspan=2>
						<textarea name="desc" cols="70" rows="6" id="desc" wrap="virtual">$validator.escapeHtmlTextarea($step.InstructionsText)</textarea>
					</td>
				</tr>
				<tr valign="top"> 
					<td class="chefLabel" align="left" width="20%">
						<label for="vtype"><span class="chefRequiredInline">&nbsp;</span>Actor&nbsp;:&nbsp;</label>
					</td>
					<td align="left">
						<select onchange="blur()" name="vtype" id="vtype" tabindex="5">
							#foreach ($type in $validationtypes)
								#if ($type.equals($step.getValidationType()))
									<option value="$type" selected="selected">$validationTypeTable.get($type)</option>
								#else
									<option value="$type">$validationTypeTable.get($type)</option>	
								#end
							#end
						</select>
					</td>
				</tr>
				#if ($currentprerequisites.hasNext())
					<tr valign="top">
						<td class="chefLabel" valign="top" width="20%">
							<label for="removeprereqs">Current prerequisites&nbsp;:&nbsp;<br />Select to remove</label>
						</td>
						<td align="left">
							<select onchange="blur()" name="removeprereqs" id="removeprereqs" multiple="multiple" tabindex="6">
								#foreach ($currentprereq in $currentprerequisites)
									<option value="$currentprereq.Reference">$currentprereq.ShortInstructionsText</option>
								#end
							</select>
						</td>
					</tr>
				#else
					<tr valign="top" clientHeight="100" offsetHeight="100">
						<td class="chefLabel" clientHeight="100" offsetHeight="100" valign="top" width="20%">Current prerequisites&nbsp;:&nbsp;</td>  <td align="left">none</td>
					</tr>
				#end

				<tr valign="top">
					<td class="chefLabel" valign="top" width="20%">
						<label for="addprereqs">Add prerequisites for this step&nbsp;:&nbsp;</label>
					</td>
					<td align="left">
						<select onchange="blur()" name="addprereqs" id="addprereqs" multiple="multiple" tabindex="6">
							#foreach ($prereq in $prerequisites)
								<option value="$prereq.Reference">$prereq.ShortInstructionsText</option>
							#end
						</select>
					</td>
				</tr>
			</table>
			<div class="chefButtonRow">
				<input type="submit" name="eventSubmit_doUpdate_stepstatus_comm" value="Save" />
				<input type="submit" name="eventSubmit_doCancel_committee" value="Cancel" />
			</div>
		</div>
	</form>
</div>