<div class="PortletContainer">
		#if ($alertMessage)<div class="alertMessage">$thelp.getString("gen.alert") $validator.escapeHtml($alertMessage)</div>#end
<table cellspacing="0" height=5 >
	<tr>
		<td colspan=3>
			&nbsp;
		</td>
	</tr>
	<tr>
		<td colspan=3>
			$thelp.getString("add.cho")
		</td>
	</tr>
	<tr>
		<td colspan=3>
			&nbsp;
		</td>
	</tr>
	<form name="form2" method="post" action="#toolForm("AttachmentAction")" >
		<input type="hidden" name="from" value="show" />
		<input type="hidden" name="collectionId" value="$validator.escapeHtml($collectionId)" />
		<tr>
			<td width="10%" align="left">
				&nbsp;
			</td>
			<td colspan=2>
				<input type="radio" name="itemType" value="file" checked>
					$thelp.getString("add.doc")
				</input>
			</td>
		</tr>

		<tr>
			<td width="10%">
				&nbsp;
			</td>
			<td colspan=2>
				<input type="radio" name="itemType" value="Url">
					$thelp.getString("add.url")
				</input>
			</td>
		</tr>
		<tr>
			<td width="10%">
				&nbsp;
			</td>
			<td colspan=2>
				<input type="radio" name="itemType" value="fromResources">
					$thelp.getString("add.fro")
				</input>
			</td>
		</tr>
		<tr>
			<td width="10%">
				&nbsp;
			</td>
			<td width ="30%">
				<input type="submit" name="eventSubmit_doAdditem" value="$thelp.getString("Continue")"  />
				&nbsp;&nbsp;
				<input type="submit" name="eventSubmit_doCancel" value="$thelp.getString("Cancel")" />
			</td>
			<td>
				&nbsp;
			</td>
		</tr>
	</form>
</table>
</div>
