<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body>
 <p>This package provides the Sakai component framework Service API.</p>
 <p>The <strong>ComponentManager</strong> can be used to register and locate service components.</p>
 <p>A component is a java class which implements a Service API. Clients using a component are dependent only on the API, and can use any java class which implements the API. By using the component manager, the client class does not know which component has been selected, and has no dependency on any specific components. </p>
 <p>The component manager provides configuration setting and dependent component injection. When it creates a component, it will satisfy any dependencies that is has on other Services from the set of components registered with the manager. This is controlled by each component's registration information.</p>
</body>
</html>
