body{width:100%;padding:0px;font-family:Verdana,Geneva,Arial,Helvetica,sans-serif}
/*GROUP 1 - top navigation*/
/*container for the #tabNavigation ul*/
.tabHolder{width:100%;height:1.3em;padding:1px 0 0 3px;margin:0;background:#58894D}
/*ul - the li are the tabs*/
#tabNavigation{
white-space:nowrap;
list-style:none none none;
font-size:.8em;
margin:0 0 0 3px;
padding:4px 0 4px 0;
width:100%;
height:1.2em;
vertical-align:bottom
}
/*displays a bar on bottom of tabs - following a declarations are to be used when the template file allows displaying the tool links horizontally under the tabs*/
#tabBottom{
background-color:#FFFFD6;
color:#fff;
font-size:.7em;
text-align:right;
padding:3px 12px 3px 3px;
margin:0;
clear:both
}
#tabBottom a,#tabBottom a:link,#tabBottom a:visited{color:#fff;white-space:nowrap;text-decoration:none}
#tabBottom  a:hover{color:#fff;text-decoration:underline;white-space:nowrap}
/*hacks for ie and moz/saf */
html #tabNavigation/* */{padding:4px 0 0 0;height:1.3em;vertical-align:bottom}
html>body #tabNavigation{margin:0;padding:4px 0 0px 0;height:1.3em;vertical-align:text-bottom}
/*the tab*/
#tabNavigation li{
display:inline;
line-height:1.2em;
background-image:url(topright-tab.gif);
background-position:top right;
background-repeat:no-repeat;
background-color:#BBD6B6;
margin-right:2px;
padding-right:5px
}
/*the current tab*/
#tabNavigation li.selectedTab{
display:inline;
line-height:.9em;
border-right:1px solid #58894D;
background-image:url(topright-curtab.gif);
background-position:top right;
background-repeat:no-repeat;
background-color:#FFFFD6;
margin-right:5px
}
\head+body #tabNavigation li.selectedTab{border-bottom:1px solid #FFFFD6}
/*the link inside the tab*/
#tabNavigation a,#tabNavigation a:link,#tabNavigation a:visited{
background-image:url(topleft-tab.gif);
background-position:top left;
background-repeat:no-repeat;
background-color:#BBD6B6;
color:#052B32;
height:.8em;
margin:0px 5px 0px 0;
padding:2px 0px 2px 6px;
text-decoration:none
}
/*hack*/
html #tabNavigation a/* */,html #tabNavigation a:link/* */,html #tabNavigation a:visited/* */{border-bottom:none;height:auto;margin:0}
/*ie mac hacks*/
*>html #tabNavigation{vertical-align:text-bottom;padding-bottom:0}
*>html #tabNavigation li{padding:0 10px 0 0;margin:0 -10px 0 0}
*>html #tabNavigation a{margin:0;line-height:1.3em}
html>body #tabNavigation a,html>body #tabNavigation a:link,html>body #tabNavigation a:visited{border-bottom:none;padding:0px 6px 0px 6px}
\head+body #tabNavigation a,\head+body #tabNavigation a:link,\head+body #tabNavigation a:visited{padding:0px 6px 0px 6px}
/*the hover for the tabs*/
#tabNavigation a:hover{text-decoration:underline;color:#052B32}
/*the link inside the current tab*/
#tabNavigation .selectedTab a,#tabNavigation .selectedTab a:link,#tabNavigation .selectedTab a:visited,#tabNavigation .selectedTab a:hover{
background-image:url(topleft-curtab.gif);
background-position:top left;
background-repeat:no-repeat;
background-color:#FFFFD6;
color:#052B32;
padding:2px 6px 2px 6px;
text-decoration:none
}
html>body #tabNavigation .selectedTab a,html>body #tabNavigation .selectedTab a:link,html>body #tabNavigation .selectedTab a:visited{border-bottom:none;padding:0px 6px 0px 6px}
\head+body #tabNavigation .selectedTab a,\head+body #tabNavigation .selectedTab a:link,\head+body #tabNavigation .selectedTab a:visited,\head+body #tabNavigation .selectedTab a:hover{padding:0px 6px 0px 6px;border-bottom:3px solid #FFFFD6}
\head+body #tabNavigation li.selectedTab{border-bottom:3px solid #FFFFD6}
.fixTabsIE{visibility:hidden;display:none;border-width:0}
/*a convenience class - not used in these examples - overrides the color in selected regions*/
.divColor{background-color:#fff}
/*GROUP 2 - masthead */
/*the masthead - presnetly a table,soon a box*/
.mast-head{
width:100%;
margin:0px;
font-size:.8em;
color:#fff;
background-color:#010201;
background-image:url(mast-back.gif);
background-position:left top;
background-repeat:repeat-x;
height:3px
}
.mast-head td{padding:0 !important}
.mast-head td img{margin:0 !important}
/*the masthead - link cell*/
.mast-head-r{text-align:right;white-space:nowrap;padding-right:15px}
.mast-head-r a,.mast-head-r a:visited{color:#fff;text-decoration:none;margin-right:3em}
.mast-head-r a:hover{color:#fff;text-decoration:underline}
/*in case links need to display as a list*/
.mast-head-r ul{margin:5px;list-style:none;font-size:.8em}
.mast-head-r ul li{display:inline;margin:0px}
/* GROUP 3 - content and channels */
/*the middle layer - tool menu and content*/
.content-table{margin:0;background-color:#fff;border-top:1px solid #58894D}
/*general setting for this tables cells*/
.content-table td{padding:12px 6px 6px 12px !important;background-color:#fff;text-align:left}
/*the tool nav cell*/
#nav{padding:0px !important;width:8em;color:#052B32;border-right:1px solid #58894D}
/*the iframe holding the portlet title*/
.channelTitleIframe{width:95%;right:1em;left:1em;height:20px}
/*the box that holds the portlet iframe */
.uportalchannelcontent{
border:1px solid #58894D;
background-color:#fff;
text-align:left;
width:98%;
right:1em;
left:1em
}
/* GROUP 4 - tool nav */
/*the box that holds the ul whose li hold the link to tool content*/
#leftnavlozenge{
width:10em;
padding:0;
margin-bottom:1em;
margin-right:0em;
margin-left:0px;
font-size:70%;
clear:both
}
/*the ul mentioned above*/
#leftnavlozenge ul{list-style:none;margin:0;padding:0;border:none}
/*the li that hold the link to tool content*/
#leftnavlozenge li{margin:0}
/*the link to tool content*/
#leftnavlozenge li a{
display:block;
padding:5px 5px 5px .5em;
color:#052B32;
text-decoration:underline;
background-color:#fff;
width:100%
}
#leftnavlozenge li a:hover{
display:block;
padding:5px 5px 5px .5em;
color:#58894D;
text-decoration:underline;
background-color:#fff;
width:100%
}
/*the li holding the label/link to the present tool*/
#leftnavlozenge li a.selected{display:block;padding:5px 5px 5px .5em;color:#052B32;text-decoration:none;width:100%}
/*	moz + safari hacks*/
html>body #leftnavlozenge li a{width:auto}
/*for alerts in the tool link area*/
.sakaiAlertBox{
background-color:#fff;
background-image:url(/sakai-shared/image/warn.gif);
background-position:.3em .3em;
background-repeat:no-repeat;
border:1px solid #58894D;
clear:both;
color:#58894D;
font-size:x-small;
margin:5px 2px 15px 2px;
padding:3px 3px 5px 25px
}
/*bounding box for the presence iframe*/
#presence{border-top:1px solid #BBD6B6}
/*in case this skin is used as default - some definition for the login form elements*/
input{
border:1px solid #58894D;
background-color:#BBD6B6;
padding:3px;
font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;
color:#58894D
}
.button{
border:1px solid #58894D;
background-color:#BBD6B6;
margin-left:1em;
padding:1px;
color:#58894D
}
/*from here on down for defining very bottom slice*/
.sakaiExternalNav{
background-color:#FFFFD6;
color:#58894D;
border:1px solid #58894D;
border-right:0;
border-left:0;
font-size:xx-small;
margin:0px;
padding:.5em;
width:auto
}
.sakaiExternalNav A,.sakaiExternalNav A:link,.sakaiExternalNav A:visited{color:#58894D;text-decoration:none}
.sakaiExternalNav A:hover{color:#58894D;text-decoration:underline}
.sakaiPortalFooter{background-color:#FFF;font-size:xx-small;padding:.5em 2em 0 2em;text-align:center}