## $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/content/chef_resources_addURLBasic.vm,v 1.9 2005/06/03 14:55:17 gsilver.umich.edu Exp $ 

<script type="text/javascript" language="JavaScript">
  	focus_path = ["Url1"];
		
	function checkItem(copyrightIndex, fileIndex)
	{
		var obj_alert_name="copyrightAlert"+fileIndex;
		var obj_alert_item=document.getElementById(obj_alert_name);
		var obj_newcopyright_name="newcopyright"+fileIndex;
		var obj_newcopyright_item=document.getElementById(obj_newcopyright_name);
		if (copyrightIndex == 0)
		{
			obj_alert_item.checked=false;
			obj_newcopyright_item.disabled=true;
		}
		else if (copyrightIndex < 5)
		{
			obj_alert_item.checked=true;
			obj_newcopyright_item.disabled=true;
		}
		else if (copyrightIndex == 5)
		{
			obj_alert_item.checked=true;
			obj_newcopyright_item.disabled=false;
		}
	}
</script>
<div class="portletBody">
	<h3>
		$tlang.getString("gen.additems")
	</h3>

	#if ($alertMessage)<div class="chefAlertBox">$tlang.getString("gen.alert") $validator.escapeHtml($alertMessage)</div><div style="display:block;clear:both" ></div>#end
	<p class="instruction">
		$tlang.getString("gen.instr1")
	</p>
	<p class="instruction">
		$tlang.getString("gen.instr2") <span class="reqStarInline">*</span>  
	</p>

	<div class ="breadCrumb">
		<label><strong>$tlang.getString("gen.location")</strong></label>
		<img src = "#imageLink($contentTypeImageService.getContentTypeImage("folder"))" border="0" />
		#foreach ($id in $collectionPath)
			#if ($dropboxMode && $id==$homeCollection)
				$siteTitle Drop Box /
			#else
				$validator.escapeHtml($service.getProperties($id).getPropertyFormatted($resourceProperties.NamePropDisplayName)) /
			#end
		#end
		#if ($dropboxMode && $collectionId==$homeCollection)
			$siteTitle Drop Box
		#else
			$validator.escapeHtml($service.getProperties($collectionId).getPropertyFormatted($resourceProperties.NamePropDisplayName))
		#end
	</div>
	
	<form name="addItemForm" id="addItemForm" method="post" action="#toolForm("ResourcesAction")" >
		<input type="hidden" name="from" value="list" />
		<input type="hidden" name="sakai_action" value="doAdditem" />
		<input type="hidden" name="doAdditem" value="x" />
		<input type="hidden" name="collectionId" value="$validator.escapeHtml($collectionId)" />
		<p class="shorttext">
			<label for="itemType">$tlang.getString("addi.change")</label>
			<select id="itemType"  name="itemType" onchange="javascript:document.forms.addItemForm.submit();">
				<option value="file" id="file">$tlang.getString("addi.upload")</option>
				<option value="Url" id="Url" selected="selected">$tlang.getString("addi.url")</option>
				<option value="htmldocument" id="htmldocument">$tlang.getString("addi.txthtml")</option>
				<option value="plaintextdocument" id="plaintextdocument">$tlang.getString("addi.txttxt")</option>
			</select>
		</p>	
	</form>		

	<form name="addUrlBasicForm" action="#toolForm("ResourcesAction")" method="post">
		<input type="hidden" name="stateName" value = "addUrlBasic" />
		<input type="hidden" name="from" value="list" />
		<input type="hidden" name="collectionId" value="$validator.escapeHtml($collectionId)" />
		<input type="hidden" name="itemType" value="Url" />
		<input type="hidden" name="eventSubmit_doAddurl" value="x" />
		<input type="hidden" name="option" value="change" />
		<input type="hidden" name="urlNumber" value="1" />
#set($i = 1)
		<h4>
			$tlang.getString("addi.url")
		</h4>
		
		<p class="shorttext">
			<span class="reqStar">*</span>
			<label for="Url$i">
				$tlang.getString("gen.url")
			</label>
			<input type="text" name="Url$i" id="Url$i" size="60" value="$validator.escapeHtml($urls.get($i))" />
		</p>	

		<h4>
			$tlang.getString("gen.properties")
		</h4>

			<p class="shorttext">
				<span class="reqStar">*</span>
				<label for="title$i">
					$tlang.getString("gen.title") 
				</label>
				<input type="text" id="title$i" name="title$i" value="$validator.escapeHtml($titles.get($i))" size="40" />
			</p>
			<p class="shorttext">
				<label for="description$i">
					$tlang.getString("gen.description")
				</label>
				<textarea id="description$i"  name="description$i" rows="3" cols="40" wrap="virtual">$validator.escapeHtmlTextarea($descriptions.get($i))</textarea>
			</p>
## eliminated copyright for urls
#*
			<p class="shorttext">
				<span class="reqStar">*</span>
				<label for="copyright$i">
					$tlang.getString("edit.cstatus")
				</label>	
				<select name="copyright" id ="copyright$i">
					#foreach ($copyright in $copyrightTypes)
						<option value="$copyright"#if($copyrightChoice == $copyright) selected="selected"#end>$copyright</option>
					#end
				</select>
			</p>
				
				#if ($!newcopyrightinput == "true")
					<p class="shorttext">
						<label for="newcopyright$i">
							$tlang.getString("edit.cinfo")
						</label>
						<textarea name="newcopyright$i" id="newcopyright$i" rows="2" cols="40" wrap="virtual" >$validator.escapeHtmlTextarea($newcopyrights.get($i))</textarea>
					</p>	
				#end
				<p class="shorttext">
					<label for="copyrightAlert$i">
						$tlang.getString("edit.calert")
					</label>	 
					<input type="checkbox" style="border:none"  name="copyrightAlert$i" id ="copyrightAlert$i" value="true" #if ($copyrightAlerts.get($i).equalsIgnoreCase("true")) checked="checked"#end/>$tlang.getString("gen.cpst2")<br /><br />
					<span class=" labelindnt alert">$tlang.getString("gen.cpst3")</span><br />
					<span class=" labelindnt alert">$tlang.getString("gen.cpst4")</span><br />
					<span class=" labelindnt alert">$tlang.getString("gen.cpst5")</span><br />
				</p>	
*#
				#if (!$dropboxMode)
					<p class="shorttext">
						<label for="pubview$i">
							$tlang.getString("edit.access1")
						</label>	
						<input type="checkbox" name="pubview$i" id="pubview$i" value="true" #if($pubview) checked="checked"#end style="border:none" />
						#set ($pubview = $pubviews.get($i))
						#if ($pubviewset)
							$tlang.getString("gen.setyes")
						#else
							$tlang.getString("edit.access2")
						#end
					</p>
				#end
			##end ## end forall
		#if (!$dropboxMode && $notification)
			## not show notification in dropbox mode
			<p class="shorttext">
				<label for="notify">
					$tlang.getString("gen.email1")
				</label>	
				<select id="notify" name="notify">
					<option value="r">$tlang.getString("gen.email2")</option>
					<option value="o">$tlang.getString("gen.email3")</option>
					<option value="n" selected="selected">$tlang.getString("gen.email4")</option>
				</select>
			</p>	
		#end
		<div class ="act">
			<input
				type="button" 
				 class="active" 
				name="Add URL" 
				id="addurl" 
				value="$tlang.getString("gen.add")"
				onclick="document.addUrlBasicForm.option.value='add'; document.addUrlBasicForm.submit(); return false;"
			/>
			<input 
				type="submit" 
				name="Cancel" 
				id="Cancel" 
				value="$tlang.getString("gen.cancel")"
				onclick="document.addUrlBasicForm.option.value='cancel'; document.addUrlBasicForm.submit(); return false;"
			/>
		</div>
	</form>
</div>

