## $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/announcement/chef_announcements-revise.vm,v 1.4 2005/05/15 04:54:19 gsilver.umich.edu Exp $ 
<script type="text/javascript" language="JavaScript">
  focus_path = ["subject"];
</script>
<div class="portletBody">
	<h3>
		#if ( $newAnn =="true")
			$tlang.getString("revise.add")
		#else
			$tlang.getString("revise.revise")
		#end
	</h3>
	#if ($alertMessage)<div class="chefAlertBox">Alert: $validator.escapeHtml($alertMessage)</div><div style="display:block;clear:both" />#end
	<div class="indnt1">
		<p class="instruction">
				#if ( $newAnn =="true")
					$tlang.getString("revise.complete")<br /><br /> $tlang.getString("revise.required") <span class="reqStarInline">*</span>
				#else
					$tlang.getString("revise.update") <br /><br /> $tlang.getString("revise.required") <span class="reqStarInline">*</span>
				#end
		</p>
	</div>	
		<form name="reviseForm" action="#toolForm("AnnouncementAction")" method="post">
			<div class="indnt1">
			<input type="hidden" name="fromInterface" value="revise" />
			<p class="shorttext">
				<span class="reqStar">*</span>
				<label for="subject">
					$tlang.getString("revise.subject") 
				</label>
				#if ($new=="true")
					<input type="text" size="45" name="subject" id="subject" value="$validator.escapeHtml($tempSubject)" />                
				#else
					<input type="text" size="45" name="subject" id="subject" value="$validator.escapeHtml($message.Header.subject)" />
				#end
			</p>
			<p class="longtext">
				<label for="body" class="block" style="margin-bottom:0;important!">
					<span class="reqStar">*</span>$tlang.getString("revise.announcement")
				</label>
				<table border="0" cellpadding="0" cellspacing="0" >
					<tr>
						<td>
							<textarea name="body" class="block" id="body" cols="65" rows="15" wrap="virtual">
								#if ($new=="true")
									$validator.escapeHtmlFormattedTextarea($tempBody)
								#else
									$validator.escapeHtmlFormattedTextarea($message.body)
								#end
							</textarea>
							#chef_setupformattedtextarea("body")
						</td>
					</tr>
				</table>
			</p>	
			#if($pubviewset)
				$tlang.getString("revise.setto")
			#else
				<p class="checkbox">
					<input type="checkbox" id="pubview" name="pubview" value="true" #if ($pubview) checked="checked" #end/>
					<label for="pubview">$tlang.getString("revise.displaynon")</label>
				</p>	
			#end
			<p class="shorttext">
				<h4>
   				$tlang.getString("revise.attachments")
				</h4>	
				#set ($size = 0)
				#if (!$attachments.isEmpty())
					 #set ($props = false)
					 #set ($size =  $attachments.size())
					 <ul class="attachList" style="display:block;clear:both;margin:.8em 0 .3em 2em">
						 #foreach ($attachment in $attachments)
							#set ($props = $attachment.Properties)
							#if (!$props)
								#if ($size > 0) #set ($size = $size - 1) #end
							#else
								#if ($props.getBooleanProperty($props.NamePropIsCollection))
									<li>
										<img src = "#imageLink($contentTypeImageService.getContentTypeImage("folder"))" border="0" alt="folder" />
								#else
									<li>
										<img src = "#imageLink($contentTypeImageService.getContentTypeImage($props.getProperty($props.NamePropContentType)))" border="0" alt ="$props.getProperty($props.NamePropContentType)" />
								#end
								<a href="$attachment.Url" target="_blank">
								$validator.escapeHtml($attachment.Properties.getPropertyFormatted("DAV:displayname"))</a>
								#if (!$props.getBooleanProperty($props.NamePropIsCollection))
									($props.getPropertyFormatted($props.NamePropContentLength))
								#end
								</li>
							#end
							#set ($props = false)
						#end
					</ul>	
				#end
			</p>
			#if ($size == 0) <p class="instruction" style="display:block;clear:both;margin:1.3em 0 .3em 0">$tlang.getString("revise.noattach")</p>
				<div class="act">
					 <input type="submit" name="eventSubmit_doAttachments" value="$tlang.getString("revise.addatt")" />
				</div>
			#else
				<div class="act">
					 <input type="submit" name="eventSubmit_doAttachments" value="$tlang.getString("revise.addrem")" />
				</div>
			#end
			#if ($notification)
				<hr class="itemSeparator" />
				<p class="shorttext">
					<label for="notify">
      				$tlang.getString("revise.notify")
					</label>
					<select name="notify">
						#if ($noti)
							<option value="r" #if($noti=="r") selected="selected" #end>$tlang.getString("revise.notify_high")</option>
							<option value="o" #if($noti=="o") selected="selected" #end>$tlang.getString("revise.notify_low")</option>
							<option value="n" #if($noti=="n") selected="selected" #end>$tlang.getString("revise.notify_none")</option>
						#else	
							<option value="r">$tlang.getString("revise.notify_high")</option>
							<option value="o">$tlang.getString("revise.notify_low")</option>
							<option value="n" selected="selected">$tlang.getString("revise.notify_none")</option>
						#end
					</select>
				</p>	
			#end
		</div>	
		<p class="act">
				<input type="submit" class="active" name="eventSubmit_doPost" value="$tlang.getString("revise.add")" />
				<input type="submit" name="eventSubmit_doRevisepreview" value="$tlang.getString("revise.preview")" />
				<input type="submit" name="eventSubmit_doSavedraft" value="$tlang.getString("revise.savedraft")" />
				<input type="submit" name="eventSubmit_doCancel" value="$tlang.getString("gen.cancel")" />     
		</p>
	</form>
</div>

