##<!-- $Header: /cvs/sakai/chef-tool/src/webapp/vm/sitesetup/chef_site-courseConfirm.vm,v 1.9 2004/09/10 02:17:05 janderse.umich.edu Exp $ -->
## Creating project site step 4: confirmation page
<div class="chefPortletContainer">
	##if($menu)#toolbar($menu)#end<br/><br/>
	<div class ="chefPortletToolBarMessage">
		Creating a course site...
	</div>
	<div class="chefPortletContent">
		#if ($alertMessage)
			<div class="chefAlertBox">Alert: $validator.escapeHtml($alertMessage)</div>
			<div style="display:block;clear:both"></div>
		#end
		<div class="chefPageviewTitle">
			Step #if($from_auto_manual) 6#else 5#end: You have indicated the following for your class site. If these are correct, click Create Site. Please click only once -- this will take a few seconds. If you need to make changes, click Back.
		</div>
		<form action="#toolForm("$action")" method="post">
			<table class ="chefItemDetail">
				<tr>
					<td class="chefLabel">
						Course/sections:
					</td>
					<td>
						#foreach ($item in $selectedUmiacCourseSection)
							$item<br /> 
						#end
						#if ($fromManualAdd)
							#foreach ($i in [0..$!manualAddNumber])
								(requested) $manualAddSubjects.get($i), $manualAddCourses.get($i), $manualAddSections.get($i)<br />
							#end
						#end
					</td>
				</tr>
				<tr>
					<td class="chefLabel">
						School:
					</td>
					<td>
						#foreach ($s in $skins)
							#if ($skin.equals($s.css))
								$s.Unit
							#end
						#end
					</td>
				</tr>
				<tr>
					<td class="chefLabel">
						Description:
					</td>
					<td>
						#if ($!description.length() == 0)
							&lt;None entered&gt;
						#else 
							$validator.escapeHtml($description)
						#end
					</td>
				</tr>
				<tr>
					<td class="chefLabel">
						Short description:
					</td>
					<td>
						#if ($!short_description.length() == 0)
							&lt;None entered&gt;
						#else 
							$validator.escapeHtml($short_description)
						#end
					</td>
				</tr>
				<tr>
					<td class = "chefLabel">
						Special instructions:
					</td>
					<td>
						#if ($!additional.length() == 0)
							&lt;None entered&gt;
						#else 
							$validator.escapeHtml($additional)
						#end
					</td>
				</tr>
				<tr>
					<td class="chefLabel">
						Site contact name:
					</td>
					<td>
						$validator.escapeHtml($!siteContactName)
					</td>
				</tr>
				<tr>
					<td class="chefLabel">
						Site contact email:
					</td>
					<td>
						$validator.escapeHtml($!siteContactEmail)
					</td>
				</tr>
				<tr>
					<td class="chefLabel">
						Tools:
					</td>
					<td>
						#if ($check_home)
							Home<br />
						#end
						#foreach($tool in $toolRegistrationList)
							#if ($toolRegistrationSelectedList.contains($tool.Id))
								#if ($tool.Id.equals("chef.mailbox"))
									$tool.Title: $emailId@$serverName <br />
								#elseif ($tool.Id.indexOf("chef.news") != -1)
									$tool.Title: $!newsTitles.get($tool.Id) <br />
								#elseif ($tool.Id.indexOf("chef.iframe") != -1)
									$tool.Title: $!wcTitles.get($tool.Id) <br />
								#else
									$tool.Title <br />
								#end
							#end
						#end
					</td>
				</tr>
			</table>
			<input type="hidden" name="back" value="4" />
			<input type="hidden" name="template-index" value="40"/>
			<input type="hidden" name="continue" value="41" />
			<div class="chefButtonRow">
				<input type="submit" name="eventSubmit_doFinish" value="Create Site" />
				<input type="submit" name="eventSubmit_doBack" value="Back" />
				<input type="submit" name="eventSubmit_doCancel_create" value="Cancel" />
			</div>
		</form>
	</div>
</div>
