##<!-- $Header: /cvs/sakai/chef-tool/src/webapp/vm/sitesetup/chef_site-gradtoolsConfirm.vm,v 1.4 2004/10/03 17:12:21 rwellis.umich.edu Exp $ -->
## Creating project site step 4: confirmation page
<div class="chefPortletContainer">
	##if($menu)#toolbar($menu)#end<br/><br/>
	<div class ="chefPortletToolBarMessage">
		Creating a Grad Tools site...
	</div>
	<div class="chefPortletContent">
		#if ($alertMessage)<div class="chefAlertBox">Alert: $validator.escapeHtml($alertMessage)</div>#end
		<form action="#toolForm("$action")" method="post">
			<table class ="chefItemDetail" cellspacing="0" summary="info on the new project site">
				<tr>
					<td class="chefLabel">
						Site name:
					</td>
					<td>
						$validator.escapeHtml($title)
					</td>
				</tr>
				<tr>
					<td class="chefLabel">
						Description:
					</td>
					<td>
						$validator.escapeHtml($description)
					</td>
				</tr>
				<tr>
					<td class="chefLabel">
						Short description:
					</td>
					<td>
						$validator.escapeHtml($short_description)
					</td>
				</tr>
			</table>
			<input type="hidden" name="back" value="0" />
			<input type="hidden" name="template-index" value="48"/>
			<input type="hidden" name="continue" value="0" />
			<div class="chefButtonRow">
				<input type="submit" name="eventSubmit_doFinish_grad_tools" value="Create Site" />
				<input type="submit" name="eventSubmit_doBack" value="Back" />
				<input type="submit" name="eventSubmit_doCancel_create" value="Cancel" />
			</div>
		</form>
	</div>
</div>
