##<!-- $Header: /cvs/sakai/chef-tool/src/webapp/vm/sitesetup/chef_site-siteInfo-editAccess-globalAccess.vm,v 1.5 2004/09/10 02:17:05 janderse.umich.edu Exp $ -->
## set global access for site
<div class ="chefPortletContainer">
	#if($menu)#toolbar($menu)#end
	<div class ="chefPortletContent">
		<div class="chefPageviewTitle">
			Setting Global Access for $validator.escapeHtml($title)...
		</div>
		#if ($alertMessage)
			<div class="chefAlertBox">Alert: $validator.escapeHtml($alertMessage)</div>
			<div style="display:block;clear:both"></div>
		#end
		<form name="joinableForm" action="#toolForm("SiteAction")" method="post">
			<input type="hidden" name="option" value="x" />
			<input type="hidden" name="eventSubmit_doSiteinfo_edit_globalAccess" value="x" />
			<table cellspacing="0" cellpadding="0" class="chefEditItem" summary ="Table holds fields for entering users." >
				<tr>
					<td>
						Set access control of your site
					</td>
				</tr>
				<tr>
					<td>
						<input type="radio" name="joinable" value="false" 
							#if (!$form_joinable)
								checked="checked"
							#end
							onClick="document.joinableForm.option.value='unjoinable';javascript:document.joinableForm.submit();"
						/>
						Open only to those you specifically add
					</td>
				</tr>
				<tr>
					<td>
						<input type="radio" name="joinable" value="true" 
							#if ($form_joinable)
								checked="checked"
							#end
							onClick="document.joinableForm.option.value='joinable';javascript:document.joinableForm.submit();"
						/>
						Site can be joined by anyone with authorization to login
					</td>
				</tr>
			</table>
			#if ($form_joinable)
				<fieldset>
					<legend>
						Role Selection
					</legend>
		           	<table cellspacing="0" cellpadding="0" class="chefEditItem" summary ="Role to assign when a user joins the site" >
						#foreach ($role in $roles)
							#set ($description = false)
							<tr>
								<td valign="middle" nowrap="nowrap">
									<input type="radio" name="joinerRole" value="$role.Id"
										#if($!form_joinerRole == $role.Id)
											checked="checked"
										#end
									/>
								</td>
								<td valign="middle" nowrap="nowrap">
									$role.Id
								</td>
								<td valign="middle" nowrap="nowrap">
									<div class="chefInlineInstructions">
										#set ($description = $roleDescription.get($role.Id))
										#if ($!description) $!description #end
									</div>
								</td>
							</tr>
						#end
					</table>
				</fieldset>
			#end
			<br/>
			<input type="hidden" name="continue" value="55" />
			<input type="hidden" name="back" value="49" />
			<input type="hidden" name="template-index" value="54" />
			<div class ="chefButtonRow">
				<input type="submit" name="Continue" 
						value="Continue" 
						onclick="document.joinableForm.option.value='continue';javascript:document.joinableForm.submit();" />
				<input type="submit" name="Back" 
						value="Back" 
						onclick="document.joinableForm.option.value='cancel';javascript:document.joinableForm.submit();" />
				<input type="submit" name="Cancel" 
						value="Cancel" 
						onclick="document.joinableForm.option.value='cancel';javascript:document.joinableForm.submit();" />
			</div>
		</form>
	</div>
</div>
