##<!-- $Header: /cvs/sakai/chef-tool/src/webapp/vm/sitesetupgeneric/chef_site-sitemanage-addParticipant.vm,v 1.3 2004/12/13 18:34:25 suiyy.umich.edu Exp $ -->
## Add a participant to ssite
<div class ="portletBody">
	#if ($alertMessage)
		<div class="chefAlertBox">Alert: $validator.escapeHtml($alertMessage)</div>
		<div style="display:block;clear:both"></div>
	#end
	<h3>
 		Add participant(s) to $validator.escapeHtml($title)...
	</h3>
	<p class="instruction">
		Enter the participants below that you would like to add to your site. You may enter more than one name in each text area below by putting each one on a separate line (no commas).
	</p>
	<form action="#toolForm("SiteAction")" method="post">
		<p class="longtext">
			<label for="uniqnames" class="block">
				Username(s)
			</label>
			<textarea id="uniqnames" name="uniqnames" tabindex="0" cols="30" rows="4" wrap="virtual">$!validator.escapeHtmlTextarea($form_uniqnames)</textarea><br />
			<div class="instruction indnt1">
				Multiple usernames are allowed by placing each on its own line (Press Return or Enter on your keyboard between each entry)
			</div>
		</p>
		<p class="longtext">
			<label for="friends" class="block">
				Guest(s) email address <span class="instruction" style="display:inline">(external participants, ex. jdoe@yahoo.com):</span>
			</label>
			<textarea id="friends" name="friends" tabindex="0" cols="30" rows="4" wrap="virtual">$!validator.escapeHtmlTextarea($form_friends)</textarea><br />
			<div class="instruction indnt1">
				Multiple email addresses are allowed by placing each on its own line (Press Return or Enter on your keyboard between each entry)
			</div>
			<h4>
				Participant Roles
			</h4>
			<p class="checkbox">
				<input type="radio" id="same_role_true" name="same_role" value="true" 
					#if ($!form_same_role == "true")
						checked="checked"
					#end
				/>
				<label for="same_role_true">
					Assign all participants to the same role
				</label>
			</p>
			<p class="checkbox">
				<input type="radio" id="same_role_false" name="same_role" value="false" 
					#if ($!form_same_role == "false")
						checked="checked"
					#end
				/>
				<label for="same_role_false">
					Assign each participant a role individually
				</label>
			</p>	
			<input type="hidden" name="back" value="$backIndex" />
			<input type="hidden" name="template-index" value="33" />
			<div class ="act">
				<input type="submit" class="active" name="eventSubmit_doContinue" value="Continue" />
				<input type="submit" name="eventSubmit_doCancel" value="Cancel" />
			</div>
		</form>
	</div>
</div>
