##<!-- $Header: /cvs/sakai/chef-tool/src/webapp/vm/sitesetupgeneric/chef_site-type.vm,v 1.7 2005/02/03 16:19:44 zqian.umich.edu Exp $ -->
## Creating site step 1: site type
<div class ="portletBody">
	#if ($alertMessage)<div class="chefAlertBox">Alert: $validator.escapeHtml($alertMessage)</div>#end
	<h3 class ="insBor insBak insCol">
		Creating a new site
	</h3>
	<p class="instruction">
		Choose the type of site you want to create. Only instructors can create official class websites.  Instructors and students can create project websites.  NOTE: Students, if you do not see a tab for your class, contact your instructor for information about  when your official class website will be available.
	</p>
	<form action="#toolForm("$action")" method="post">
		#foreach ($type in $siteTypes)
			#if ($type != "GradToolsStudent" || ($type == "GradToolsStudent" && $!withDissertation && $!isGradStudent.booleanValue() && $!noGradToolsSite.booleanValue()))
				<p class="checkbox indnt1">
					<input type="radio" name="itemType" id="$type" value="$type" />
						<label for = "$type">
							#if ($type == "GradToolsStudent")
								Grad Tools website
							#else
								$type website
							#end
						</label>	
						#if ($type == "course")
							<div class="indnt3">
									Academic term:<span class ="chefRequiredInline"> </span>
									<select name="selectTerm">
										#foreach($term in $termList)
											<option value ="$term.Id"
												#if($term.id == $selectedTerm || $term.isCurrentTerm())
													selected="selected"
												#end
											>
											$term.Id
											</option>
										#end
									</select> 
							</div>
						#end
				</p>	
			#end
		#end
		<input type="hidden" name="back" value="0" />
		<input type="hidden" name="template-index" value="1" />
		<div class ="act">
			<input type="submit" class="active" name="eventSubmit_doSite_type" value="Continue" />
			<input type="submit" name="eventSubmit_doCancel_create" value="Cancel" />
		</div>
	</form>				
</div>	

