## Zhen: when saving a draft reply I am returned to the item in edit mode (with a few errors). Should the behaviour not be the same as for topic?
<div class="portletBody">
	<h3>
		$tlang.getString("newcat.crenewcat3")
	</h3>
	#if ($alertMessage)<div class="chefAlertBox">Alert: $validator.escapeHtml($alertMessage)</div><div style="display:block;clear:both" ></div>#end
	<script type="text/javascript">
			focus_path = [ "newcategory" ];
			if (parent) if (parent.parent) parent.parent.window.scrollTo(0,400);
	</script>
	<p class="instruction">
		$tlang.getString("newcat.comthefor")               
	</p>
	#set ($count=0)
	#foreach ($c in $categories)
		#set ($count=$count +1)
	#end
	<form action="#toolForm($action)" method="post">
		<input type="hidden" name="channelId" value="$channel.getId()" />
		<input type="hidden" name="from" value="normalView" />
		
			#if ($count>0)
				<table class="itemSummary" border="0" style="margin-bottom:.2em">
					<tr>
						<th style="white-space:nowrap;">
							$tlang.getString("newcat.exicat")
						</th>
						<td style="padding-left:3em">
							#foreach ($c in $categories)
								$validator.escapeHtml($c)<br />
							#end
						</td>
					</tr>
				</table>	
			#end
			<p class="shorttext">
				<span class="reqStar">*</span>
				<label for="newcategory">$tlang.getString("newcat.crenewcat2")</label>
				<input type="text" name="newcategory" id="newcategory" value="" />
			</p>	
		<p class="act">
			<input type="submit" class="active"  name="eventSubmit_doNew_category" value="$tlang.getString("newcat.crecat")" />
			<input type="submit" name="eventSubmit_doCancel_new_category" value="$tlang.getString("gen.can")" />
		</p>
	</form>
</div>

