## $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/discussion/chef_threaded_discussionsII-Toolbar.vm,v 1.5 2005/05/15 17:03:58 gsilver.umich.edu Exp $ 
## chef_chat-Toolbar.vm, use with org.chefproject.ChatAction.java
##     context: $menu: the toolbar to be shown, defined in buildToolbarPanelContext
##
## this is double deep


<script type="text/javascript" language="JavaScript">
doubleDeep = true;
focus_path = ["search"];
</script>
<div class="portletBody">
	#if($menu)#toolbar($menu)#end
	<div style="margin-top:.5em">
		<div class="leftNav">
			<form name="viewForm" class="inlineForm" method="post" action="#toolForm("ThreadedDiscussionIIAction")">
				<input type="hidden" name="eventSubmit_doView" value="view" />
				<label for="view"> $tlang.getString("toolbar.view")</label>
				<select name="view" id="view" size="1" tabindex="3" onchange="blur();document.viewForm.submit();">
					#foreach ($view in  ["$!tlang.getString('rowlay')", "$!tlang.getString('collay')"])
						#if ($selectedView.equals($view))
							<option value="$view" selected="selected" >$view</option>
						#else
							<option value="$view" >$view</option>
						#end
					#end
				</select>
			</form>
		</div>					
		<div class="rightNav">
			<form name="searchForm" class="inlineForm" action="#toolForm("ThreadedDiscussionIIAction")" method="post">
				<input type="hidden" name="eventSubmit_doSearch" value="null" />
				<input size="20" value="$searchString" name="$form_search" id="$form_search" type="text" class="searchField" />
				<a href="#" title="$tlang.getString("toolbar.search")" onclick="location = '#toolLink("ThreadedDiscussionIIAction" "doSearch")'+buildQueryString('searchForm');return false;">
					<span class="act"><input type="button" value="$tlang.getString("toolbar.search")" class="button" /></span>
				</a>
				#if (($!searchString) && (!$searchString.equals("")))
					<a href="#" title="$tlang.getString("toolbar.clesea")" onclick="location = '#toolLink("ThreadedDiscussionIIAction" "doSearch_clear")'+buildQueryString('searchForm');return false;">
						<span class="act"><input type="button" class="button"  value="$tlang.getString("toolbar.clesea")" /></span>
					</a>
				#end
			</form>
		</div>
	</div>
</div>	

