## $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/news/chef_news-List.vm,v 1.3 2005/05/25 20:39:38 gsilver.umich.edu Exp $ 
## chef_news-List.vm, use with org.chefproject.NewsAction.java
##     context: $news_items: iterator of NewsItems
##

	<div style="width:86%">
		#if($alertMessage)
			<div class="chefAlertBox">
				$validator.escapeHtml($alertMessage)
			</div>
		#end
		#foreach ($item in $news_items)
			<div style="width:80%">
				#if($item.Title)
					<h5>
						$validator.escapeHtml($item.Title)
					</h5>
				#end
				#if($item.Description)
					<p style="margin-left:2em;margin-top:.5em">
						$validator.escapeHtml($item.Description)
						#if($item.Link)
							 <a href="$validator.escapeHtml($item.Link)" target="_blank">($full_story)</a>
						 #end
						 #if($item.Pubdate)
						 	($item.Pubdate)
						#end
					</p>	
				#end	
			</div>
		#end
	</div>

