#chef_start()
<script type="text/javascript" language="JavaScript">
  focus_path = ["username"];
</script>
<table border="3" cellpadding="0" cellspacing="0" width="470" style ="margin-right:auto;margin-left:auto;margin-top:5em;background-color:#fff;font-family:helvetica,arial,sans-serif">
	<tr>
		<td>
			<table bgcolor="#FFFFFF" border="0" cellpadding="5" cellspacing="0">
				<tr>
					<td colspan="2" bgcolor="#11375E" align="left">
						<b style="color:#ffffff; font-size: 12pt">
							Login Required
						</b>	
					</td>
				</tr>
				<tr>
					<td>
						<img src="#imageLink("sakai.jpg")" border="0" hspace="0" vspace="0" alt="" />
					</td>
					<td valign="top">
						<form method="post" action="${sakai_ActionURL}" enctype="application/x-www-form-urlencoded">
							<table border="0">
### %%% get this "authn" from the config -ggolden
								#if ($alertMessage)
									<tr>
										<td colspan="2" style ="padding:10px 10px 10px 0px">
											<div class="chefAlertBox">
												Alert: $alertMessage
											</div>
										</td>
									</tr>
								#end
								<tr>
									<td style="font-weight:bold;">
										$userid_text:
									</td>
									<td>
										<input size="32" name="username" id="username"  type="text" style ="width: 10em" />
									</td>
								</tr>
								<tr>
									<td style="font-weight:bold;">
										password:
									</td>
									<td>
										<input size="32" name="password" type="password" style ="width: 10em" />
									</td>
								</tr>
								<tr>
									<td colspan="2" align="right">
										<input name="submit" type="submit" value="Log in" style="float:right" />
									</td>
								</tr>
							</table>
						</form>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
#chef_end()
