<!-- $Header: /cvs/sakai/chef-tool/src/webapp/vm/calendar/chef_calendar_viewMonth.vm,v 1.3 2004/05/20 02:58:33 gsilver Exp $ -->
<div class="chefPortletContainer">
#if($menu)#toolbar($menu)#end
<div class="chefPortletContent">
		#if ($alertMessage)<div class="chefAlertBox">Alert: $validator.escapeHtml($alertMessage)</div>#end
<!-- First table -->
<div style="display:block; clear:both"></div>

<!-- drop down menu for different views -->
<div class="chef2ndToolbarWrap">
	<table class="chef2ndToolbar" cellspacing="0" summary="this is for second toolbar, containing dropdown view list" >
		<tr class="first">
			<td class="left">
				<form name="viewForm" class="toolbarForm" method="post" action="#toolForm("CalendarAction")">
					<input type="hidden" name="eventSubmit_doView" value="view" />
					View:
					<select name="view" size="1" tabindex="3" onchange="blur();document.viewForm.submit();">
						#foreach ($view in ["Calendar by day", "Calendar by week", "Calendar by month", "Calendar by year", "List of events"])
							#if ($selectedView.equals($view))
								<option value="$view" selected="selected" >$view</option>
							#else
								<option value="$view" >$view</option>
							#end
						#end
					</select>
				</form>
			</td>
			<td>
			<form name="monthform" action="#toolForm("$action")" method="post">
			<div class="chefButtonRowRight">
				<input type="submit" name="eventSubmit_doToday" value="Go to today" />
				 <input type="submit" name="eventSubmit_doPrev" value="&lt;" title ="Go to previous month" />
				 $nameOfMonth $year
				 <input type="submit" name="eventSubmit_doNext" value="&gt;" title="Go to next month" />
			</div>
			</form>
		</td>
		</tr>
	</table>
</div>

<!-- how to draw a month -->
<table cellpadding="2" width="100%" border="0" cellspacing="0" class="calendar">
    <tr>
        <th align="center" width="14%" class="borderWhite">Sun</th>
        <th align="center" width="14%" class="borderWhite">Mon</th>
        <th align="center" width="14%" class="borderWhite">Tue</th>                     
        <th align="center" width="14%" class="borderWhite">Wed</th> 
        <th align="center" width="14%" class="borderWhite">Thu</th>
        <th align="center" width="14%" class="borderWhite">Fri</th> 
        <th align="center" width="14%" class="borderWhite">Sat</th>  
    </tr>           
        #set($row = $monthArray.getRow()) 
        #foreach ($xn in [0..$row])   	
        <tr>          			
            #foreach($u in [0..6])                    
                #set ($mu = $monthArray.getDay($xn,$u))		
                #if ($mu.getFlag() == 1) ## today
                    #set($eventsn = $mu.getEvents())   
                    #set($eventsn = $eventsn1)
                    #set($flag = "false")

                    #foreach ($m in $eventsn)                       
                        #set($flag = "true")
                    #end
                    #if ($flag == "true")
                        <td align="right"  valign= "top" bgcolor="#ffff99" height="51" class="borderToday" >			
                    #else			
                        <td align="right"  valign= "top" bgcolor="#ffffff" height="51" class="borderToday">
                    #end
                                                 
                #elseif ($mu.getFlag() == 0)  ## days dropping out of the current month
                    #set ($eventsn = $mu.getEvents())
                    <td align="right"  valign= "top" bgcolor="#cccccc" height="51"  class="borderGrayMonth">
                                
                #else ## days in the current month, but not today
                    #set ($eventsn = $mu.getEvents())   
                    #set($eventsn = $eventsn1)
                    #set($flag = "false")

                    #foreach ($m in $eventsn)                       
                    #set($flag = "true")
                    #end
                    #if ($flag == "true")
                          <td align="right"  valign= "top" bgcolor="#ffff99" height="51" class="borderGrayMonth">
                    #else
                          <td align="right"  valign= "top" bgcolor="#ffffff" height="51" class="borderGrayMonth">
                    #end

                #end  ## -- end of if-elseif-else                          
                                                                                                                                           				
                <p><a href="#toolLink("$action" "doDay")&day=$mu.getDay()&month=$mu.getMonth()&year=$mu.getYear()">
                $mu.getDay()</a></p>

                <p align="left">
                #foreach ($m in $eventsn)                    
                    <a href="#toolLink("$action" "doDescription")&eventReference=$validator.escapeUrl($m.getReference())" title="$validator.escapeHtml($m.getDisplayName())">
                    #set($size = $m.getDisplayName().length())
                    #if($m.getType()=="Academic Calendar")
                        <img src = "#imageLink("chef/academic_calendar.gif")" border="0" alt="$validator.escapeHtml($m.getDisplayName())" />
                    #elseif ($m.getType()=="Activity")
                        <img src = "#imageLink("chef/activity.gif")" border="0" alt="$validator.escapeHtml($m.getDisplayName())" />
                    #elseif($m.getType()=="Cancellation")
                        <img src = "#imageLink("chef/cancelled.gif")" border="0" alt="$validator.escapeHtml($m.getDisplayName())" />
                    #elseif ($m.getType()=="Class section - Discussion")
                        <img src = "#imageLink("chef/class_dis.gif")" border="0" alt="$validator.escapeHtml($m.getDisplayName())" />
                    #elseif ($m.getType()=="Class section - Lab")
                        <img src = "#imageLink("chef/class_lab.gif")" border="0" alt="$validator.escapeHtml($m.getDisplayName())" />
                    #elseif ($m.getType()=="Class section - Lecture")
                        <img src = "#imageLink("chef/class_lec.gif")" border="0" alt="$validator.escapeHtml($m.getDisplayName())" />
                    #elseif ($m.getType()=="Class section - Small Group")
                        <img src = "#imageLink("chef/class_sma.gif")" border="0" alt="$validator.escapeHtml($m.getDisplayName())" />
                    #elseif ($m.getType()=="Class session")
                        <img src = "#imageLink("chef/class_session.gif")" border="0" alt="$validator.escapeHtml($m.getDisplayName())" />
                    #elseif($m.getType()=="Computer Session")
                        <img src = "#imageLink("chef/computersession.gif")" border="0" alt="$validator.escapeHtml($m.getDisplayName())" />
                    #elseif($m.getType()=="Deadline")
                        <img src = "#imageLink("chef/deadline.gif")" border="0" alt="$validator.escapeHtml($m.getDisplayName())" />
                    #elseif($m.getType()=="Exam")
                        <img src = "#imageLink("chef/exam.gif")" border="0" alt="$validator.escapeHtml($m.getDisplayName())" />
                    #elseif($m.getType()=="Quiz")
                        <img src = "#imageLink("chef/quiz.gif")" border="0" alt="$validator.escapeHtml($m.getDisplayName())" />
                    #elseif ($m.getType()=="Meeting")
                        <img src = "#imageLink("chef/meeting.gif")" border="0" alt="$validator.escapeHtml($m.getDisplayName())" />
                    #elseif($m.getType()=="Special event")
                        <img src = "#imageLink("chef/special_event.gif")" border="0" alt="$validator.escapeHtml($m.getDisplayName())" />
                    #elseif($m.getType()=="Web Assignment")
                        <img src = "#imageLink("chef/webassignment.gif")" border="0" alt="$validator.escapeHtml($m.getDisplayName())" />
                    #elseif($m.getType()=="Multidisciplinary Conference")
                        <img src = "#imageLink("chef/multi-conference.gif")" border="0" alt="$validator.escapeHtml($m.getDisplayName())" />
                    #end
                    #set($size = $m.getDisplayName().length())                            
                    #if ($size > 8)
                        #set($stringa = $m.getDisplayName().substring(0,8))
                        $validator.escapeHtml($stringa)...
                    #else
                        $validator.escapeHtml($m.getDisplayName())
                    #end
                    </a><br />
                #end
                </p>
            </td>
            #end  ## -- end of foreach
        </tr>
    #end  ## -- end of foreach
</table>

<table style="margin-right:auto;margin-left:auto;margin-top:10px;" cellpadding="3">
<tr><td colspan="3" style="border-bottom:1px solid silver"><p align="center">Legend</p></td></tr>
<tr>
<td><img src = "#imageLink("chef/academic_calendar.gif")" border="0" alt="Academic Calendar" /> Academic Calendar</td>
<td><img src = "#imageLink("chef/activity.gif")" border="0" alt="Activity" /> Activity</td>
<td><img src = "#imageLink("chef/cancelled.gif")" border="0" alt="Cancelled" /> Cancelled</td>
</tr>
<tr>
<td><img src = "#imageLink("chef/class_dis.gif")" border="0" alt="Class Section - Discussion" /> Class Section - Discussion</td>
<td><img src = "#imageLink("chef/class_lab.gif")" border="0" alt="Class Section - Lab" /> Class Section - Lab</td>
<td><img src = "#imageLink("chef/class_lec.gif")" border="0" alt="Class Section - Lecture" /> Class Section - Lecture</td>
</tr>
<tr>
<td><img src = "#imageLink("chef/class_sma.gif")" border="0" alt="Class Section - Small Group" /> Class Section - Small Group</td>
<td><img src = "#imageLink("chef/class_session.gif")" border="0" alt="Class Session" /> Class Session</td>
<td><img src = "#imageLink("chef/computersession.gif")" border="0" alt="Computer Session" /> Computer Session</td>
</tr>
<tr>
<td><img src = "#imageLink("chef/deadline.gif")" border="0" alt="Deadline" /> Deadline</td>
<td><img src = "#imageLink("chef/exam.gif")" border="0" alt="Exam" /> Exam</td>
<td><img src = "#imageLink("chef/meeting.gif")" border="0" alt="Meeting" /> Meeting</td>
</tr>
<tr>
<td><img src = "#imageLink("chef/multi-conference.gif")" border="0" alt="Multidisciplinary Conference" /> Multidisciplinary Conference</td>
<td><img src = "#imageLink("chef/quiz.gif")" border="0" alt="Quiz" /> Quiz</td>
<td><img src = "#imageLink("chef/special_event.gif")" border="0" alt="Special Event" /> Special Event</td>
</tr>
<tr>
<td><img src = "#imageLink("chef/webassignment.gif")" border="0" alt="Web Assignment" /> Web Assignment</td>        
</tr>
</table>

</div>
</div>

