## $Header: /cvs/sakai/chef-tool/src/webapp/vm/access/copyrightAlert.vm,v 1.2.2.2 2005/03/21 15:19:10 lance.indiana.edu Exp $ 
<div align="center" style="width:60%;margin-top:1em;margin-left:auto;margin-right:auto;padding:.5em;background-color:silver;border:1px solid gray;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:.8em">
	Copyright Restriction Download Warning
</div>
<div style="width:60%;margin-top:0;margin-left:auto;margin-right:auto;border-width:0 1px 1px 1px;border-style:solid;border-color: gray;padding:.5em;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:.8em">
			#set($props=$resource.getProperties())
		<table cellspacing="0" cellpadding="5" border="0" style="font-size:1em">
			<tr> 
				<th style="text-align:left;font-weight:normal"> 
					Title:
				</th>
				<td>
					$validator.escapeHtml($props.getPropertyFormatted($props.NamePropDisplayName))
				</td>
			</tr>
			<tr> 
				<th style="text-align:left;font-weight:normal"> 
					Copyright:
				</th>
				<td>
					$validator.escapeHtml($props.getPropertyFormatted($props.NamePropCopyright))
				</td>
			</tr>
		</table>	
		<ul style="margin:1em 2em;padding:0">
			<li>You may download or copy this file for use in this class.</li>
			<li>You may NOT download or copy this file to another site.</li>
			<li>You may NOT download or copy this file for publication or sale.</li>
		</ul>
		<div style="margin:2em .3em .3em .3em;text-align:right">	
			<a href="$resourceUrl" style="background-color:#DDDCD7;border:1px solid #4A5573;color:#4A5573;padding:1px 3px 1px 3px;text-decoration:none">
				I Agree
			</a>
			#if (!$!accessedFromEmail)
				&nbsp;&nbsp;
				<a href="javascript:window.close()" style="background-color:#DDDCD7;border:1px solid #4A5573;color:#4A5573;padding:1px 3px 1px 3px;text-decoration:none">Cancel</a> 
			#end
		</div>		
</div>

