<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
  "http://java.sun.com/dtd/web-app_2_3.dtd">
<!-- $Id: web.xml,v 1.11 2005/02/11 22:23:18 daisyf.stanford.edu Exp $ -->
<web-app>
  <display-name>SAM</display-name>
  <description>Sakai Assessment Manager</description>

  <!-- Context Params -->
  <context-param>
    <param-name>PathToSecurity</param-name>
    <param-value>/opt/sa_forms/java/stg</param-value>
  </context-param>

  <context-param>
    <param-name>PathToSettings</param-name>
    <param-value>/opt/j2ee/stg</param-value>
  </context-param>

  <!-- BEGIN SAMIGO JSF CONTEXT PARAM-->
    <context-param>
        <param-name>com.sun.faces.validateXml</param-name>
        <param-value>false</param-value>
        <description>
            Set this flag to true if you want the JavaServer Faces
            Reference Implementation to validate the XML in your
            faces-config.xml resources against the DTD.  Default
            value is false.
        </description>
    </context-param>

    <context-param>
        <param-name>com.sun.faces.verifyObjects</param-name>
        <param-value>false</param-value>
        <description>
            Set this flag to true if you want the JavaServer Faces
            Reference Implementation to verify that all of the application
            objects you have configured (components, converters,
            renderers, and validators) can be successfully created.
            Default value is false.
        </description>
    </context-param>
  <!-- END SAMIGO JSF CONTEXT PARAM-->


  <!-- Filters  -->

  <!--** Important: This SetCharacterEncodingFilter must be the 1st one in the list of fillter **-->
  <filter>
    <filter-name>Set Character Encoding</filter-name>
    <filter-class>org.navigoproject.ui.web.filter.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>

  <filter>
    <filter-name>Log4jMdcFilter</filter-name>
    <filter-class>org.navigoproject.ui.web.filter.Log4jMdcFilter</filter-class>
  </filter>

  <filter>
    <filter-name>AppletFilter</filter-name>
    <filter-class>org.navigoproject.ui.web.filter.AppletFilter</filter-class>
  </filter>

  <filter>
    <filter-name>Upload Filter</filter-name>
    <filter-class>com.corejsf.UploadFilter</filter-class>
    <init-param>
      <param-name>com.corejsf.UploadFilter.repositoryPath</param-name>
      <param-value>/tmp/</param-value>
    </init-param>
    <init-param>
      <param-name>com.corejsf.UploadFilter.sizeThreshold</param-name>
      <param-value>1024</param-value>
    </init-param>
    <init-param>
      <param-name>com.corejsf.UploadFilter.sizeMax</param-name>
      <param-value>40960</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>Upload Filter</filter-name>
    <url-pattern>/jsf/delivery/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Upload Filter</filter-name>
    <url-pattern>/jsf/qti/*</url-pattern>
  </filter-mapping>


  <filter-mapping>
    <filter-name>Set Character Encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>Log4jMdcFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- scan for download of applet (*.jar). In our case, CapturePlayback.jar -->
  <filter-mapping>
    <filter-name>AppletFilter</filter-name>
    <url-pattern>*.jar</url-pattern>
  </filter-mapping>


  <!-- *******************************************************************  -->

  <!-- Listeners are used to bootstrap application runtime configuration -->

  <!-- PathInfo -->
  <listener>
    <listener-class>org.navigoproject.settings.PathInfoInitListener</listener-class>
  </listener>

  <!-- Log4j -->
  <listener>
    <listener-class>org.navigoproject.settings.Log4jConfigListener</listener-class>
  </listener>

  <!-- Spring Locator -->
  <listener>
    <listener-class>org.navigoproject.settings.ApplicationContextLocatorConfigListener</listener-class>
  </listener>

  <!-- OKI OSID -->
  <listener>
    <listener-class>org.navigoproject.settings.OkiOsidConfigListener</listener-class>
  </listener>

  <!-- *******************************************************************  -->

  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>stxxInit</param-name>
      <param-value>/stxx.properties</param-value>
    </init-param>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <display-name>Login</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>org.sakaiproject.tool.assessment.ui.servlet.delivery.LoginServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ShowMediaServlet</servlet-name>
    <display-name>Show Media</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>org.sakaiproject.tool.assessment.ui.servlet.delivery.ShowMediaServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>PDFServlet</servlet-name>
    <display-name>PDF Servlet</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>org.navigoproject.ui.web.asi.delivery.fop.PDFServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>initAction</servlet-name>
    <description>This servlet load the Type and all QuestionPool into a HashMap in memory</description>
    <servlet-class>org.navigoproject.ui.web.action.InitAction</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

    <!-- Faces Servlet -->
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup> 1 </load-on-startup>
    </servlet>


    <!-- Faces Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.faces</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>

  <!-- for anonymous requests (not caught by security filter) -->
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.deliver</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.xml</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>PDFServlet</servlet-name>
    <url-pattern>/servlet/PDFServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ShowMediaServlet</servlet-name>
    <url-pattern>/servlet/ShowMedia</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/Login</url-pattern>
  </servlet-mapping>

  <!-- BEGIN SAMIGO JSF SECTION-->


  <!-- JSF TAGLIBS -->
  <taglib>
    <taglib-uri>http://www.sakaiproject.org/samigo</taglib-uri>
    <taglib-location>/WEB-INF/samigo.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>http://java.sun.com/jsf/core</taglib-uri>
    <taglib-location>/WEB-INF/jsf_core.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>http://java.sun.com/jsf/html</taglib-uri>
    <taglib-location>/WEB-INF/html_basic.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>http://java.sun.com/upload</taglib-uri>
    <taglib-location>/WEB-INF/upload.tld</taglib-location>
  </taglib>
<!-- END SAMIGO JSF -->

  <taglib>
    <taglib-uri>/WEB-INF/asi.tld</taglib-uri>
    <taglib-location>/WEB-INF/asi.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>/WEB-INF/struts-bean.tld</taglib-uri>
    <taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>/WEB-INF/struts-html.tld</taglib-uri>
    <taglib-location>/WEB-INF/struts-html.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>/WEB-INF/struts-logic.tld</taglib-uri>
    <taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>/WEB-INF/struts-nested.tld</taglib-uri>
    <taglib-location>/WEB-INF/struts-nested.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>/WEB-INF/struts-template.tld</taglib-uri>
    <taglib-location>/WEB-INF/struts-template.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>/WEB-INF/struts-tiles.tld</taglib-uri>
    <taglib-location>/WEB-INF/struts-tiles.tld</taglib-location>
  </taglib>

</web-app>
