##<!-- $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/helper/chef_attachment_properties.vm,v 1.1 2005/04/13 19:20:44 ggolden.umich.edu Exp $ -->
<div class="PortletContainer">
		#if ($alertMessage)<div class="alertMessage">Alert: $validator.escapeHtml($alertMessage)</div>#end
<table border="0" cellspacing="0" width="100%"  class="PortletStyleClass"   style="border-color: #dddddd" bordercolor="#999999" >
<font face="Verdana, Arial, Helvetica, sans-serif" size="-1">
<form name="propertiesForm" action="#toolForm("$action")" method="post" onSubmit="return areTheyEmpty(document.propertiesForm.title.value)">

        <p>$thelp.getString("prop.youcanset")<br></p>

        <div align="left"> 
            
          <table border="0" cellspacing="10" cellpadding="0">
<!--
            <tr valign="top"> 
              <td height="27" valign="middle"><b>Attachment</b></td>
              <td height="27" valign="middle"><div align="left"><b><span class="Alert">*</span> $thelp.getString("gen.tit")</b></div></td>
              <td height="27" valign="middle"><div align="left"><b>$thelp.getString("gen.des")</b></div></td>
              <th id="header3" valign="middle"><div align="left"><span class="Alert">*</span> $thelp.getString("gen.cop")</div></th>
            </tr>
-->

            #foreach ($attach in $selectedAttach)
                #if ($attach.Properties.getPropertyFormatted("CHEF:is-collection") == "true")
                    <tr>  <td width="30%" valign="top">
                                $thelp.getString("gen.att") $attach.Properties.getPropertyFormatted("DAV:displayname")
                          </td>
                          <td width="20%" align="right" valign="top"> $thelp.getString("gen.tit2")</td>
                          <td>$attach.Properties.getPropertyFormatted("DAV:displayname")</td>
                   </tr>
                   <tr>   <td width="30%"> &nbsp;  </td>
                          <td width="20%" align="right" valign="top">$thelp.getString("gen.des2")</td>
                          <td>  
                                <textarea name="description$i" rows="2" cols="40" wrap="virtual">$validator.escapeHtmlTextarea($attach.Properties.getPropertyFormatted("DAV:description"))</textarea>
                          </td>
                    </tr>
                 #else
                    #if ($attach.Properties.getPropertyFormatted("CHEF:is-collection") == "false")
                        <tr>  <td width="30%" valign="top">
                                $thelp.getString("gen.att") $attach.Properties.getPropertyFormatted("DAV:displayname")
                              </td>
                              <td width="20%" align="right" valign="top"> $thelp.getString("gen.tit2")</td>
                              <td>$attach.Properties.getPropertyFormatted("DAV:displayname")</td>
                       </tr>
                       <tr>   <td width="30%"> &nbsp;  </td>
                              <td width="20%" align="right" valign="top">$thelp.getString("gen.des2")</td>
                              <td>  
                                    <textarea name="description$i" rows="2" cols="40" wrap="virtual">$validator.escapeHtmlTextarea($attach.Properties.getPropertyFormatted("DAV:description"))</textarea>
                              </td>

                       </tr>
                    #else
                        <tr>  <td width="30%" valign="top">$thelp.getString("gen.att") $validator.escapeHtml($attach)</td>
                              <td width="20%" align="right" valign="top"> $thelp.getString("gen.tit2")</td>
                              <td><input type="text" name="title$attach" size="20" /></td>
                       </tr>
                       <tr>   <td width="30%"> &nbsp;  </td>
                              <td width="20%" align="right" valign="top">$thelp.getString("gen.des2")</td>
                              <td>  
                                    <textarea name="description$attach" rows="2" cols="40" wrap="virtual"></textarea>
                              </td>

                       </tr>                      
                    #end
                 #end
            <tr> 
		  <td width="30%"> 
			&nbsp;
		  </td>
 		  <td width="20%" align="right" valign="top"> 
			<span class="Alert">*</span>$thelp.getString("gen.cop2")
		  </td>
		  <td>  
			<input type="radio" name="select$attach" value="mine" checked>
			$thelp.getString("main.usemy")<br>
			<input type="radio" name="copyright$attach" value="others">
			$thelp.getString("main.usecop")<br>
			<textarea name="copyright$attach" rows="2" cols="40" wrap="virtual"></textarea>
		  </td>
            </tr>
            		<tr> 
		  <td colspan=3>
			<hr/>
		  </td>
		</tr>
            #end

          </table>
        </div>
        
        <p align="left">
            <input type="submit" name="eventSubmit_doCancel_properties" value="$thelp.getString("gen.can")" onClick="IsCancel()">
            <input type="submit" name="eventSubmit_doUpdate_properties" value="$thelp.getString("gen.upd")">
        </p>
        </tr>
</form>
</font>
</table>

<script language="JavaScript">
<!--

var isCancel = "false";

function IsCancel()
{
    isCancel = "true";
}

function areTheyEmpty(subject, body)
{
    if (isCancel == "false")
    {
        return true;
    }
}   
//-->
</script>

</div>
