##<!-- $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/helper/chef_attachment_url.vm,v 1.3 2005/06/08 17:31:14 zqian.umich.edu Exp $ -->

<script type="text/javascript" language="JavaScript">
  focus_path = ["url"];
</script>
<div class="portletBody">
	<h3>
		$validator.escapeHtml($from)
	</h3>
	
		#if ($alertMessage)<div class="alertMessage">$thelp.getString("gen.alert") $validator.escapeHtml($alertMessage)</div>#end
		<div class="instruction">
			$thelp.getString("url.ent")			
		</div>
		<form name="form" action="#toolForm("AttachmentAction")" method="post">
			<p class="shorttext">
				<label for="url">$thelp.getString("url.url")</label>
					<input type="text" name="url" id="url" size="80" onkeypress="return clickOnEnter(event, 'eventSubmit_doAdd');"/>
			</p>
			<div class="act">
				<input type="submit"class="active"  name="eventSubmit_doAdd" id="eventSubmit_doAdd" value="$thelp.getString("gen.att2")" />
				<input type="submit" name="eventSubmit_doCancel_add" id="eventSubmit_doCancel_add" value="$thelp.getString("gen.can")" />
			</div>
		</form>
	</div>

