## $Header: /cvs/sakai2/legacy/access/src/webapp/vm/access/invalid.vm,v 1.1 2005/04/14 02:17:53 ggolden.umich.edu Exp $
#chef_start()
<p>$tlang.getString("error.thereq")
&nbsp;&nbsp;&nbsp;&nbsp;$!ref<br/>
$tlang.getString("error.isnot")</p>
#chef_end()
