## $Header: /cvs/sakai/chef-tool/src/webapp/vm/admin/chef_aliases_list.vm,v 1.3 2004/09/16 03:48:42 ggolden.umich.edu Exp $
<div class="chefPortletContainer">
#if($menu)
	#toolbar($menu)
#end
	<div class ="chefPortletContent">
		#if ($alertMessage)<div class="chefAlertBox">Alert: $validator.escapeHtml($alertMessage)</div>#end
		<div class="chefPageviewTitle">
			These are the Aliases defined within the system.  Click an Alias Id to edit or view detail.
		</div>
#if ($aliases.size() > 0)
##		<div id="chefOverContent">
			<table class="chefFlatListViewTable" cellspacing="0" summary ="List of Aliases">
				<tr>
					<th id="Id">Alias</th>
					<th id="Target">Target</th>
				</tr>
	#foreach ($alias in $aliases)
				<tr>
					<td headers="Id">
		#if ($service.allowEdit($alias.Id))
						<a href="#toolLink("$action" "doEdit")&id=$validator.escapeUrl($alias.Id)">
							$validator.escapeHtml($alias.Id)
						</a>
		#else
						$validator.escapeHtml($alias.Id)
		#end
					</td>
					<td headers="Target">$validator.escapeHtml($alias.Target)</td>
				</tr>
	#end
			</table>
##		</div>
#else
		<div class="chefListMessage">
			No aliases are defined.
		</div>
#end
	</div>
</div>
