##<!-- $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/admin/chef_sites_pages.vm,v 1.6 2005/06/06 19:42:22 gsilver.umich.edu Exp $ -->
<div class="portletBody">
#if($menu)
	#toolbar($menu)
#end
	
		#if ($alertMessage)<div class="chefAlertBox">$tlang.getString("sitsec.alert") $validator.escapeHtml($alertMessage)</div>#end
		<h4>
			$tlang.getString("sitsec.edisit") $!site.Id
		</h4>
		<div class="instruction">
			$tlang.getString("sitsec.theare")
		</div>
#if ($sections.size() > 0)
	#set ($sectionCount = 0)
		<table class="listHier" cellspacing="0" summary ="$tlang.getString("sitsec.lisofsec")">
			<tr>
				<th id="Id">$tlang.getString("sitsec.secid")</th>
				<th id="Title">$tlang.getString("sitsec.tit")</th>
				<th id="Description">$tlang.getString("sitsec.des")</th>
			</tr>
	#foreach ($section in $sections)
		#set ($sectionCount=$sectionCount + 1)
			<tr>
				<td headers="Id"  style="border-bottom:1px dashed  gray">
					<a href="#toolLinkParam("$action" "doEdit_section" "id=$validator.escapeUrl($section.Id)")">
						$validator.escapeHtml($section.Id)
					</a>
				</td>
				<td headers="Title"  style="border-bottom:1px dashed  gray">$validator.escapeHtml($section.Title)</td>
				<td headers="Description"  style="border-bottom:1px dashed  gray">$validator.escapeHtml($section.Description)</td>
			</tr>
	#end
		</table>
#else
		<div class="instruction">
			$tlang.getString("sitsec.nosec")
		</div>
#end
		<form name="$form-name" action="#toolForm("$action")" method="post">
			<h4>
				$tlang.getString("sitsec.conedi")
			</h4>	

				<div class="act">
					<input type="submit" name="eventSubmit_doEdit_to_main" value="$tlang.getString("sitsec.don")" />
				</div>
			<h4>	
				$tlang.getString("sitsec.comthesit")
			</h4>	

				<div class="act">
					<input type="submit" name="eventSubmit_doSave_edit" value="$tlang.getString("sitsec.sav")" />
					<input type="submit" name="eventSubmit_doCancel" value="$tlang.getString("sitsec.can")" />
				</div>
		</form>
	</div>

