##<!-- $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/admin/chef_sites_edit_page.vm,v 1.2 2005/05/24 19:36:12 gsilver.umich.edu Exp $ -->

<script type="text/javascript" language="JavaScript">
  focus_path = ["title"];
</script>
<div class="portletBody">

#if($menu)
	#toolbar($menu)
#end
	
		#if ($alertMessage)<div class="chefAlertBox">$tlang.getString("sitedisec.alert") $validator.escapeHtml($alertMessage)</div>#end
		<h3>
			$tlang.getString("sitedisec.edisit") $!site.Id / $tlang.getString("sitedisec.sec") $!section.Id
		</h3>
		<div class="instruction">
			$tlang.getString("sitedisec.revandmod")
		</div>

		<form name="$form-name" action="#toolForm("$action")" method="post">
			<h4>
				$tlang.getString("sitedisec.sec")
			</h4>	
			<table  summary="$tlang.getString("sitedisec.revandmod")">
				<tr>
					<td>$tlang.getString("sitedisec.sec2")</td>
					<td>
						$validator.escapeHtml($section.Id)
					</td>
				</tr>
				<tr>
					<td>
						<label for="title">
							$tlang.getString("sitedisec.tit")
						</label>
					</td>
					<td>
						<input type="text" name="title" id="title" #if($section) value="$!validator.escapeHtml($section.Title)"#end />
					</td>
				</tr>
				<tr>
					<td>
						<label for="desctiption">
							$tlang.getString("sitedisec.des")
						</label>
					</td>
					<td>
						<textarea wrap="virtual" name="description" id="description"  rows="3" cols="30">#if($section)$!validator.escapeHtmlTextarea($section.Description)#end</textarea>
					</td>
				</tr>
			</table>

			#if ($section)
				<h4>
					$tlang.getString("sitedi.pro")
				</h4>
				<table class="itemSyummary" summary="$tlang.getString("sitedi.pro")">
					#set ($paramNames = $section.Properties.PropertyNames)
					#foreach ($paramName in $paramNames)
						#set ($paramValue = $section.Properties.getPropertyFormatted($paramName))
						<tr>
							<th>
								<label for="param_$paramName">
									$paramName:
								</label>
							</th>
							<td>
								<input type="text" disabled name="param_$paramName" id="param_$paramName" value="$validator.escapeHtml($paramValue)" />
							</td>
						</tr>
					#end
				</table>
			#end

			<h4>	
				$tlang.getString("sitedisec.conedi")
			</h4>	
			<div class="act">
				<input type="submit" name="eventSubmit_doDone_section" value="$tlang.getString("sitedisec.don")" />
			</div>
			<h4>
				$tlang.getString("sitedisec.comthesit")
			</h4>	
			<div class="act">
				<input type="submit" name="eventSubmit_doSave_section" value="$tlang.getString("sitedisec.sav")" />
				<input type="submit" name="eventSubmit_doCancel" value="$tlang.getString("sitedisec.can")" />
			</div>
		</form>
	</div>
</div>
