<?xml version="1.0"?>

<!DOCTYPE web-app PUBLIC
    "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <display-name>sakai-chef-tool</display-name>
    <description>Sakai CHEF Tools</description>

	<!-- the vm handling servlet -->
	<servlet>
		<servlet-name>
		   vm
		</servlet-name>
		<servlet-class>
			org.sakaiproject.vm.VelocityServlet
		</servlet-class>
		<init-param>
			<param-name> properties </param-name>
			<param-value> velocity.properties </param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- memory tool -->
    <servlet>
        <servlet-name>
           chef-memory
        </servlet-name>
        <servlet-class>
            org.sakaiproject.tool.admin.MemoryAction
        </servlet-class>
        <init-param>
            <param-name>template</param-name>
            <param-value>admin/chef_memory</param-value>            
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

	<!-- login -->
    <servlet>
        <servlet-name>
           authn
        </servlet-name>
        <servlet-class>
            org.sakaiproject.tool.authn.LoginServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

	<!-- site nav -->
    <servlet>
        <servlet-name>
           sitenav
        </servlet-name>
        <servlet-class>
            org.sakaiproject.tool.sitenav.SiteNavServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

	<!-- access -->
    <servlet>
        <servlet-name>
           access
        </servlet-name>
        <servlet-class>
            org.sakaiproject.tool.access.AccessServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

	<!-- courier -->
    <servlet>
        <servlet-name>
           courier
        </servlet-name>
        <servlet-class>
            org.sakaiproject.tool.courier.Courier
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

	<!-- presence -->
    <servlet>
        <servlet-name>
           presence
        </servlet-name>
        <servlet-class>
            org.sakaiproject.tool.presence.Presence
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>
           chef-alias
        </servlet-name>
        <servlet-class>
            org.sakaiproject.tool.admin.AliasesAction
        </servlet-class>
        <init-param>
            <param-name>template</param-name>
            <param-value>admin/chef_aliases</param-value>            
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>
           chef-archive
        </servlet-name>
        <servlet-class>
            org.sakaiproject.tool.admin.ArchiveAction
        </servlet-class>
        <init-param>
            <param-name>template</param-name>
            <param-value>admin/chef_archive</param-value>            
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>
           chef-presence
        </servlet-name>
        <servlet-class>
            org.sakaiproject.tool.admin.PresenceToolAction
        </servlet-class>
        <init-param>
            <param-name>template</param-name>
            <param-value>admin/chef_presence</param-value>            
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>
           chef-realms
        </servlet-name>
        <servlet-class>
            org.sakaiproject.tool.admin.RealmsAction
        </servlet-class>
        <init-param>
            <param-name>template</param-name>
            <param-value>admin/chef_realms</param-value>            
        </init-param>
        <load-on-startup>1</load-on-startup>
     </servlet>
 
    <servlet>
        <servlet-name>
           chef-sites
        </servlet-name>
        <servlet-class>
            org.sakaiproject.tool.admin.SitesAction
        </servlet-class>
        <init-param>
            <param-name>template</param-name>
            <param-value>admin/chef_sites</param-value>            
        </init-param>
        <load-on-startup>1</load-on-startup>
     </servlet>
 
     <servlet>
        <servlet-name>
           chef-sitemanage
        </servlet-name>
        <servlet-class>
            org.sakaiproject.tool.sitesetupgeneric.SiteAction
        </servlet-class>
        <init-param>
            <param-name>template</param-name>
            <param-value>sitesetupgeneric/chef_site</param-value>            
        </init-param>
        <init-param>
            <param-name>site_mode</param-name>
            <param-value>sitemanage</param-value>     
        </init-param>
        <load-on-startup>1</load-on-startup>
     </servlet>
     
    <servlet>
        <servlet-name>
           chef-users
        </servlet-name>
        <servlet-class>
            org.sakaiproject.tool.admin.UsersAction
        </servlet-class>
        <init-param>
            <param-name>template</param-name>
            <param-value>admin/chef_users</param-value>            
        </init-param>
        <load-on-startup>1</load-on-startup>
     </servlet>

    <servlet>
        <servlet-name>
           chef-singleuser
        </servlet-name>
        <servlet-class>
            org.sakaiproject.tool.admin.UsersAction
        </servlet-class>
        <init-param>
            <param-name>template</param-name>
            <param-value>admin/chef_users</param-value>            
        </init-param>
        <init-param>
            <param-name>single-user</param-name>
            <param-value>true</param-value>            
        </init-param>
        <load-on-startup>1</load-on-startup>
     </servlet>

    <servlet>
        <servlet-name>
           chef-createuser
        </servlet-name>
        <servlet-class>
            org.sakaiproject.tool.admin.UsersAction
        </servlet-class>
        <init-param>
            <param-name>template</param-name>
            <param-value>admin/chef_users</param-value>            
        </init-param>
        <init-param>
            <param-name>create-user</param-name>
            <param-value>true</param-value>            
        </init-param>
        <init-param>
            <param-name>create-login</param-name>
            <param-value>true</param-value>            
        </init-param>
        <load-on-startup>1</load-on-startup>
     </servlet>

    <servlet>
        <servlet-name>
           chef-announcements
        </servlet-name>
        <servlet-class>
            org.sakaiproject.tool.announcement.AnnouncementAction
        </servlet-class>
        <init-param>
            <param-name>template</param-name>
            <param-value>announcement/chef_announcements</param-value>            
        </init-param>
        <load-on-startup>1</load-on-startup>
     </servlet>

    <servlet>
        <servlet-name>
           chef-recent-announcements
        </servlet-name>
        <servlet-class>
            org.sakaiproject.tool.announcement.AnnouncementAction
        </servlet-class>
        <init-param>
            <param-name>template</param-name>
            <param-value>announcement/chef_announcements</param-value>            
        </init-param>
        <init-param>
            <param-name>days</param-name>
            <param-value>10</param-value>            
        </init-param>
        <init-param>
            <param-name>items</param-name>
            <param-value>3</param-value>            
        </init-param>
        <init-param>
            <param-name>length</param-name>
            <param-value>50</param-value>            
        </init-param>
        <init-param>
            <param-name>showAllColumns</param-name>
            <param-value>false</param-value>            
        </init-param>
        <init-param>
            <param-name>showOnlyOptionsButton</param-name>
            <param-value>true</param-value>            
        </init-param>
        <init-param>
            <param-name>showAnnouncementBody</param-name>
            <param-value>true</param-value>            
        </init-param>
        <load-on-startup>1</load-on-startup>
     </servlet>

    <servlet>
        <servlet-name>
           chef-motd
        </servlet-name>
        <servlet-class>
            org.sakaiproject.tool.recent.SynopticMessageAction
        </servlet-class>
        <init-param>
            <param-name>template</param-name>
            <param-value>recent/chef_synoptic_message</param-value>            
        </init-param>
        <init-param>
            <param-name>days</param-name>
            <param-value>1000</param-value>            
        </init-param>
        <init-param>
            <param-name>items</param-name>
            <param-value>1</param-value>            
        </init-param>
        <init-param>
            <param-name>length</param-name>
            <param-value>50000</param-value>            
        </init-param>
        <init-param>
            <param-name>show-subject</param-name>
            <param-value>false</param-value>            
        </init-param>
        <init-param>
            <param-name>show-newlines</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>channel</param-name>
            <param-value>/announcement/channel/!site/motd</param-value>            
        </init-param>
        <init-param>
            <param-name>message-service</param-name>
            <param-value>org.sakaiproject.service.legacy.announcement.AnnouncementService</param-value>            
        </init-param>
        <load-on-startup>1</load-on-startup>
     </servlet>

     <servlet>
        <servlet-name>
           chef-discussion
        </servlet-name>
        <servlet-class>
            org.sakaiproject.tool.discussion.ThreadedDiscussionIIAction
        </servlet-class>
        <init-param>
            <param-name>template</param-name>
            <param-value>discussion/chef_threaded_discussionsII</param-value>            
        </init-param>
        <load-on-startup>1</load-on-startup>
     </servlet>

    <servlet>
        <servlet-name>
           chef-recent-discussion
        </servlet-name>
        <servlet-class>
            org.sakaiproject.tool.recent.SynopticMessageAction
        </servlet-class>
        <init-param>
            <param-name>template</param-name>
            <param-value>recent/chef_synoptic_message</param-value>            
        </init-param>
        <init-param>
            <param-name>days</param-name>
            <param-value>10</param-value>            
        </init-param>
        <init-param>
            <param-name>items</param-name>
            <param-value>3</param-value>            
        </init-param>
        <init-param>
            <param-name>length</param-name>
            <param-value>50</param-value>            
        </init-param>
        <init-param>
            <param-name>show-subject</param-name>
            <param-value>true</param-value>            
        </init-param>
        <init-param>
            <param-name>show-newlines</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>message-service</param-name>
            <param-value>org.sakaiproject.service.legacy.discussion.DiscussionService</param-value>            
        </init-param>
        <load-on-startup>1</load-on-startup>
     </servlet>

    <servlet>
        <servlet-name>
           chef-chat
        </servlet-name>
        <servlet-class>
            org.sakaiproject.tool.chat.ChatAction
        </servlet-class>
        <init-param>
            <param-name>template</param-name>
            <param-value>chat/chef_chat</param-value>            
        </init-param>
        <load-on-startup>1</load-on-startup>
     </servlet>

    <servlet>
        <servlet-name>
           chef-recent-chat
        </servlet-name>
        <servlet-class>
            org.sakaiproject.tool.recent.SynopticMessageAction
        </servlet-class>
        <init-param>
            <param-name>template</param-name>
            <param-value>recent/chef_synoptic_message</param-value>            
        </init-param>
        <init-param>
            <param-name>days</param-name>
            <param-value>10</param-value>            
        </init-param>
        <init-param>
            <param-name>items</param-name>
            <param-value>3</param-value>            
        </init-param>
        <init-param>
            <param-name>length</param-name>
            <param-value>50</param-value>            
        </init-param>
        <init-param>
            <param-name>show-subject</param-name>
            <param-value>false</param-value>            
        </init-param>
        <init-param>
            <param-name>show-newlines</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>message-service</param-name>
            <param-value>org.sakaiproject.service.legacy.chat.ChatService</param-value>            
        </init-param>
        <load-on-startup>1</load-on-startup>
     </servlet>

    <servlet>
        <servlet-name>
           chef-mailbox
        </servlet-name>
        <servlet-class>
            org.sakaiproject.tool.email.MailboxAction
        </servlet-class>
        <init-param>
            <param-name>template</param-name>
            <param-value>email/chef_mailbox</param-value>            
        </init-param>
        <load-on-startup>1</load-on-startup>
     </servlet>

    <servlet>
        <servlet-name>
           chef-calendar
        </servlet-name>
        <servlet-class>
            org.sakaiproject.tool.calendar.CalendarAction
        </servlet-class>
        <init-param>
            <param-name>template</param-name>
            <param-value>calendar/chef_calendar</param-value>            
        </init-param>
        <load-on-startup>1</load-on-startup>
     </servlet>

    <servlet>
        <servlet-name>
           chef-content
        </servlet-name>
        <servlet-class>
            org.sakaiproject.tool.content.ResourcesAction
        </servlet-class>
        <init-param>
            <param-name>template</param-name>
            <param-value>content/chef_resources</param-value>            
        </init-param>
        <init-param>
            <param-name>resources_mode</param-name>
            <param-value>resources</param-value>            
        </init-param>
        <load-on-startup>1</load-on-startup>
     </servlet>

    <servlet>
        <servlet-name>
           chef-dropbox
        </servlet-name>
        <servlet-class>
            org.sakaiproject.tool.content.ResourcesAction
        </servlet-class>
        <init-param>
            <param-name>template</param-name>
            <param-value>content/chef_resources</param-value>            
        </init-param>
        <init-param>
            <param-name>resources_mode</param-name>
            <param-value>dropbox</param-value>            
        </init-param>
        <load-on-startup>1</load-on-startup>
     </servlet>

    <servlet>
        <servlet-name>
           chef-assignment
        </servlet-name>
        <servlet-class>
            org.sakaiproject.tool.assignment.AssignmentAction
        </servlet-class>
        <init-param>
            <param-name>template</param-name>
            <param-value>assignment/chef_assignments</param-value>            
        </init-param>
        <load-on-startup>1</load-on-startup>
     </servlet>

    <servlet>
        <servlet-name>
           chef-noti-prefs
        </servlet-name>
        <servlet-class>
            org.sakaiproject.tool.prefs.NotificationPrefsAction
        </servlet-class>
        <init-param>
            <param-name>template</param-name>
            <param-value>prefs/chef_noti_prefs</param-value>            
        </init-param>
        <load-on-startup>1</load-on-startup>
     </servlet>

    <servlet>
        <servlet-name>
           chef-membership
        </servlet-name>
        <servlet-class>
            org.sakaiproject.tool.prefs.MembershipAction
        </servlet-class>
        <init-param>
            <param-name>template</param-name>
            <param-value>prefs/chef_membership</param-value>            
        </init-param>
        <load-on-startup>1</load-on-startup>
     </servlet>

    <servlet>
        <servlet-name>
           chef-support
        </servlet-name>
        <servlet-class>
            org.sakaiproject.tool.support.ContactSupportAction
        </servlet-class>
        <init-param>
            <param-name>template</param-name>
            <param-value>support/chef_contactsupport</param-value>            
        </init-param>
        <load-on-startup>1</load-on-startup>
     </servlet>

    <servlet>
        <servlet-name>
           chef-news
        </servlet-name>
        <servlet-class>
            org.sakaiproject.tool.news.NewsAction
        </servlet-class>
        <init-param>
            <param-name>template</param-name>
            <param-value>news/chef_news</param-value>            
        </init-param>
        <init-param>
            <param-name>graphic_version</param-name>
            <param-value>Graphic Version</param-value>            
        </init-param>
        <init-param>
            <param-name>full_story</param-name>
            <param-value>Full Story</param-value>            
        </init-param>
        <load-on-startup>1</load-on-startup>
     </servlet>

    <servlet>
        <servlet-name>
           ctools-reserves
        </servlet-name>
        <servlet-class>
            org.sakaiproject.tool.news.ReservesAction
        </servlet-class>
        <init-param>
            <param-name>template</param-name>
            <param-value>news/chef_news</param-value>            
        </init-param>
        <init-param>
            <param-name>graphic_version</param-name>
            <param-value>Mirlyn Version</param-value>            
        </init-param>
        <init-param>
            <param-name>full_story</param-name>
            <param-value>Full Mirlyn Record</param-value>            
        </init-param>
        <load-on-startup>1</load-on-startup>
     </servlet>

	 <servlet>
        <servlet-name>
           chef-iframe
        </servlet-name>
        <servlet-class>
            org.sakaiproject.tool.web.IFrameAction
        </servlet-class>
        <init-param>
            <param-name>template</param-name>
            <param-value>web/chef_iframe</param-value>            
        </init-param>
        <load-on-startup>1</load-on-startup>
     </servlet>

    <servlet>
        <servlet-name>
           chef-sitebrowser
        </servlet-name>
        <servlet-class>
            org.sakaiproject.tool.sitebrowser.SiteBrowserAction
        </servlet-class>
        <init-param>
            <param-name>template</param-name>
            <param-value>sitebrowser/chef_sitebrowser</param-value>            
        </init-param>
        <load-on-startup>1</load-on-startup>
     </servlet>

    <servlet>
        <servlet-name>
           chef-dissertation
        </servlet-name>
        <servlet-class>
            org.sakaiproject.tool.dissertation.DissertationAction
        </servlet-class>
        <init-param>
            <param-name>template</param-name>
            <param-value>dissertation/chef_dissertations</param-value>            
        </init-param>
        <load-on-startup>1</load-on-startup>
     </servlet>

    <servlet>
        <servlet-name>
           chef-dissertation-upload
        </servlet-name>
        <servlet-class>
            org.sakaiproject.tool.dissertation.DissertationUploadAction
        </servlet-class>
        <init-param>
            <param-name>template</param-name>
            <param-value>dissertation/chef_dissertations</param-value>            
        </init-param>
        <load-on-startup>1</load-on-startup>
     </servlet>

    <servlet>
        <servlet-name>
           chef-site-setup
        </servlet-name>
        <servlet-class>
            org.sakaiproject.tool.sitesetupgeneric.SiteAction
        </servlet-class>
        <init-param>
            <param-name>template</param-name>
            <param-value>sitesetupgeneric/chef_site</param-value>            
        </init-param>
        <init-param>
            <param-name>site_mode</param-name>
            <param-value>sitesetup</param-value>            
        </init-param>
        <load-on-startup>1</load-on-startup>
     </servlet>

    <servlet>
        <servlet-name>
           chef-site-info
        </servlet-name>
        <servlet-class>
            org.sakaiproject.tool.sitesetupgeneric.SiteAction
        </servlet-class>
        <init-param>
            <param-name>template</param-name>
            <param-value>sitesetupgeneric/chef_site</param-value>            
        </init-param>
        <init-param>
            <param-name>site_mode</param-name>
            <param-value>siteinfo</param-value>            
        </init-param>
        <load-on-startup>1</load-on-startup>
     </servlet>
     
    <servlet>
        <servlet-name>
           snoop
        </servlet-name>
        <servlet-class>
            org.sakaiproject.cheftool.SnoopServlet
        </servlet-class>

        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
       <servlet-name>
          snoop
       </servlet-name>
       <url-pattern>
         /snoop/*
       </url-pattern>
    </servlet-mapping>

 	<servlet-mapping>
	   <servlet-name>
		  vm
	   </servlet-name>
	   <url-pattern>
		 *.vm
	   </url-pattern>
	</servlet-mapping>

    <servlet-mapping>
       <servlet-name>
          chef-memory
       </servlet-name>
       <url-pattern>
         /chef-memory/*
       </url-pattern>
    </servlet-mapping>

    <servlet-mapping>
       <servlet-name>
          authn
       </servlet-name>
       <url-pattern>
         /authn/*
       </url-pattern>
    </servlet-mapping>

    <servlet-mapping>
       <servlet-name>
          sitenav
       </servlet-name>
       <url-pattern>
         /sitenav/*
       </url-pattern>
    </servlet-mapping>

     <servlet-mapping>
       <servlet-name>
          access
       </servlet-name>
       <url-pattern>
         /access/*
       </url-pattern>
    </servlet-mapping>
 
     <servlet-mapping>
       <servlet-name>
          courier
       </servlet-name>
       <url-pattern>
         /courier/*
       </url-pattern>
    </servlet-mapping>

     <servlet-mapping>
       <servlet-name>
          presence
       </servlet-name>
       <url-pattern>
         /presence/*
       </url-pattern>
    </servlet-mapping>

    <servlet-mapping>
       <servlet-name>
          chef-alias
       </servlet-name>
       <url-pattern>
         /chef-alias/*
       </url-pattern>
    </servlet-mapping>

    <servlet-mapping>
       <servlet-name>
          chef-archive
       </servlet-name>
       <url-pattern>
         /chef-archive/*
       </url-pattern>
    </servlet-mapping>

    <servlet-mapping>
       <servlet-name>
          chef-presence
       </servlet-name>
       <url-pattern>
         /chef-presence/*
       </url-pattern>
    </servlet-mapping>

    <servlet-mapping>
       <servlet-name>
          chef-realms
       </servlet-name>
       <url-pattern>
         /chef-realms/*
       </url-pattern>
    </servlet-mapping>

    <servlet-mapping>
       <servlet-name>
          chef-sites
       </servlet-name>
       <url-pattern>
         /chef-sites/*
       </url-pattern>
    </servlet-mapping>

    <servlet-mapping>
       <servlet-name>
          chef-users
       </servlet-name>
       <url-pattern>
         /chef-users/*
       </url-pattern>
    </servlet-mapping>

    <servlet-mapping>
       <servlet-name>
          chef-singleuser
       </servlet-name>
       <url-pattern>
         /chef-myuser/*
       </url-pattern>
    </servlet-mapping>

    <servlet-mapping>
       <servlet-name>
          chef-createuser
       </servlet-name>
       <url-pattern>
         /chef-createuser/*
       </url-pattern>
    </servlet-mapping>

    <servlet-mapping>
       <servlet-name>
          chef-announcements
       </servlet-name>
       <url-pattern>
         /chef-announcements/*
       </url-pattern>
    </servlet-mapping>

    <servlet-mapping>
       <servlet-name>
          chef-recent-announcements
       </servlet-name>
       <url-pattern>
         /chef-recent-announcements/*
       </url-pattern>
    </servlet-mapping>

    <servlet-mapping>
       <servlet-name>
          chef-motd
       </servlet-name>
       <url-pattern>
         /chef-motd/*
       </url-pattern>
    </servlet-mapping>

    <servlet-mapping>
       <servlet-name>
          chef-discussion
       </servlet-name>
       <url-pattern>
         /chef-discussion/*
       </url-pattern>
    </servlet-mapping>

    <servlet-mapping>
       <servlet-name>
          chef-recent-discussion
       </servlet-name>
       <url-pattern>
         /chef-recent-discussion/*
       </url-pattern>
    </servlet-mapping>

    <servlet-mapping>
       <servlet-name>
          chef-chat
       </servlet-name>
       <url-pattern>
         /chef-chat/*
       </url-pattern>
    </servlet-mapping>

    <servlet-mapping>
       <servlet-name>
          chef-recent-chat
       </servlet-name>
       <url-pattern>
         /chef-recent-chat/*
       </url-pattern>
    </servlet-mapping>

    <servlet-mapping>
       <servlet-name>
          chef-mailbox
       </servlet-name>
       <url-pattern>
         /chef-mailbox/*
       </url-pattern>
    </servlet-mapping>

    <servlet-mapping>
       <servlet-name>
          chef-calendar
       </servlet-name>
       <url-pattern>
         /chef-calendar/*
       </url-pattern>
    </servlet-mapping>

    <servlet-mapping>
       <servlet-name>
          chef-content
       </servlet-name>
       <url-pattern>
         /chef-content/*
       </url-pattern>
    </servlet-mapping>

    <servlet-mapping>
       <servlet-name>
          chef-dropbox
       </servlet-name>
       <url-pattern>
         /chef-dropbox/*
       </url-pattern>
    </servlet-mapping>

    <servlet-mapping>
       <servlet-name>
          chef-assignment
       </servlet-name>
       <url-pattern>
         /chef-assignment/*
       </url-pattern>
    </servlet-mapping>

    <servlet-mapping>
       <servlet-name>
          chef-noti-prefs
       </servlet-name>
       <url-pattern>
         /chef-noti-prefs/*
       </url-pattern>
    </servlet-mapping>

    <servlet-mapping>
       <servlet-name>
          chef-membership
       </servlet-name>
       <url-pattern>
         /chef-membership/*
       </url-pattern>
    </servlet-mapping>

    <servlet-mapping>
       <servlet-name>
          chef-support
       </servlet-name>
       <url-pattern>
         /chef-support/*
       </url-pattern>
    </servlet-mapping>

    <servlet-mapping>
       <servlet-name>
          chef-news
       </servlet-name>
       <url-pattern>
         /chef-news/*
       </url-pattern>
    </servlet-mapping>

    <servlet-mapping>
       <servlet-name>
          ctools-reserves
       </servlet-name>
       <url-pattern>
         /ctools-reserves/*
       </url-pattern>
    </servlet-mapping>

    <servlet-mapping>
       <servlet-name>
          chef-iframe
       </servlet-name>
       <url-pattern>
         /chef-iframe/*
       </url-pattern>
    </servlet-mapping>

    <servlet-mapping>
       <servlet-name>
          chef-sitebrowser
       </servlet-name>
       <url-pattern>
         /chef-sitebrowser/*
       </url-pattern>
    </servlet-mapping>

    <servlet-mapping>
       <servlet-name>
          chef-dissertation
       </servlet-name>
       <url-pattern>
         /chef-dissertation/*
       </url-pattern>
    </servlet-mapping>

    <servlet-mapping>
       <servlet-name>
          chef-dissertation-upload
       </servlet-name>
       <url-pattern>
         /chef-dissertation-upload/*
       </url-pattern>
    </servlet-mapping>

    <servlet-mapping>
       <servlet-name>
          chef-site-setup
       </servlet-name>
       <url-pattern>
         /chef-site-setup/*
       </url-pattern>
    </servlet-mapping>

    <servlet-mapping>
       <servlet-name>
          chef-site-info
       </servlet-name>
       <url-pattern>
         /chef-site-info/*
       </url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
       <servlet-name>
          chef-sitemanage
       </servlet-name>
       <url-pattern>
         /chef-sitemanage/*
       </url-pattern>
    </servlet-mapping>

	<welcome-file-list>
	  <welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>
