## $Header: /cvs/sakai/chef-tool/src/webapp/vm/dissertation/chef_dissertations_preview_new_code.vm,v 1.1 2004/06/21 22:13:42 rwellis Exp $ 
## Dissertations - Administrator's form for previewing Field of Study addition
<div class="chefPortletContainer" id="chefPortletContainer">
	#if($menu)#toolbar($menu)#end
	<span class ="chefPortletToolBarMessage">
		Previewing matching codes...
	</span>
	<div class="chefPortletContent">
		#if ($alertMessage)<div class="chefAlertBox">Alert: $validator.escapeHtml($alertMessage)</div>#end
		<div class="chefPageviewTitle">
			Please check the codes below to make sure they are entered correctly. You can not add a new BGG
			code if a department site for that code has not yet been created,  To change the codes or the
			matching names, click 'Revise'.
		</div>
			<form name="preview" id="preview" action="#toolForm($action)" method="post" enctype="multipart/form-data">
				<table class="chefFlatListViewTable" cellspacing="0" summary="Preview of Field of Study and Block Grant Group code to add.">
					<tr>
						<td class="chefLabel">
							<div class="chefInlineInstructions">
								<label for="FOS">FOS:</label>
							</div>
						</td>
						<td class="chefLabel">
							<div class="chefInlineInstructions">
								$!field.getFieldCode()
							</div>
						</td>
							<td class="chefLabel">
							<div class="chefInlineInstructions">
								$!field.getFieldName()
							</div>
						</td>
						<td class="chefLabel">
							<div class="chefInlineInstructions">
								&nbsp;&nbsp;
							</div>
						</td>
						<td class="chefLabel">
							<div class="chefInlineInstructions">
								<label for="BGG">BGG:</label>
							</div>
						</td>
						<td class="chefLabel">
							<div class="chefInlineInstructions">
								$!field.getGroupCode()
							</div>
						</td>
						<td class="chefLabel">
							<div class="chefInlineInstructions">
								$!field.getGroupName()
							</div>
						</td>
					</tr>
				</table>
				<div class="chefButtonRow">
					<input type="hidden" name="FOS_code" value="$field.getFieldCode()">
					<input type="hidden" name="FOS_name" value="$field.getFieldName()">
					<input type="hidden" name="BGG_code" value="$field.getGroupCode()">
					<input type="hidden" name="BGG_name" value="$field.getGroupName()">
					<input type="submit" name="eventSubmit_doAdd_new_code" id="eventSubmit_doAdd_new_code" value="Submit" />
					<input type="submit" name="eventSubmit_doRevise_new_code" id="eventSubmit_doRevise_new_code" value="Revise" />
					<input type="submit" name="eventSubmit_doCancel_new_codes" id="eventSubmit_doCancel_new_codes" value="Cancel" />
				</div>
			</form>
	</div>
</div>