##<!-- $Header: /cvs/sakai/chef-tool/src/webapp/vm/dissertation/chef_dissertations_admin_view_current_dissertation.vm,v 1.5 2004/09/28 21:13:13 rwellis.umich.edu Exp $ -->
## Dissertations - Administrator's view their department's Dissertation view
<div class="chefPortletContainer">
	<form name="listSteps" id="listSteps" action="#toolForm($action)" method="post">
		<div class="chefPortletContent">
			<table border="0" cellspacing="0" cellpadding="5" width="100%">
				<tr>
					<td align="left" colspan="5">
						#toolbar($menu)
					</td>
				</tr>
			</table>
			<br />
			<table border="0" cellspacing="0" cellpadding="5" width="70%"> 
				<tr>
					<td align="center">LEGEND&nbsp;:&nbsp;</td>
					<td><center><img alt="Student" src="#imageLink("chef/diss_validate1.gif")" BORDER="0" /></center></td>
					<td><center><img alt="Committee Chair" src="#imageLink("chef/diss_validate2.gif")" BORDER="0" /></center></td>
					<td><center><img alt="Committee" src="#imageLink("chef/diss_validate3.gif")" BORDER="0" /></center></td>
					<td><center><img alt="Department" src="#imageLink("chef/diss_validate4.gif")" BORDER="0" /></center></td>
					<td><center><img alt="Rackham" src="#imageLink("chef/diss_validate5.gif")" BORDER="0" /></center></td>
				</tr>
				<tr>
					<td></td>
					<td><center>Student</center></td>
					<td><center>Committee Chair</center></td>
					<td><center>Committee</center></td>
					<td><center>Department</center></td>	
					<td><center>Rackham</center></td>
				</tr>
			</table>
			<p>$department Checklist.</p>
			<br /><br />
			#if($alertMessage)<div class="chefAlertBox">Alert: $alertMessage 
			</div>#end
			<table class="chefFlatListViewTable" border="0" cellspacing="0" cellpadding="5" width="100%">
				#if ($hassteps.booleanValue())
					<tr>
						<th id="empty1">
							&nbsp;&nbsp;
						</th>
						<th id="empty2">
							&nbsp;&nbsp;
						</th>
						<th id="step" align="left" valign="bottom" colspan="2">
							Step
						</th>
						<th id="prerequisites" width="20%" align="left" valign="bottom" nowrap="nowrap">          Prerequisites
						</th>
						<th id="empty3">
							&nbsp;&nbsp;
						</th>
					</tr>
				#set($last=1)
				<tr>
					<td colspan="5" style="font-weight:bold;color:#616161; padding-bottom:15px; padding-top:15px">
						$sections.get($last)
					</td>
				</tr>
				#foreach ($step in $steps)
					#set($indexOfHead = $step.section)				
					#if($indexOfHead!=0)
						#if($indexOfHead!=$last)
							<tr>
								<td colspan="5" style="font-weight:bold;color:#616161; padding-bottom:15px; padding-top:15px">
									$sections.get($indexOfHead)
								</td>
							</tr>
						#end
					#end
							<tr valign="baseline">
							#if(!$dean.booleanValue())
								<td headers="empty1" width="3%">
									<input type="checkbox" name="selectedsteps" id="selectedsteps" value="$step.StepReference">
								</td>
							#else
								<td headers="empty1" width="3%">
									&nbsp;&nbsp;
								</td>
							#end
								<td headers="empty2" width="3%" align="center">
									<center><img alt="$step.ValidationTypeString" src="#imageLink($step.ValidationImage)" BORDER="0" /></center>
								</td>
								<td headers="step" width="3%" align="left">
									${velocityCount}.
								</td>
								<td headers="empty3" width="81%" align="left">
									$step.Instructions
								</td>
								<td headers="prerequisites" width="10%">
									$step.Prereqs
								</td>
							</tr>
					#if($indexOfHead!=0)
						#set($last=$indexOfHead)
					#end
						##set($last = $indexOfHead)
					#end
				#else
					No steps are defined for this checklist.
				#end
			</table>
		</div>
	</form>
</div>
