##<!-- $Header: /cvs/sakai/chef-tool/src/webapp/vm/dissertation/chef_dissertations_candidate_view_path.vm,v 1.5 2004/10/07 17:18:32 rwellis.umich.edu Exp $ -->
## Dissertations - Candidate's view current path view
<div class="chefPortletContainer">
	#toolbar($menu)
	<div class="chefPortletContent">
		<form name="candidateViewPath" id="candidateViewPath" action="#toolForm($action)" method="post">
			<table border="0" cellspacing="0" cellpadding="5" width="70%">
				<tr>
					<td align="center">LEGEND&nbsp;:&nbsp;</td>
					<td><center><img alt="Student" src="#imageLink("chef/diss_validate1.gif")" BORDER="0" /></center></td>
					<td><center><img alt="Committee Chair" src="#imageLink("chef/diss_validate2.gif")" BORDER="0" /></center></td>
					<td><center><img alt="Committee" src="#imageLink("chef/diss_validate3.gif")" BORDER="0" /></center></td>
					<td><center><img alt="Department" src="#imageLink("chef/diss_validate4.gif")" BORDER="0" /></center></td>
					<td><center><img alt="Rackham" src="#imageLink("chef/diss_validate5.gif")" BORDER="0" /></center></td>
				</tr>
				<tr>
					<td></td>
					<td><center>Student</center></td>
					<td><center>Committee Chair</center></td>
					<td><center>Committee</center></td>
					<td><center>Department</center></td>
					<td><center>Rackham</center></td>
				</tr>
			</table>
			<br /><br />
			#if($alertMessage)<div class="chefAlertBox">Alert: $alertMessage </div>#end
			<table class="chefFlatListViewTable" summary="All Steps in the Candidate's Path" border="0" cellspacing="0" cellpadding="5" width="100%">
			#if ($hassteps.booleanValue())
				<tr>
					<th id="empty1" align="left" valign="bottom">
						&nbsp;&nbsp;
					</th>
					<th id="empty2" align="left" valign="bottom">
						&nbsp;&nbsp;
					</th>
					<th id="step" align="left" valign="bottom" colspan="2">
						Step
					</th>
					<th id="prerequisites" width="20%" align="left" valign="bottom" nowrap="nowrap">
						Prerequisites
					</th>
					<th id="empty3" align="left" valign="bottom">
						&nbsp;&nbsp;
					</th>
				</tr>
				#set($last=1)
				<tr>
					<td colspan="5" style="font-weight:bold;color:#616161; padding-bottom:15px; padding-top:15px">
						$sections.get($last)
					</td>
				</tr>
				#foreach ($step in $steps)
					#set($indexOfHead = $step.section)
					#if($indexOfHead!=0)
						#if($indexOfHead!=$last)
							<tr>
								<td colspan="5" style="font-weight:bold;color:#616161; padding-bottom:15px; padding-top:15px">
									$sections.get($indexOfHead)
								</td>
							</tr>
						#end
					#end
					#if ($showcompleted.booleanValue() || ($step.Status != "Step completed."))
						<tr 
						#if ($step.Status == "Prerequisites not completed.")
					 		text="#CCCCCC"
					 	#end
						>
						#if ($step.Status == "Step completed.")
							<td headers="empty1" width="3%"><img alt="Completed" title="Completed : $step.TimeCompleted" src = "#imageLink("chef/checkon.gif")" BORDER="0" /></td>
						#else
							#if ($step.showCheckbox())
								<td headers="empty1" width="3%"><input type="checkbox" name="selectedstatus" id="selectedstatus" value="$step.StatusReference"></input></td>
							#else
								<td headers="empty1" width="3%"></td>
							#end
						#end

						<td headers="empty2" width="3%">
							<center><img alt="ValidationType" src="#imageLink($step.ValidationImage)" BORDER="0" /></center>
						</td>
					
						#if ($step.Status == "Prerequisites not completed.")
							<td headers="step" width="3%"><span style="color:#777777">${velocityCount}.</span></td>
							<td headers="empty3" width="41%"><span style="color:#777777">$step.Instructions</span></td>
							<td headers="prerequisites" width="50%"><span style="color:#777777">$step.Prereqs</span></td>					
						#else
							<td headers="step" width="3%">${velocityCount}.</td>
							<td headers="empty3" width="81%">$step.Instructions
							#if($step.getAuxiliaryText())
								#set($lines = $step.getAuxiliaryText())
								#if($lines.size() > 0)
									<br/><i>Evaluations received:</i><br/>
									#foreach($line in $lines)
										$line<br/>
									#end
								#end
							#end
							</td>
							<td headers="prerequisites" width="10%">$step.Prereqs</td>
						#end
						</tr>
					#end
					#if($indexOfHead!=0)
						#set($last=$indexOfHead)
					#end
				#end
			#else
				No steps are defined for this checklist.
			#end
			</table>
		</form>
	</div>
</div>