##<!-- $Header: /cvs/sakai/chef-tool/src/webapp/vm/dissertation/chef_dissertations_committee_add_stepstatus.vm,v 1.2 2004/07/26 20:12:51 rwellis.umich.edu Exp $ -->
## Dissertations - Committee's add new Dissertation Step view
<div class="chefPortletContainer">
	<div class="chefPageviewTitle">
		Create A New Step
	</div>
	<form name="editForm" id="editForm" action="#toolForm($action)" method="post" >
		<fieldset>
			<legend>
				New Step
			</legend>
			<div class="chefPortletContent">
				The <span class="chefRequiredInline">&nbsp;</span> means this information is required.<br /><br />
				<table class="chefEditItem">
					<tr>
						<td class="chefLabel">
							<label for="desc"><span class="chefRequiredInline">&nbsp;Description&nbsp;:&nbsp;</span></label>
						</td>
						<td colspan=2> 
							<textarea name="desc" cols="70" rows="6" id="desc" wrap="virtual"></textarea>
						</td>
					</tr>
					<tr valign="top">
						<td class="chefLabel" align="left" width="20%"><span class="chefRequiredInline">&nbsp;Actors&nbsp;:&nbsp;</span></td>
						<td align="left">
							<select onchange="blur()" name="vtype" id="vtype" tabindex="5">
								#foreach ($type in $validationtypes)
									#if ($type.equals($step.getValidationType()))
										<option value="$type" selected="selected">$validationTypeTable.get($type)</option>
									#else
										<option value="$type">$validationTypeTable.get($type)</option>
									#end
								#end
							</select>
						</td>
					</tr>
					<tr valign="top">
						<td class="chefLabel" valign="top">Prerequisites&nbsp;:&nbsp;</td>
						<td>
							<select onchange="blur()" name="prereq" id="prereq" multiple="multiple" tabindex="6">
								#foreach ($prereq in $orderedsteps)
									<option value="$prereq.Reference">$prereq.ShortInstructionsText</option>
								#end
							</select>
							<div class="chefSectionMessage">
								Note&nbsp;:&nbsp;To select more than one, hold Apple-select on mac, Ctrl-select on pc.
							</div>
						</td>
					</tr>
					<tr valign="top">
						<td class="chefLabel" valign="top"><span class="chefRequiredInline">&nbsp;Location&nbsp;:&nbsp;</span></td>
						<td>
							<select onchange="blur()" name="location" id="location" tabindex="6">
								<option selected="selected" value="start">START</option>
								#foreach ($step in $orderedsteps)
									<option value="$step.Reference">$step.ShortInstructionsText</option>
								#end
							</select>
							<div class="chefSectionMessage">
								Note&nbsp;:&nbsp;The new step will appear AFTER the selected step.
							</div>
						</td>
					</tr>
				</table>
				<div class="chefButtonRow">
					<input type="submit" name="eventSubmit_doAddnew_stepstatus_comm" value="Save" />
					<input type="submit" name="eventSubmit_doCancel_committee" value="Cancel" />
				</div>
			</div>
		</fieldset>
	</form>
</div>