## $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/support/chef_contactsupport_option.vm,v 1.1 2005/04/14 20:22:09 ggolden.umich.edu Exp $ 

<div class="PortletContainer"> 
<div class="chefPortletContent">

<form name="Options" action="#toolForm("$action")" method="post">
	<fieldset>
	<legend>$tlang.getString("opt.helopt")s</legend>
	    <table class="chefEditItem">
			<tr>
				<td class="label"><label>$tlang.getString("opt.helgui")</label></td>
				<td><input type="text" id="newHelpGuideUrl" name="newHelpGuideUrl"  value=""/></td>
			</tr>
			<tr>
				<td class="label"><label>$tlang.getString("opt.cont")</label></td>
				<td><input type="text" id="newHelpEmail" name="newHelpEmail"  value=""/></td>
			</tr>
		</table>
	</fieldset>
	
	<div class="chefButtonRow">
	<input type="submit" name="eventSubmit_doSave" value="$tlang.getString("opt.sav")">
	<input type="submit" name="eventSubmit_doCancel" value="$tlang.getString("opt.can")">
	</div>
</form>

</div>
</div>

