## $Header: /cvs/sakai/chef-tool/src/webapp/vm/chat/chef_chat-delete.vm,v 1.1 2004/07/16 19:40:43 janderse.umich.edu Exp $
<div class="chefPortletContainer">
<div class="chefPortletContent">
		#if ($alertMessage)<div class="chefAlertBox">Alert: $validator.escapeHtml($alertMessage)</div>#end

<table><tr><td colspan="2" nowrap="nowrap">
<div class="chefAlertBox">Are you sure you want to permanently delete this message?
</div>
</td></tr></table>

<form name="deleteTemplateForm" action="#toolForm("$action")" method="post">
<table class="chefItemDetail" cellspacing="0">
<tr>
    <td class="chefLabel">From:</td>
    <td>$validator.escapeHtml($validator.escapeHtml($message.Header.From.DisplayName))</td>
</tr>

<tr>
    <td class="chefLabel">Date:</td> 
    <td>$message.Header.Date.toStringLocalFull()</td>
</tr>
	
<tr>
    <td class="chefLabel">Message:</td>
    <td><span class="chefChatMessageBody"><span class="chefPre">$validator.escapeHtmlFormattedText($message.Body)</span></span></td>
</tr>
</table>

<p>
<div class="chefButtonRow">
<input type="submit" name="eventSubmit_doDeleteMessage" value="Delete">
<input type="submit" name="eventSubmit_doCancel" value="Cancel">
</div>
</p>
</form>
</div>
</div>
