## $Header: /cvs/sakai/chef-tool/src/webapp/vm/chat/chef_chat-customize.vm,v 1.2 2004/03/16 21:19:04 ggolden Exp $
## chef_chat-customize.vm, use with org.chefproject.ChatAction.java
##     context: $chat_channel: String channel name
##              $chat_ascending: Ascending flag
##              $chat_channels: List of potential channel ids
##              $chat_channel_form: form name for selected channel
##				$new_chat_channel: 
##              $chat_ascending_form: form name for ascending field
##              $action: action= value
##              $form-submit: submit button name
##

<div class="chefPortletContainer">
	<div class ="chefPortletToolBarMessage">
		Customizing chat room...
	</div>
	<div class="chefPortletContent">
		#if ($alertMessage)<div class="chefAlertBox">Alert: $validator.escapeHtml($alertMessage)</div><div style="display:block;clear:both" />#end
		<form name="customize" id="customize" action="#toolForm("$action")" method="post">
			<p> </p>
			<fieldset>
				<legend>
					Chat Room
				</legend>
				<div class="chefInlineInstructions">
					<br/>Which chat room will be displayed?
				</div>
				<br />
#set($optionCounter=0)
#if ($default_chat_channel == $chat_channel)
				<input 
					type="radio" 
					value="$default_chat_channel" 
					name="$chat_channel_form" 
					id="$validator.escapeHtml("${chat_channel_form}_$optionCounter")" 
					checked="checked" />
				<label for="$validator.escapeHtml("${chat_channel_form}_$optionCounter")">
					Use this worksite's Main Chat Room
				</label>
				<br />
#set($optionCounter=$optionCounter + 1)

#else
				<input 
					type="radio" 
					value="$chat_channel" 
					name="$chat_channel_form" 
					id="$validator.escapeHtml("${chat_channel_form}_$optionCounter")" 
					checked="checked" />
				<label for="$validator.escapeHtml("${chat_channel_form}_$optionCounter")">
					Use the Chat Room called "$chat_channel"
				</label>
				<br />
#set($optionCounter=$optionCounter + 1)
				
				<input 
					type="radio" 
					value="$default_chat_channel" 
					name="$chat_channel_form" 
					id="$validator.escapeHtml("${chat_channel_form}_$optionCounter")" />
				<label for="$validator.escapeHtml("${chat_channel_form}_$optionCounter")">
					Use this worksite's Main Chat Room
				</label>
				<br />
#set($optionCounter=$optionCounter + 1)
				
#end
#foreach ($channel in $chat_channels)
#if (!$channel.equals($chat_channel) && !$channel.equals($default_chat_channel))
				<input 
					type="radio" 
					value="$channel" 
					name="$chat_channel_form" 
					id="$validator.escapeHtml("${chat_channel_form}_$optionCounter")" />
				<label for="$validator.escapeHtml("${chat_channel_form}_$optionCounter")">
					Use the Chat Room called "$channel"
				</label>
				<br />
#set($optionCounter=$optionCounter + 1)
				
#end
#end
				<input 
					type="radio" 
					value="$new_chat_channel" 
					name="$chat_channel_form" 
					id="$validator.escapeHtml("${chat_channel_form}_new_channel")" />
				<label for="$validator.escapeHtml("${chat_channel_form}_new_channel")">
					Use a new Chat Room called 
				</label>
				<input 
					type="text" 
					name="$form_new_channel" 
					id="$form_new_channel" 
					onclick="document.getElementById('${chat_channel_form}_new_channel').checked=true" 
					onchange="document.getElementById('${chat_channel_form}_new_channel').checked=true" 
					size="30" />
				<label for="$form_new_channel">
				</label>
				<br />
			</fieldset>
			<p> </p>
			
			<fieldset>
				<legend>
					Message Display
				</legend>
				<div class="chefInlineInstructions">
					<br/>How many messages will be displayed? 
				</div>
				<br />
				
				<input 
					type="radio" 
					name="$filter_type_form" 
					id="$validator.escapeHtml("${filter_type_form}-SelectAllMessages")" 
#if($filter_type == "SelectAllMessages")
					checked="checked"
#end 
					value="SelectAllMessages" />
				<label for="${filter_type_form}-SelectAllMessages">
					Show all messages
				</label>
				<br />
				
				<input 
					type="radio" 
					name="$filter_type_form" 
					id="${filter_type_form}_SelectMessagesByTime" 
#if($filter_type == "SelectMessagesByTime") 
					checked="checked"
#end 
					value="SelectMessagesByTime" />
				<label for="${filter_type_form}_SelectMessagesByTime">
					Show messages from the past 
				</label>
				<input 
					type="text" 
					name="$filter_days_param_form" 
					id="$filter_days_param_form" 
					size="3" 
					onclick="document.getElementById('${filter_type_form}_SelectMessagesByTime').checked=true"
					onchange="document.getElementById('${filter_type_form}_SelectMessagesByTime').checked=true"
					value="$!filter_days_param" />
				<label for="$filter_days_param_form"> days</label>
				<br />
				
				<input 
					type="radio" 
					name="$filter_type_form" 
					id="${filter_type_form}_SelectMessagesByNumber" 
#if($filter_type == "SelectMessagesByNumber") 
					checked="checked"
#end
					value="SelectMessagesByNumber" />
				<label for="${filter_type_form}_SelectMessagesByNumber">
					Show the last 
				</label>
				<input 
					type="text" 
					name="$filter_number_param_form" 
					id="$filter_number_param_form" 
					size="3" 
					onclick="document.getElementById('${filter_type_form}_SelectMessagesByNumber').checked=true"
					onchange="document.getElementById('${filter_type_form}_SelectMessagesByNumber').checked=true"
					value="$!filter_number_param" />
				<label for="$filter_number_param_form"> messages</label>
				<br />
				
			</fieldset>
			<p> </p>
			<div class="chefButtonRow">
				<input type="submit" name="$form-submit" value="Save" />
				<input type="submit" name="$form-cancel" value="Cancel" />
			</div>
			<p> </p>
		</form>
	</div>
</div>
