## $Header: /cvs/sakai/chef-tool/src/webapp/vm/content/chef_resources_addFileBasic.vm,v 1.14.2.3 2005/03/21 15:19:10 lance.indiana.edu Exp $ 
## #paitence("upload") %%%  currently disabled -ggolden

<script type="text/javascript" language="JavaScript">
  focus_path = ["filename1"];
</script>
<div class="chefPortletContainer" id="chefPortletContainer">
	<div class ="chefPortletToolBarMessage">
		Adding file(s)...
	</div>
	<script type="text/javascript">
		function enableNewCopyright(obj_mycopyright, obj_newcopyright)
		{
			obj_mycopyright.checked = false;
			obj_newcopyright.checked = true;
		}

		function clearNewCopyright(obj_textarea)
		{
			obj_textarea.value = "";
		}
		
		function checkItem(copyrightIndex, fileIndex)
		{
			var obj_alert_name="copyrightAlert"+fileIndex;
			var obj_alert_item=document.getElementById(obj_alert_name);
			var obj_newcopyright_name="newcopyright"+fileIndex;
			var obj_newcopyright_item=document.getElementById(obj_newcopyright_name);
			if (copyrightIndex == 0)
			{
				obj_alert_item.checked=false;
				obj_newcopyright_item.disabled=true;
			}
			else if (copyrightIndex < 5)
			{
				obj_alert_item.checked=true;
				obj_newcopyright_item.disabled=true;
			}
			else if (copyrightIndex == 5)
			{
				obj_alert_item.checked=true;
				obj_newcopyright_item.disabled=false;
			}
		}
	</script>
	<div class="chefPortletContent">
		#if ($alertMessage)<div class="chefAlertBox">Alert: $validator.escapeHtml($alertMessage)</div>#end
		<div class ="chefBreadCrumb">
			Location:
			<img src = "#imageLink($contentTypeImageService.getContentTypeImage("folder"))" border="0" alt="folder" />
			#foreach ($id in $collectionPath)
				#if ($dropboxMode && $id==$homeCollection)
					$siteTitle Drop Box /
				#else
					$validator.escapeHtml($service.getProperties($id).getPropertyFormatted($resourceProperties.NamePropDisplayName)) /
				#end
			#end
			#if ($dropboxMode && $collectionId==$homeCollection)
				$siteTitle Drop Box
			#else
				$validator.escapeHtml($service.getProperties($collectionId).getPropertyFormatted($resourceProperties.NamePropDisplayName))
			#end
		</div>		
		<div class="chefPageviewTitle">
			Complete the form(s) then choose 'post' at the bottom. A <span class="chefRequiredInline">means</span> required information. 
			<br />
		</div>
		<form 
			name="addFileBasicForm" 
			id="addFileBasicForm" 
			action="#toolForm("ResourcesAction")&special=upload" 
			method="post" 
			enctype="multipart/form-data">
			<input type="hidden" name="from" value="add" />
			<input type="hidden" name="collectionId" value="$validator.escapeHtml($collectionId)" />
			<input type="hidden" name="addFileStep" value="basic" />
			<input type="hidden" name="stateName" value = "addFileBasic" />
			<input type ="hidden" name = "itemType" value="file" />
			<input type="hidden" name="eventSubmit_doAdd_file_basic" value="x" />
			<input type="hidden" name="option" value="change" />
			<span class="chefRequiredInline">Select</span> number of files to add: 
			<select name="fileNumber" id="select" onchange="javascript:document.addFileBasicForm.submit();">
				#foreach ($i in [1 .. 10])
					#if ($i==$currentFileNumber)
						<option value="$i" selected="selected">$i</option>
					#else
						<option value="$i">$i</option>
					#end
				#end
			</select>
			#foreach( $i in [1 ..$currentFileNumber] )
				<fieldset>
					<legend>
						#if ($currentFileNumber == 1)
							File
						#else
							File $i of $currentFileNumber
						#end
					</legend>
					<table class="chefEditItem">
						<tr>
							<td class="chefLabel" nowrap="nowrap">
								#if ($unqualified_fields.get($i).indexOf("osname")!=-1)
									<span class="chefRequiredInline">Choose</span>a file:
								#else
									<span class="chefRequiredInline">Choose</span>a file:
								#end
							</td>
							<td>
								#if ($osNames.get($i).length()==0)
									 <input type="file" name="filename$i"  class ="upload" />
								#else
									$osNames.get($i)<br>
									To change: <br>
									<input type="file" name="filename$i" size="20" class ="upload" />
								#end
							</td>
						</tr>
						<tr> 
							<td class="chefLabel" nowrap="nowrap">
								#if (($titles.get($i).length()>0) && ($unqualified_fields.get($i).indexOf($service.newResourceProperties().NamePropDisplayName)!=-1))
									<span class="chefRequiredInline">Title:</span>
								#else
									 Title:
								#end
							</td>
							<td>
								<input type="text" name ="title$i" value="$titles.get($i)" size="40" />
							</td>
						</tr>
						<tr>
							<td class="chefLabel" nowrap="nowrap"> 
								Description:
							</td>
							<td>
								<textarea name="description$i" rows="5" cols="40" wrap="virtual">$validator.escapeHtmlTextarea($descriptions.get($i))</textarea>
							</td>
						</tr>
						#if ($!copyrightTypes)
							##show the copyright choices
							<tr>
								<td class="chefLabel" nowrap="nowrap">
									<span class="chefRequiredInline">Copyright Status:</span>
								</td>
								<td>
									#if ($!fairuseurl)
										For information on copyright and fair use, please refer to: $fairuseurl<br />
									#end
									#foreach ($k in [0..$copyrightTypesSize])
										#set($copyright = $copyrightTypes.get($k))
										<input type="radio" name="copyright$i" id ="copyright$i" value="$copyright" #if ($copyrights.get($i)==$copyright)checked="checked"#end />$copyright<br />
									#end
									#if ($!newcopyrightinput == "true")
										<textarea name="newcopyright$i" id="newcopyright$i" rows="5" cols="40" wrap="virtual" >$validator.escapeHtmlTextarea($newcopyrights.get($i))</textarea><br />
									#end
									<br />
									<input type="checkbox" name="copyrightAlert$i" id ="copyrightAlert$i" value="true" #if ($copyrightAlerts.get($i).equalsIgnoreCase("true")) checked="checked"#end/>Display copyright alert below and require acknowledgement.<br />
									<div class="chefAlertBox">
										<ul>
											<li>You may download or copy this file for use in this site.</li>
											<li>You may NOT download or copy this file to another site.</li>
											<li>You may NOT download or copy this file for publication or sale.</li>
										</ul>
									</div>
								</td>
							</tr>
						#end
						#if (!$dropboxMode)
							## not show the public view in dropbox
							<tr> 
								<td class = "chefLabel" nowrap="nowrap"> 
									Public View:
								</td>
								<td>
									#set ($pubview = $pubviews.get($i))
									#if ($pubviewset)
										Set to Yes in a containing folder.
									#else
										<input type="radio" name="pubview$i" id="pubview_true$i" value="true" #if ($pubview) checked="checked" #end />Yes<br />
										<input type="radio" name="pubview$i" id="pubview_false$i" value="false" #if (!$pubview) checked="checked" #end />No
									#end
								</td>
							</tr>
						#end
						#* only allow open in new window for 2003 fall release
						<tr> 
							<td class="chefLabel"> 
								Open in:
							</td>
							<td>		
								#if ($openIns.get($i) == "false")
									<input type="radio" name="target$i" id="targetnew$i" value="true" />
									<label for ="targetnew$i">New window</label> <br />
									<input type="radio" name="target$i" id="targetthis$i" value="false" checked="checked" />
									<label for ="targetthis$i">This window</label> <br />
								#else
									<input type="radio" name="target$i" id="targetnew$i" value="true" checked="checked" />
									<label for ="targetnew$i">New window</label> <br />
									<input type="radio" name="target$i" id="targetthis$i" value="false" />
									<label for ="targetthis$i">This window</label> <br />
								#end
							</td>
						</tr>
						*#
					</table>
				</fieldset>
			#end
				#if (!$dropboxMode && ($notification))
					## not show notification in dropbox
					<table>
						<tr>
							<td style="vertical-align:middle">Email Notification:</td>
                              <td>
                              	<select name="notify">
                                  	<option value="r">High - All participants</option>
                                      <option value="o">Low - Only participants who have opted in</option>
                                      <option value="n" selected="selected">None - No notification</option>
                           		</select>
							</td>
						</tr>
					</table>
				#end
			<div class ="chefButtonRow">
## showNotif parameters: 1) id of the span that should show ('submitnotif'), 2) name of the input to disable (no spaces,hope that is OK), 3) name of the form)
## call the showNotif function first - set 1st parameter to 'noNotif' > notification will remain hidden, 2nd parameter to 'noBlock'  > submit button will not be disabled
				<input
					type="button" 
					name="AddFile" 
					id="Add file" 
					value="Post"
					onClick="showNotif('submitnotif','AddFile','addFileBasicForm'); document.addFileBasicForm.option.value='add'; document.addFileBasicForm.submit(); return false;"
				/>
				<input 
					type="submit" 
					name="Cancel" 
					id="Cancel" 
					value="Cancel"
					onClick="document.addFileBasicForm.option.value='cancel'; document.addFileBasicForm.submit(); return false;"
				/>
			<span id="submitnotif" style="visibility:hidden">Processing......</span>	
			</div>
			<p />
			<b>Note:</b> You can only upload $config.getString("content.upload.max","1") MB worth of files at one time. You may need to upload large files one at a time.
		</form>
	</div>
</div>
