## $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/discussion/chef_threaded_discussionsII-customize.vm,v 1.1 2005/04/14 20:22:07 ggolden.umich.edu Exp $ 

<script type="text/javascript">
	focus_path = [ "$form-pagesize" ];
</script>

#if($optSize) #set($sizeValue=$optSize) #else #set($sizeValue=$pagesize) #end
#if($optOpen) #set($openValue=$optOpen) #else #set($openValue=$channel.Open) #end
#if($optAlias)
	#set($aliasValue=$optAlias)
#else
	#if ($alias)
		#set($aliasValue=$alias)
	#else
		#set($aliasValue="")
	#end
#end

<div class="chefPortletContainer">
	<h3>
		$tlang.getString("custom.cusdis")
	</h3>
	<div class="chefPortletContent">
		#if ($alertMessage)<div class="alertMessage">$tlang.getString("gen.alert") $validator.escapeHtml($alertMessage)</div><div style="display:block;clear:both" />#end
		<form action="#toolForm($action)" method="post">
			<fieldset>
				<legend>
					$tlang.getString("custom.disdis")
				</legend>
				<div class="chefSectionTitle ">
					$tlang.getString("custom.howmanmes")
				</div>
				<div style="margin-left:1em">
					<input type="text" name="$form-pagesize" id="$form-pagesize" value="$sizeValue" />
				</div>
			</fieldset>
			<fieldset>
				<legend>
					$tlang.getString("custom.maiset")
				</legend>
				<div class="chefSectionTitle ">
					$tlang.getString("custom.whoaremes")
				</div>
				<div style="margin-left:1em">
					<input 
						type="radio" #if ($openValue) checked="checked" #end
						name="${form-open}" 
						id="${form-open}-true" 
						value="true" /> 
					<label for="${form-open}-true">
						$tlang.getString("custom.any")
					</label>
					<br />
					<input 
						type="radio" #if (!$openValue) checked="checked" #end
						name="${form-open}" 
						id="${form-open}-false" 
						value="false" /> 
					<label for="${form-open}-false">
						$tlang.getString("custom.onlusewit")
					</label>
				</div>
			</fieldset>
			<fieldset>
				<legend>
					$tlang.getString("custom.maiali")
				</legend>
				<div class="chefSectionTitle ">
					$tlang.getString("custom.usethisali")
				</div>
				<div style="margin-left:1em">
					<input type="text" name="$form-alias" id="$form-alias" value="$aliasValue" />
				</div>
			</fieldset>
			<div class="act">
				<input type="submit" name="$form-submit" value="$tlang.getString("gen.sav")" />
				<input type="submit" name="$form-cancel" value="$tlang.getString("gen.can")" />
			</div>
		</form>
	</div>
</div>
