##<!-- $Header: /cvs/sakai/chef-tool/src/webapp/vm/discussion/chef_threaded_discussionsII-Layout.vm,v 1.2 2004/08/11 15:50:13 gsilver.umich.edu Exp $ -->
<div class="chefPortletContainer">
	<iframe
		name="$validator.escapeJavascript("$panel-toolbar")"
		id="$validator.escapeJavascript("$panel-toolbar")"
		title="$panel-toolbar"
		class="chefPortletContainer"
		width="60%"
		style="height:5em;border:1px solid #fff"
		frameborder="0"
		marginwidth="0"
		marginheight="0"
		scrolling="no"
		align="left"
		src="#contentCourierLink("$panel-toolbar")">
	</iframe>
	<div class="chefPortletContent">
		#if (!$layout_left_right)
			<table width="100%" border="0" cellspacing="0" cellpadding="0" summary="layout">
				<tr>
					<td>
						<iframe
							name="$validator.escapeJavascript("$panel-monitor")"
							id="$validator.escapeJavascript("$panel-monitor")"
							title="$panel-monitor"
							width="100%"
							height="250"
							frameborder="0"
							marginwidth="0"
							marginheight="0"
							scrolling="auto"
							align="middle"
							src="#contentLink("$panel-monitor")">
						</iframe>
					</td>
				</tr>
				<tr>
					<td>
						<iframe
							name="$validator.escapeJavascript("$panel-control")"
							id="$validator.escapeJavascript("$panel-control")"
							title="$panel-control"
							width="100%"
							frameborder="0"
							style="border-top:1px solid gray"							
							marginwidth="0"
							marginheight="0"
							scrolling="auto"
							align="middle"
							src="#contentCourierLink("$panel-control")">
						</iframe>
					</td>
				</tr>
			</table>
		#else
			<table width="100%" border="0" cellspacing="0" cellpadding="0" summary="layout">
				<tr>
					<td width="50%">
						<iframe
							name="$validator.escapeJavascript("$panel-monitor")"
							id="$validator.escapeJavascript("$panel-monitor")"
							title="$panel-monitor"
							width="100%"
							height="600"
							frameborder="0"
							marginwidth="0"
							marginheight="0"
							scrolling="auto"
							align="left"
							src="#contentLink("$panel-monitor")">
						</iframe>
					</td>
					<td>
						<iframe
							name="$validator.escapeJavascript("$panel-control")"
							id="$validator.escapeJavascript("$panel-control")"
							title="$panel-control"
							width="100%"
							height="600"
							style="border-left:1px solid gray"							
							frameborder="0"
							marginwidth="0"
							marginheight="0"
							scrolling="auto"
							align="right"
							src="#contentCourierLink("$panel-control")">
						</iframe>
					</td>
				</tr>
			</table>
		#end
	</div>
</div>