## $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/content/chef_resources_addURLAdvanc.vm,v 1.2 2005/06/03 15:50:41 jimeng.umich.edu Exp $ 
###############################################################
##### deprecated -- not used in refactored resources tool #####
###############################################################
<script type="text/javascript" language="JavaScript">
  focus_path = ["description"];
</script>
<div class="PortletContainer">
		#if ($alertMessage)<div class="chefAlertBox">$tlang.getString("gen.alert") $validator.escapeHtml($alertMessage)</div>#end
Add a document to this folder: $validator.escapeHtml($collectionId) 
<form name="addFileBasicForm" action="#toolForm("ResourcesAction")" method="post" enctype="multipart/form-data">
	<input type="hidden" name="view" value="general" />
	<input type="hidden" name="collectionId" value="$validator.escapeHtml($collectionId)" />
	<input type="hidden" name="addFileStep" value="basic" />
	
  <table border="0" cellspacing="1" cellpadding="3" width="100%">
    <tr> 
      <td colspan="4" > <br>
	    $tlang.getString("addu.set") <span class="Alert">*</span> $tlang.getString("gen.form2") $tlang.getString("gen.form3")<br>
      </td>
    </tr>
    <tr> 
      <td width="142"> 
        <p>&nbsp;</p>
      </td>
      <td width="154">$tlang.getString("gen.description")</td>
      <td width="203"><span class="Alert">*</span>$tlang.getString("gen.cpr")</td>
      <td width="146">$tlang.getString("gen.access")</td>
    </tr>
    <tr bgcolor="#FFFFFF"> 
      <td width="142"> 
        <div align="right">$tlang.getString("addu.url1") </div>
      </td>
      <td valign="top" width="154"> 
        <textarea cols="15" name="description" id="description" wrap="virtual"></textarea>
      </td>
      <td valign="top" width="203"> 
        <input type="radio" name="radiobutton" value="radiobutton">
        $tlang.getString("gen.cpr2")<br>
        <input type="radio" name="radiobutton" value="radiobutton" checked>
        $tlang.getString("gen.cpr3")<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        <input type="text" name="copyright">
      </td>
      <td valign="top" width="146"> 
        <p> 
          <select name="select2" onchange="blur()">
            <option>$tlang.getString("addu.priv")</option>
            <option>$tlang.getString("addu.inst")</option>
            <option selected>$tlang.getString("addu.whole")</option>
            <option>$tlang.getString("addu.public")</option>
            <option>$tlang.getString("addu.custom")</option>
          </select>
        </p>
      </td>
    </tr>
    <tr bgcolor="#CCCCCC"> 
      <td width="142"> 
        <div align="right">$tlang.getString("addu.url2") </div>
      </td>
      <td valign="top" width="154"> 
        <textarea cols="15" name="textarea" wrap="virtual"></textarea>
      </td>
      <td valign="top" width="203"> 
        <input type="radio" name="radiobutton" value="radiobutton">
        $tlang.getString("gen.cpr2")<br>
        <input type="radio" name="radiobutton" value="radiobutton" checked>
        $tlang.getString("gen.cpr3")<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        <input type="text" name="copyright2">
      </td>
      <td valign="top" width="146"> 
        <select name="select3" onchange="blur()">
          <option>$tlang.getString("addu.priv")</option>
          <option>$tlang.getString("addu.inst")</option>
          <option selected>$tlang.getString("addu.whole")</option>
          <option>$tlang.getString("addu.public")</option>
          <option>$tlang.getString("addu.custom")</option>
        </select>
      </td>
    </tr>
    <tr> 
      <td colspan="4"> 
        <input type="submit" name="eventSubmit_doAddfile2" value="$tlang.getString("addu.links")" />
        <INPUT type="submit" name="eventSubmit_doShow" value="$tlang.getString("gen.cancel")" />
      </td>
    </tr>
  </table>
	</form>
</div>