## version: $Id:  $
<!-- chef_resources_list.vm, use with org.sakaiproject.tool.content.ResourcesAction.java -->
<script language="JavaScript" type="text/JavaScript">
	<!--
		function openCopyrightWindow(theURL,winName,winSettings) 
		{ 
		  window.open(theURL,winName,winSettings);
		  return false;
		}
		function toggleSelectAll(caller, elementName)
		{
			var newValue = caller.checked;
			var elements = document.getElementsByName(elementName);
			if(elements)
			{
				for(var i = 0; i < elements.length; i++)
				{
					elements[i].checked = newValue;
				}
			}
			if(newValue == true)
			{
				caller.title = "$tlang.getString("list.unselect")"
			}
			else
			{
				caller.title = "$tlang.getString("list.select")"
			}
		}
	//-->
</script>
<!-- this is the list template -->
#set($num = 0)
<div class="portletBody">
	#set($itemsOnLine = 0)
	#if ($atHome && $atHome == $TRUE)
		#if($site.canRevise())
			<div class="chefToolBarWrapForm">
				#if(!$dropboxMode)
					#set($itemsOnLine = 1)
					<a href="#toolLink("ResourcesAction" "doShow_webdav")" title="$tlang.getString('dav.webdav')">$tlang.getString("dav.webdav").trim()</a> 
				#end 
				#if("$!inMyWorkspace" == "false")
					#if($itemsOnLine > 0)
						|
					#end
					<a href="#toolLinkParam("ResourcesAction" "doPermissions" "collectionId=$validator.escapeUrl(${site.id})")" title="$tlang.getString('list.sPerm')">$tlang.getString("list.sPerm").trim()</a>
				#end
			</div>
		#end
	#end
	#if ($alertMessage)
		<div class="chefAlertBox">$tlang.getString("gen.alert") $validator.escapeHtml($alertMessage)</div><div style="display:block;clear:both" ></div>
	#end
	<form name="showForm" id="showForm" action="#toolForm("ResourcesAction")" method="post">
		<input type="hidden" name="source" value="0" />
		<input type="hidden" name="collectionId" value="$validator.escapeHtml($collectionId)" />
		<input type="hidden" name="from" value="list" />
		<input type="hidden" name="sakai_action" id="sakai_action" value="" />
		######################  Page Title / Breadcrumbs  ##############
		<h3>
			<span class ="chefBreadCrumb">
				$tlang.getString("gen.location")
				<img src = "#imageLink($contentTypeImageService.getContentTypeImage("folder"))" border="0"  alt="folder" />
				#foreach ($item in $collectionPath)
					#if($item.isLast())
						#if ($dropboxMode && $velocityCount == 1)
							$siteTitle $tlang.getString("gen.drop")
						#elseif($velocityCount == 1)
							$siteTitle $tlang.getString("gen.reso")
						#else
							$validator.escapeHtml("$item.name")
						#end
						#if($upOneLevel)
							<a href="#toolLinkParam("ResourcesAction" "doNavigate" "collectionId=$validator.escapeUrl($upOneLevel.id)&navRoot=$validator.escapeUrl($upOneLevel.root)")" title= "$tlang.getString('sh.one')">
								<img src="/library/image/sakai/onelevelup.gif" border="0" alt ="$tlang.getString('sh.one')"/>
							</a>
						#end
					#else
						<a href="#toolLinkParam("ResourcesAction" "doNavigate" "collectionId=$validator.escapeUrl($item.id)&navRoot=$validator.escapeUrl($item.root)")" title ="$tlang.getString('sh.go')">
							#if ($dropboxMode && $velocityCount == 1)
								$siteTitle $tlang.getString("gen.drop")
							#elseif($velocityCount == 1)
								$siteTitle $tlang.getString("gen.reso")
							#else
								$validator.escapeHtml("$item.name")
							#end
						</a> /
						#set($upOneLevel = $item)
					#end
				#end
			</span>		
		</h3>
		<div class="navIntraTool">
			<a href="#" title="$tlang.getString("list.remove")" onclick="javascript:document.getElementById('sakai_action').value='doDeleteconfirm';document.getElementById('showForm').submit();" >$tlang.getString("list.remove")</a>
##			<a href="#" title="$tlang.getString("list.move")">$tlang.getString("list.move")</a> |
##			<a href="#" title="$tlang.getString("list.copyall")">$tlang.getString("list.copyall")</a>
		</div>
		######################  Heirarchical list of resource folders/items  ##############
		<table class="listHier speciallistHier" cellspacing="0" border="0">
			######################  Column labels, sort controls, expand/collapse all  ##############
			<tr>
				<th id="expansion">
					#if ($expandallflag && "$expandallflag" == "$TRUE")
						<a href="#toolLinkParam("ResourcesAction" "doUnexpandall" "collectionId=$validator.escapeUrl($collectionId)")" title ="$tlang.getString('collapseall')">
							<img src = "#imageLink("sakai/collapse-expand.gif")" border="0" title="$tlang.getString('collapseall')" alt="$tlang.getString('collapseall')" hspace="0" />
						</a>								 
					#else
						<a href="#toolLinkParam("ResourcesAction" "doExpandall" "collectionId=$validator.escapeUrl($collectionId)")" title ="$tlang.getString('expandall')">
							<img src = "#imageLink("sakai/expand-collapse.gif")" border="0" title="$tlang.getString('expandall')" alt="$tlang.getString('expandall')" hspace="0" />
						</a>								 
					#end
				</th>
				<th id="checkboxes">
					<input type="checkbox" name="selectall" id="selectall" title="$tlang.getString("list.select")" onclick="javascript:toggleSelectAll(this, 'selectedMembers')" />
				</th>
				<th id="title">
					<a href="#toolLinkParam("ResourcesAction" "doSort" "criteria=title&collectionId=$validator.escapeUrl($collectionId)")" title ="$tlang.getString('sh.sorttit')"> 
						$tlang.getString("gen.title1")
						#if ($currentSortedBy.equals($resourceProperties.NamePropDisplayName)) 
							#if ($currentSortAsc.equals("true")) 
								<img src = "#imageLink("sakai/sortascending.gif")" border="0" title ="$tlang.getString('sh.sorttitas')" alt ="$tlang.getString('sh.sorttitas')" /> 
							#else 
								<img src = "#imageLink("sakai/sortdescending.gif")" border="0" title ="$tlang.getString('sh.sorttitdesc')" alt ="$tlang.getString('sh.sorttitdesc')" /> 
							#end 
						#end 
					</a>
				</th>
				<th id="actions">
					$tlang.getString("gen.actions")
				</th>
				<th id="modified">
					<a href="#toolLinkParam("ResourcesAction" "doSort" "criteria=last%20modified&collectionId=$validator.escapeUrl($collectionId)")" title ="$tlang.getString('sh.sortdate')"> 
						$tlang.getString("gen.last1")
						#if ($currentSortedBy.equals($resourceProperties.NamePropModifiedDate)) 
							#if ($currentSortAsc.equals("true")) 
								<img src = "#imageLink("sakai/sortascending.gif")" border="0"  title ="$tlang.getString('sh.sortdateas')"  alt ="$tlang.getString('sh.sortdateas')" /> 
							#else 
								<img src = "#imageLink("sakai/sortdescending.gif")" border="0" title ="$tlang.getString('sh.sortdatedesc')"  alt ="$tlang.getString('sh.sortdatedesc')" /> 
							#end 
						#end 
					</a>
				</th>
				<th id="creator">
					<a href="#toolLinkParam("ResourcesAction" "doSort" "criteria=created%20by&collectionId=$validator.escapeUrl($collectionId)")" title ="$tlang.getString('sh.sortdate')"> 
						$tlang.getString("gen.created")
						#if ($currentSortedBy.equals($resourceProperties.NamePropCreator)) 
							#if ($currentSortAsc.equals("true")) 
								<img src = "#imageLink("sakai/sortascending.gif")" border="0"  title ="$tlang.getString('sh.sortdateas')"  alt ="$tlang.getString('sh.sortdateas')" /> 
							#else 
								<img src = "#imageLink("sakai/sortdescending.gif")" border="0" title ="$tlang.getString('sh.sortdatedesc')"  alt ="$tlang.getString('sh.sortdatedesc')" /> 
							#end 
						#end 
					</a>
				</th>
				<th id="size">
					<a href="#toolLinkParam("ResourcesAction" "doSort" "criteria=size&collectionId=$validator.escapeUrl($collectionId)")" title ="$tlang.getString('sh.sortdate')"> 
						$tlang.getString("gen.size")
						#if ($currentSortedBy.equals($resourceProperties.NamePropContentLength)) 
							#if ($currentSortAsc.equals("true")) 
								<img src = "#imageLink("sakai/sortascending.gif")" border="0"  title ="$tlang.getString('sh.sortdateas')"  alt ="$tlang.getString('sh.sortdateas')" /> 
							#else 
								<img src = "#imageLink("sakai/sortdescending.gif")" border="0" title ="$tlang.getString('sh.sortdatedesc')"  alt ="$tlang.getString('sh.sortdatedesc')" /> 
							#end 
						#end 
					</a>
				</th>
				##<th>
				##why this empty column?
				## &nbsp;
				##</th>
			</tr>
			#foreach($root in $this_site)
				############################### Show top level folder #################
				<tr>
					<td headers="expansion">
					</td>
					<td headers="checkboxes">
					</td>
					<td headers="title">
						#if ($root.isFolder())
							#if ($root.isEmpty())
								<img src = "#imageLink("sakai/dir_closed.gif")" border="0" alt="folder" />
								$validator.escapeHtml(${root.name})
							#elseif ($root.canRead())
								#if (!$expandedCollections.containsKey($root.Id))
									<a href="#toolLinkParam("ResourcesAction" "doExpand_collection" "collectionId=$validator.escapeUrl($root.Id)")" title="$tlang.getString('sh.open')">
										<img src = "#imageLink("sakai/dir_closedplus.gif")" border="0" title="$tlang.getString('sh.open')" alt="$tlang.getString('sh.open')" />
									</a>
								#else
									<a href="#toolLinkParam("ResourcesAction" "doCollapse_collection" "collectionId=$validator.escapeUrl($root.Id)")" title="$tlang.getString('sh.close')">
										<img src = "#imageLink("sakai/dir_openminus.gif")" border="0" title="$tlang.getString('sh.close')" alt="$tlang.getString('sh.close')" />
									</a>
								#end
								<a href="#toolLinkParam("ResourcesAction" "doNavigate" "collectionId=${validator.escapeUrl(${root.id})}&navRoot=$validator.escapeUrl($root.root)")" title="$tlang.getString('sh.go')">
									$validator.escapeHtml(${root.name})
								</a>
							#else
								<img src = "#imageLink("sakai/dir_closed.gif")" border="0" alt="folder" />
								$validator.escapeHtml(${root.name})
							#end
						#end	
					</td>
					<td headers="actions">
						######################  Add Action Links at Top Level  ##############
						#if($root && ($root.canAddItem() || $root.canAddFolder()))
							<div class="itemAction">
								#set ($itemsOnLine = 0)
								####### deal with Pasting copied items 
								#if($copyFlag && $copyFlag.equals($TRUE) && $root.canAddItem())
									#if ($itemsOnLine > 0)
										|
									#end
									#set ($itemsOnLine = $itemsOnLine + 1)
									<a href="#toolLinkParam("ResourcesAction" "doPasteitem" "itemId=${validator.escapeUrl($copiedItem)}&collectionId=${validator.escapeUrl(${root.id})}")" title="$tlang.getString('list.paste1')">$tlang.getString("list.paste1").trim()</a>
								#end
								####### deal with editing/viewing file/folder information
								##if ($atHome && !$atHome == $TRUE)
									#if($root.canRevise())
										#if ($itemsOnLine > 0)
											|
										#end
										#set ($itemsOnLine = $itemsOnLine + 1)
										<a href="#toolLinkParam("ResourcesAction" "doEdit" "from=list&id=$validator.escapeUrl($root.id)&collectionId=$validator.escapeUrl($root.container)")" title="$tlang.getString('list.edit')">$tlang.getString("list.edit").trim()</a>
									#elseif ($root.canRead())
										#if ($itemsOnLine > 0)
											|
										#end
										#set ($itemsOnLine = $itemsOnLine + 1)
										<a href="#toolLinkParam("ResourcesAction" "doMore" "from=list&id=$validator.escapeUrl($root.id)&collectionId=$validator.escapeUrl($root.container)")" title="$tlang.getString('list.props')">$tlang.getString("list.props").trim()</a>
									#end
								##end
								####### deal with adding item/folder
								#if($root.canAddItem())
									#if ($itemsOnLine > 0)
										|
									#end
									#set ($itemsOnLine = $itemsOnLine + 1)
									<a href="#toolLinkParam("ResourcesAction" "doCreate" "itemType=${TYPE_UPLOAD}&collectionId=$validator.escapeUrl(${root.id})")" title ="$tlang.getString('list.add')">$tlang.getString("list.add").trim()</a>
								#end
								####### deal with site/folder permissions
								#if($root.canRevise() && "$!inMyWorkspace" == "false")
									#if (!$atHome || ($atHome && $atHome != $TRUE))
										#if ($itemsOnLine > 0)
											|
										#end
										#set ($itemsOnLine = $itemsOnLine + 1)
										<a href="#toolLinkParam("ResourcesAction" "doFolder_permissions" "collectionId=$validator.escapeUrl(${root.id})")" title="$tlang.getString('list.fPerm')">$tlang.getString("list.fPerm").trim()</a>
									#end
								#end
							</div>
						#end
						######################  End of Add Items/Folders at Top Level  ##############
					</td>
				</tr>	
				#set($collectionMembers = $root.Members)
				######################  No items message  ##############
				#if ($root.isLocal() && $collectionMembers.isEmpty())
					<tr>
						<td  colspan="4">
							<p class="instruction">
								$tlang.getString("sh.no")
								#if($dropboxMode)$tlang.getString("sh.drop")#else$tlang.getString("sh.reso")#end
								$tlang.getString("sh.item")
							</p>
						</td>
					</tr>		
				#else
					######################  Display individual items/folders  ##############
					#set ($unit ="em")
					#foreach ($member in $collectionMembers)
						#set ($width = "$!{member.depth}$unit")
						#set ($widthSp = (${member.depth} + 1) )
						#set ($widthSpDo = "$widthSp$unit")
						#if ($member.depth==1)	
							#set ($margin="margin-left:0")
						#else
							#set ($margin="margin-left:2em")
							#set ($marginAction="margin-left:4.7em")
						#end
						<tr>
							######################  Item title and action links  ##############
							<td headers="expansion">
							</td>
							<td headers="checkboxes">
								#if($member.canDelete())
									<input type="checkbox" name="selectedMembers" id="list$num" value="$member.id" />
									#set($num = $num + 1)
								#end
							</td>
							<td headers="title" style="text-indent:$width">
								#if ($member.isFolder())
									#if ($member.isEmpty())
										<img src = "#imageLink("sakai/dir_closed.gif")" border="0" alt="folder" />
										$validator.escapeHtml(${member.name})
									#elseif ($member.canRead())
										#if (!$expandedCollections.containsKey($member.Id))
											<a href="#toolLinkParam("ResourcesAction" "doExpand_collection" "collectionId=$validator.escapeUrl($member.Id)")" title="$tlang.getString('sh.open')">
												<img src = "#imageLink("sakai/dir_closedplus.gif")" border="0" title="$tlang.getString('sh.open')" alt="$tlang.getString('sh.open')" />
											</a>
										#else
											<a href="#toolLinkParam("ResourcesAction" "doCollapse_collection" "collectionId=$validator.escapeUrl($member.Id)")" title="$tlang.getString('sh.close')">
												<img src = "#imageLink("sakai/dir_openminus.gif")" border="0" title="$tlang.getString('sh.close')" alt="$tlang.getString('sh.close')" />
											</a>
										#end
										<a href="#toolLinkParam("ResourcesAction" "doNavigate" "collectionId=${validator.escapeUrl(${member.id})}&navRoot=$validator.escapeUrl($member.root)")" title="$tlang.getString('sh.go')">
											$validator.escapeHtml(${member.name})
										</a>
									#else
										<img src = "#imageLink("sakai/dir_closed.gif")" border="0" alt="folder" />
										$validator.escapeHtml(${member.name})
									#end
								#else
									#if ($member.canRead())
										#if ($member.hasCopyrightAlert())
											## if there is a copyright alert, show the alert page first
											<a href="" onclick="openCopyrightWindow('${member.url}&copyrightAlert','copyrightAlertWindow','scrollbars=yes,menubar=yes,height=600,width=800,resizable=yes,toolbar=yes,location=yes,status=yes');return false">
											#else
											<a href="${member.url}" target="${member.target}">
										#end
										<img src = "#imageLink($contentTypeImageService.getContentTypeImage($member.type))" border= "0" alt ="" hspace="0" />
										</a>
										#if ($member.hasCopyrightAlert())
											## if there is a copyright alert, show the alert page first
											<a href="" onclick="openCopyrightWindow('${member.url}&copyrightAlert','copyrightAlertWindow','scrollbars=yes,menubar=yes,height=600,width=800,resizable=yes,toolbar=yes,location=yes,status=yes');return false;">
												$validator.escapeHtml($member.name)
											</a>
											&#169;
										#else
											<a href="$member.url" target="$member.target">
												$validator.escapeHtml($member.name)
											</a>
										#end
									#else
										 <img src = "#imageLink($contentTypeImageService.getContentTypeImage($member.type))" border="0" alt ="" hspace="0" />
										$validator.escapeHtml($member.name)
										#if ($member.hasCopyrightAlert())
											&#169;
										#end
									#end
								#end
							</td>
							<td headers="actions">
								<div class="itemAction">
									#if($member.isFolder())
										#set ($itemsOnLine = 0)
										####### deal with Pasting copied items  3
										#if($copyFlag && $copyFlag.equals($TRUE) && $member.canAddItem())
											#if ($itemsOnLine > 0)
												|
											#end
											#set ($itemsOnLine = $itemsOnLine + 1)
											<a href="#toolLinkParam("ResourcesAction" "doPasteitem" "itemId=${validator.escapeUrl($copiedItem)}&collectionId=${validator.escapeUrl(${member.id})}")" title="$tlang.getString('list.paste1')">$tlang.getString("list.paste1").trim()</a>
										#end
										####### deal with viewing/editing file/folder information
										#if ($member.canRevise())
											#if ($itemsOnLine > 0)
												|
											#end
											#set ($itemsOnLine = $itemsOnLine + 1)
											<a href="#toolLinkParam("ResourcesAction" "doEdit" "from=list&id=$validator.escapeUrl($member.id)&collectionId=$validator.escapeUrl($member.container)")" title="$tlang.getString('list.edit')">$tlang.getString("list.edit").trim()</a>
										#elseif ($member.canRead())
											#if ($itemsOnLine > 0)
												|
											#end
											#set ($itemsOnLine = $itemsOnLine + 1)
											<a href="#toolLinkParam("ResourcesAction" "doMore" "from=list&id=$validator.escapeUrl($member.id)&collectionId=$validator.escapeUrl($member.container)")" title="$tlang.getString('list.props')">$tlang.getString("list.props").trim()</a>
										#end
										#*
										####### deal with deleting folder
										#if ($member.canDelete())
											#if ($itemsOnLine > 0)
												|
											#end
											#set ($itemsOnLine = $itemsOnLine + 1)
											<a href="#toolLinkParam("ResourcesAction" "doDeleteconfirm" "from=list&selectedMembers=$validator.escapeUrl($member.id)")" title="$tlang.getString('list.del')">$tlang.getString("list.del").trim()</a>
										#end
										*#
										####### deal with folder permissions
										#if($member.canRevise() && "$!inMyWorkspace" == "false")
											#if ($itemsOnLine > 0)
												|
											#end
											#set ($itemsOnLine = $itemsOnLine + 1)
											<a href="#toolLinkParam("ResourcesAction" "doFolder_permissions" "collectionId=$validator.escapeUrl(${member.id})")" title="$tlang.getString('list.fPerm')">$tlang.getString("list.fPerm").trim()</a>
										#end
										####### deal with adding item/folder
										#if($member.canAddItem())
											#if ($itemsOnLine > 0)
												|
											#end
											#set ($itemsOnLine = $itemsOnLine + 1)
											<a href="#toolLinkParam("ResourcesAction" "doCreate" "itemType=${TYPE_UPLOAD}&collectionId=$validator.escapeUrl(${member.id})")" title="$tlang.getString('list.add')">$tlang.getString("list.add").trim()</a>
										#end
									#else
										#set ($itemsOnLine = 0)
										####### deal with viewing/editing file/folder information
										#if ($member.canRevise())
											#if ($itemsOnLine > 0)
												|
											#end
											#set ($itemsOnLine = $itemsOnLine + 1)
											<a href="#toolLinkParam("ResourcesAction" "doEdit" "from=list&id=$validator.escapeUrl($member.id)&collectionId=$validator.escapeUrl($member.container)")" title="$tlang.getString('list.edit')">$tlang.getString("list.edit").trim()</a>
										#elseif ($member.canRead())
											#if ($itemsOnLine > 0)
												|
											#end
											#set ($itemsOnLine = $itemsOnLine + 1)
											<a href="#toolLinkParam("ResourcesAction" "doMore" "from=list&id=$validator.escapeUrl($member.id)&collectionId=$validator.escapeUrl($member.container)")" title="$tlang.getString('list.props')">$tlang.getString("list.props").trim()</a>
										#end
										####### deal with copying item
										#if ($paste_place_showing && $member.canRead())
											#if ($itemsOnLine > 0)
												|
											#end
											#set ($itemsOnLine = $itemsOnLine + 1)
											#if($member.id == $copiedItem)
												$tlang.getString("list.copy").trim()
											#else
												<a href="#toolLinkParam("ResourcesAction" "doCopyitem" "itemId=$validator.escapeUrl(${member.id})")" title ="$tlang.getString('list.copy')">$tlang.getString("list.copy").trim()</a>
											#end
										#end
										#*
										####### deal with deleting item
										#if ($member.canDelete())
											#if ($itemsOnLine > 0)
												|
											#end
											#set ($itemsOnLine = $itemsOnLine + 1)
											<a href="#toolLinkParam("ResourcesAction" "doDeleteconfirm" "from=list&selectedMembers=$validator.escapeUrl($member.id)")" title="$tlang.getString('list.del')">$tlang.getString("list.del").trim()</a>
										#end								
										*#
										####### deal with duplicating item
										#if($member.canRead() && $member.canAddItem())
											#if ($itemsOnLine > 0)
												|
											#end
											#set ($itemsOnLine = $itemsOnLine + 1)
											<a href="#toolLinkParam("ResourcesAction" "doPasteitem" "itemId=${validator.escapeUrl(${member.id})}&collectionId=${validator.escapeUrl(${member.container})}")" title="$tlang.getString('list.dup')">$tlang.getString("list.dup").trim()</a>
										#end
									#end
								</div>
								#if($copyFlag && "${member.id}" == "$copiedItem")
									<div class="inlineAlert">
										$tlang.getString("list.copied")
									</div>
								#end
							</td>
							######################  Item/folder modification date  ##############
							<td headers="modified">
								$member.ModifiedTime
							</td>
							<td headers="creator">
								$member.createdBy
							</td>
							<td headers="size">
								$member.size
							</td>
						</tr>
					#end
				#end
			#end ## foreach $root in $this_site
		
			############################################# Begin "Other sites" section
			#if ("$!atHome" == "$!TRUE")
			#if($allowed_to_see_other_sites)
				#if("$!show_other_sites" == "true")
					<tr>
						<td colspan="3">
						<h4 style="margin: .5em -.5em;font-size:1em">
							<a href="#toolLink("ResourcesAction" "doHideOtherSites")" title= "$tlang.getString('list.hide')">
								<img src="#imageLink("sakai/collapse.gif")" alt="$tlang.getString('list.hide')" border="0" align="top" />
							</a>
							$validator.escapeHtml("$tlang.getString('list.hide')")
						</h4>
						</td>
					</tr>
					#foreach($root in $other_sites)
						############################### Show top level folder #################
						<tr>
							<td headers="expansion">
							</td>
							<td headers="checkboxes">
							</td>
							<td headers="title">
								#if ($root.isFolder())
									#if ($root.isEmpty())
										<img src = "#imageLink("sakai/dir_closed.gif")" border="0"  alt="folder" />
										$validator.escapeHtml(${root.name})
									#elseif ($root.canRead())
										#if (!$expandedCollections.containsKey($root.Id))
											<a href="#toolLinkParam("ResourcesAction" "doExpand_collection" "collectionId=$validator.escapeUrl($root.Id)")" title="$tlang.getString('sh.open')">
												<img src = "#imageLink("sakai/dir_closedplus.gif")" border="0" title="$tlang.getString('sh.open')" alt="$tlang.getString('sh.open')" />
											</a>
										#else
											<a href="#toolLinkParam("ResourcesAction" "doCollapse_collection" "collectionId=$validator.escapeUrl($root.Id)")" title="$tlang.getString('sh.close')">
												<img src = "#imageLink("sakai/dir_openminus.gif")" border="0" title="$tlang.getString('sh.close')" alt="$tlang.getString('sh.close')" />
											</a>
										#end
										<a href="#toolLinkParam("ResourcesAction" "doNavigate" "collectionId=${validator.escapeUrl(${root.id})}&navRoot=$validator.escapeUrl($root.root)")" title="$tlang.getString('sh.go')">
											$validator.escapeHtml(${root.name})
										</a>
									#else
										<img src = "#imageLink("sakai/dir_closed.gif")" border="0" alt="folder" />
										$validator.escapeHtml(${root.name})
									#end
								#end	
							</td>
							<td headers="actions">
								######################  Add Action Links at Top Level  ##############
								#if($root && ($root.canAddItem() || $root.canAddFolder()))
									<div class="itemAction">
										#set ($itemsOnLine = 0)
										####### deal with Pasting copied items 
										#if($copyFlag && $copyFlag.equals($TRUE) && $root.canAddItem())
											#if ($itemsOnLine > 0)
												|
											#end
											#set ($itemsOnLine = $itemsOnLine + 1)
											<a href="#toolLinkParam("ResourcesAction" "doPasteitem" "itemId=${validator.escapeUrl($copiedItem)}&collectionId=${validator.escapeUrl(${root.id})}")" title="$tlang.getString('list.paste1')">$tlang.getString("list.paste1").trim()</a>
										#end
										####### deal with editing/viewing file/folder information
										##if ($atHome && !$atHome == $TRUE)
											#if($root.canRevise())
												#if ($itemsOnLine > 0)
													|
												#end
												#set ($itemsOnLine = $itemsOnLine + 1)
												<a href="#toolLinkParam("ResourcesAction" "doEdit" "from=list&id=$validator.escapeUrl($root.id)&collectionId=$validator.escapeUrl($root.container)")" title="$tlang.getString('list.edit')">$tlang.getString("list.edit").trim()</a>
											#elseif ($root.canRead())
												#if ($itemsOnLine > 0)
													|
												#end
												#set ($itemsOnLine = $itemsOnLine + 1)
												<a href="#toolLinkParam("ResourcesAction" "doMore" "from=list&id=$validator.escapeUrl($root.id)&collectionId=$validator.escapeUrl($root.container)")" title="$tlang.getString('list.props')">$tlang.getString("list.props").trim()</a>
											#end
										##end
										####### deal with adding item/folder
										#if($root.canAddItem())
											#if ($itemsOnLine > 0)
												|
											#end
											#set ($itemsOnLine = $itemsOnLine + 1)
											<a href="#toolLinkParam("ResourcesAction" "doCreate" "itemType=${TYPE_UPLOAD}&collectionId=$validator.escapeUrl(${root.id})")" title ="$tlang.getString('list.add')">$tlang.getString("list.add").trim()</a>
										#end
										####### deal with site/folder permissions
										#if($root.canRevise() && "$!inMyWorkspace" == "false")
											#if (!$atHome || ($atHome && $atHome != $TRUE))
												#if ($itemsOnLine > 0)
													|
												#end
												#set ($itemsOnLine = $itemsOnLine + 1)
												<a href="#toolLinkParam("ResourcesAction" "doFolder_permissions" "collectionId=$validator.escapeUrl(${root.id})")" title="$tlang.getString('list.fPerm')">$tlang.getString("list.fPerm").trim()</a>
											#end
										#end
									</div>
								#end
								######################  End of Add Items/Folders at Top Level  ##############
							</td>
						</tr>	
						#set($collectionMembers = $root.Members)
						######################  No items message  ##############
						#if ($root.isLocal() && $collectionMembers.isEmpty())
							<tr>
								<td  colspan="4">
									<p class="instruction">
										$tlang.getString("sh.no")
										#if($dropboxMode)$tlang.getString("sh.drop")#else$tlang.getString("sh.reso")#end
										$tlang.getString("sh.item")
									</p>
								</td>
							</tr>		
						#else
							######################  Display individual items/folders  ##############
							#set ($unit ="em")
							#foreach ($member in $collectionMembers)
								#set ($width = "$!{member.depth}$unit")
								#set ($widthSp = (${member.depth} + 1) )
								#set ($widthSpDo = "$widthSp$unit")
								#if ($member.depth==1)	
									#set ($margin="margin-left:0")
								#else
									#set ($margin="margin-left:2em")
									#set ($marginAction="margin-left:4.7em")
								#end
								<tr>
									######################  Item title and action links  ##############
									<td headers="expansion">
									</td>
									<td headers="checkboxes">
										#if($member.canDelete())
											<input type="checkbox" name="selectedMembers" id="list$num" value="$member.id" />
											#set($num = $num + 1)
										#end
									</td>
									<td headers="title" style="text-indent:$width">
										#if ($member.isFolder())
											#if ($member.isEmpty())
												<img src = "#imageLink("sakai/dir_closed.gif")" border="0" alt="folder" />
												$validator.escapeHtml(${member.name})
											#elseif ($member.canRead())
												#if (!$expandedCollections.containsKey($member.Id))
													<a href="#toolLinkParam("ResourcesAction" "doExpand_collection" "collectionId=$validator.escapeUrl($member.Id)")" title="$tlang.getString('sh.open')">
														<img src = "#imageLink("sakai/dir_closedplus.gif")" border="0" title="$tlang.getString('sh.open')" alt="$tlang.getString('sh.open')" />
													</a>
												#else
													<a href="#toolLinkParam("ResourcesAction" "doCollapse_collection" "collectionId=$validator.escapeUrl($member.Id)")" title="$tlang.getString('sh.close')">
														<img src = "#imageLink("sakai/dir_openminus.gif")" border="0" title="$tlang.getString('sh.close')" alt="$tlang.getString('sh.close')" />
													</a>
												#end
												<a href="#toolLinkParam("ResourcesAction" "doNavigate" "collectionId=${validator.escapeUrl(${member.id})}&navRoot=$validator.escapeUrl($member.root)")" title="$tlang.getString('sh.go')">
													$validator.escapeHtml(${member.name})
												</a>
											#else
												<img src = "#imageLink("sakai/dir_closed.gif")" border="0" alt="folder" />
												$validator.escapeHtml(${member.name})
											#end
										#else
											#if ($member.canRead())
												#if ($member.hasCopyrightAlert())
													## if there is a copyright alert, show the alert page first
													<a href="" onclick="openCopyrightWindow('${member.url}&copyrightAlert','copyrightAlertWindow','scrollbars=yes,menubar=yes,height=600,width=800,resizable=yes,toolbar=yes,location=yes,status=yes');return false">
													#else
													<a href="${member.url}" target="${member.target}">
												#end
												<img src = "#imageLink($contentTypeImageService.getContentTypeImage($member.type))" border= "0" alt ="" hspace="0" />
												</a>
												#if ($member.hasCopyrightAlert())
													## if there is a copyright alert, show the alert page first
													<a href="" onclick="openCopyrightWindow('${member.url}&copyrightAlert','copyrightAlertWindow','scrollbars=yes,menubar=yes,height=600,width=800,resizable=yes,toolbar=yes,location=yes,status=yes');return false;">
														$validator.escapeHtml($member.name)
													</a>
													&#169;
												#else
													<a href="$member.url" target="$member.target">
														$validator.escapeHtml($member.name)
													</a>
												#end
											#else
												 <img src = "#imageLink($contentTypeImageService.getContentTypeImage($member.type))" border="0" alt ="" hspace="0" />
												$validator.escapeHtml($member.name)
												#if ($member.hasCopyrightAlert())
													&#169;
												#end
											#end
										#end
									</td>
									<td headers="actions">
										<div class="itemAction">
											#if($member.isFolder())
												#set ($itemsOnLine = 0)
												####### deal with Pasting copied items  3
												#if($copyFlag && $copyFlag.equals($TRUE) && $member.canAddItem())
													#if ($itemsOnLine > 0)
														|
													#end
													#set ($itemsOnLine = $itemsOnLine + 1)
													<a href="#toolLinkParam("ResourcesAction" "doPasteitem" "itemId=${validator.escapeUrl($copiedItem)}&collectionId=${validator.escapeUrl(${member.id})}")" title="$tlang.getString('list.paste1')">$tlang.getString("list.paste1").trim()</a>
												#end
												####### deal with viewing/editing file/folder information
												#if ($member.canRevise())
													#if ($itemsOnLine > 0)
														|
													#end
													#set ($itemsOnLine = $itemsOnLine + 1)
													<a href="#toolLinkParam("ResourcesAction" "doEdit" "from=list&id=$validator.escapeUrl($member.id)&collectionId=$validator.escapeUrl($member.container)")" title="$tlang.getString('list.edit')">$tlang.getString("list.edit").trim()</a>
												#elseif ($member.canRead())
													#if ($itemsOnLine > 0)
														|
													#end
													#set ($itemsOnLine = $itemsOnLine + 1)
													<a href="#toolLinkParam("ResourcesAction" "doMore" "from=list&id=$validator.escapeUrl($member.id)&collectionId=$validator.escapeUrl($member.container)")" title="$tlang.getString('list.props')">$tlang.getString("list.props").trim()</a>
												#end
												#*
												####### deal with deleting folder
												#if ($member.canDelete())
													#if ($itemsOnLine > 0)
														|
													#end
													#set ($itemsOnLine = $itemsOnLine + 1)
													<a href="#toolLinkParam("ResourcesAction" "doDeleteconfirm" "from=list&selectedMembers=$validator.escapeUrl($member.id)")" title="$tlang.getString('list.del')">$tlang.getString("list.del").trim()</a>
												#end		
												*#
												####### deal with folder permissions
												#if($member.canRevise() && "$!inMyWorkspace" == "false")
													#if ($itemsOnLine > 0)
														|
													#end
													#set ($itemsOnLine = $itemsOnLine + 1)
													<a href="#toolLinkParam("ResourcesAction" "doFolder_permissions" "collectionId=$validator.escapeUrl(${member.id})")" title="$tlang.getString('list.fPerm')">$tlang.getString("list.fPerm").trim()</a>
												#end
												####### deal with adding item/folder
												#if($member.canAddItem())
													#if ($itemsOnLine > 0)
														|
													#end
													#set ($itemsOnLine = $itemsOnLine + 1)
													<a href="#toolLinkParam("ResourcesAction" "doCreate" "itemType=${TYPE_UPLOAD}&collectionId=$validator.escapeUrl(${member.id})")" title="$tlang.getString('list.add')">$tlang.getString("list.add").trim()</a>
												#end
											#else
												#set ($itemsOnLine = 0)
												####### deal with viewing/editing file/folder information
												#if ($member.canRevise())
													#if ($itemsOnLine > 0)
														|
													#end
													#set ($itemsOnLine = $itemsOnLine + 1)
													<a href="#toolLinkParam("ResourcesAction" "doEdit" "from=list&id=$validator.escapeUrl($member.id)&collectionId=$validator.escapeUrl($member.container)")" title="$tlang.getString('list.edit')">$tlang.getString("list.edit").trim()</a>
												#elseif ($member.canRead())
													#if ($itemsOnLine > 0)
														|
													#end
													#set ($itemsOnLine = $itemsOnLine + 1)
													<a href="#toolLinkParam("ResourcesAction" "doMore" "from=list&id=$validator.escapeUrl($member.id)&collectionId=$validator.escapeUrl($member.container)")" title="$tlang.getString('list.props')">$tlang.getString("list.props").trim()</a>
												#end
												####### deal with copying item
												#if ($paste_place_showing && $member.canRead())
													#if ($itemsOnLine > 0)
														|
													#end
													#set ($itemsOnLine = $itemsOnLine + 1)
													#if($member.id == $copiedItem)
														$tlang.getString("list.copy").trim()
													#else
														<a href="#toolLinkParam("ResourcesAction" "doCopyitem" "itemId=$validator.escapeUrl(${member.id})")" title ="$tlang.getString('list.copy')">$tlang.getString("list.copy").trim()</a>
													#end
												#end
												#*
												####### deal with deleting item
												#if ($member.canDelete())
													#if ($itemsOnLine > 0)
														|
													#end
													#set ($itemsOnLine = $itemsOnLine + 1)
													<a href="#toolLinkParam("ResourcesAction" "doDeleteconfirm" "from=list&selectedMembers=$validator.escapeUrl($member.id)")" title="$tlang.getString('list.del')">$tlang.getString("list.del").trim()</a>
												#end								
												*#
												####### deal with duplicating item
												#if($member.canRead() && $member.canAddItem())
													#if ($itemsOnLine > 0)
														|
													#end
													#set ($itemsOnLine = $itemsOnLine + 1)
													<a href="#toolLinkParam("ResourcesAction" "doPasteitem" "itemId=${validator.escapeUrl(${member.id})}&collectionId=${validator.escapeUrl(${member.container})}")" title="$tlang.getString('list.dup')">$tlang.getString("list.dup").trim()</a>
												#end
											#end
										</div>
										#if($copyFlag && "${member.id}" == "$copiedItem")
											<div class="inlineAlert">
												$tlang.getString("list.copied")
											</div>
										#end
									</td>
									######################  Item/folder modification date  ##############
									<td headers="modified">
										$member.ModifiedTime
									</td>
									<td headers="creator">
										$member.createdBy
									</td>
									<td headers="size">
										$member.size
									</td>
								</tr>
							#end
						#end
					#end ## foreach $root in $other_sites
	
				#else
					<tr>
						<td colspan="3">
						<h4 style="margin: .5em -.5em;font-size:1em">
							<a href="#toolLink("ResourcesAction" "doShowOtherSites")" title= "$tlang.getString('list.show')">
								<img src="#imageLink("sakai/expand.gif")" alt="$tlang.getString('list.show')" border="0" align="top" alt="show"/>
							</a>
							$validator.escapeHtml("$tlang.getString('list.show')")
						</h4>
						</td>
					</tr>
				#end
			#end
			#end
			############################################# end of "Other sites" section 
		
		</table>

	</form>						
</div>
