## <!-- chef_resources_create.vm, use with org.sakaiproject.tool.content.ResourcesAction.java -->
############################################# macro getPropertyValues 
##

#macro(getPropertyValues $tags)
	#foreach($tag in $tags)
		#if($tag && $tag.label && "$!{tag.label}" != "")
			#set($indent = "")
			#if($tag.depth > 0)
				#set($indent = " indnt$!{tag.depth}")
			#end
			#if("$!NESTED" == "$!tag.widget")
				<div class="fakelabel$!{indent}">
					#if($tag.minCardinality > 0)<span class="reqStar">*</span>#end
					$tag.label
					#if($tag.canAddInstances())
						[<a href="#" onclick="javascript: document.getElementById('flow').value='addInstance'; document.getElementById('field').value='$!{tag.dottedname}'; submitform('createForm'); return false;" onkeypress="javascript: document.getElementById('flow').value='addInstance'; document.getElementById('field').value='$!{tag.dottedname}'; submitform('createForm'); return false;"  title="$tlang.getString("gen.add") $tag.label">+</a>]
					#end
					<input type="hidden"
						name="$!{tag.dottedname}" 
						id="$validator.escapeJavascript("$!{tag.dottedname}")" 
						value="" />
				</div>
			#else
				<div class="shorttext$!{indent}">
					<label for ="$validator.escapeJavascript("$!{tag.dottedname}")">
						#if($tag.minCardinality > 0)<span class="reqStar">*</span>#end
						$tag.label
						#if($tag.canAddInstances())
							[<a href="#" onclick="javascript: document.getElementById('flow').value='addInstance'; document.getElementById('field').value='$!{tag.dottedname}'; submitform('createForm'); return false;" onkeypress="javascript: document.getElementById('flow').value='addInstance'; document.getElementById('field').value='$!{tag.dottedname}'; submitform('createForm'); return false;"  title="$tlang.getString("gen.add") $tag.label">+</a>]
						#end
					</label>
					#if("$!tag.widget" == "$!STRING")
						<input type="text" size="$!{tag.length}"
							name="$!{tag.dottedname}" 
							id="$validator.escapeJavascript("$!{tag.dottedname}")" 
							value="$!{tag.value}" />
					#elseif("$!tag.widget" == "$!TEXTAREA")
						<textarea rows="4" cols="60" 
							name="$!{tag.dottedname}" 
							id="$validator.escapeJavascript("$!{tag.dottedname}")" >$validator.escapeHtmlTextarea($!{tag.value})</textarea>
					#elseif("$!tag.widget" == "$!DATE")
						<input type="hidden" id="$validator.escapeJavascript("$!{tag.dottedname}")" value="" />
						#if($!{tag.value})
							#set($theValue = $!{tag.value})
						#else
							#set($theValue = $today)
						#end 
						#prop_dateSelectionWidget("${tag.dottedname}" $theValue)
					#elseif("$!tag.widget" == "$!DATETIME")
						<input type="hidden" id="$validator.escapeJavascript("$!{tag.dottedname}")" value="" />
						#if($!{tag.value})
							#set($theValue = $!{tag.value})
						#else
							#set($theValue = $today)
						#end 
						#prop_dateSelectionWidget("$!{tag.dottedname}" $theValue)
						#prop_timeSelectionWidget("$!{tag.dottedname}" $theValue)
					#elseif("$!tag.widget" == "$!TIME")
						<input type="hidden" id="$validator.escapeJavascript("$!{tag.dottedname}")" value="" />
						#if($!{tag.value})
							#set($theValue = $!{tag.value})
						#else
							#set($theValue = $today)
						#end 
						#prop_timeSelectionWidget("$!{tag.dottedname}" $theValue)
					#elseif("$!tag.widget" == "$!ENUM")
						<select name="$!{tag.dottedname}" 
							id="$validator.escapeJavascript("$!{tag.dottedname}")">
							#foreach($enum in $tag.enumeration)
								<option value="$enum"#if("$!{tag.value}" == "$enum") selected="selected"#end>$enum</option>
							#end
						</select>
					#elseif("$!tag.widget" == "$!BOOLEAN")
						<input type="checkbox" 
							name="$!{tag.dottedname}" 
							id="$validator.escapeJavascript("$!{tag.dottedname}")"
							#if("$!{tag.value}" == "$TRUE")checked="checked"#end
							value="true" />
					#elseif("$!tag.widget" == "$!INTEGER")
						<input type="text" size="$!{tag.length}"
							name="$!{tag.dottedname}" 
							id="$validator.escapeJavascript("$!{tag.dottedname}")" 
							value="$!{tag.value}" />
					#elseif("$!tag.widget" == "$!DOUBLE")
						<input type="text" size="$!{tag.length}"
							name="$!{tag.dottedname}" 
							id="$validator.escapeJavascript("$!{tag.dottedname}")" 
							value="$!{tag.value}" />
					#else
						$tag.dottedname<br />
						$tag.widget<br />
						"$!{tag.value}"<br />
					#end
				</div>
			#end
		#end
	#end
#end
############################################# end of macro getPropertyValues 

##
############################################# macro prop_dateSelection 
#macro(prop_dateSelectionWidget $propName $propValue)
	
## Setup a date selection widget
#set($theDate = $propValue.breakdownLocal())
#set($year = $theDate.year)
#set($earliestYear = $year - 10)
#set($latestYear = $year + 10)	
#set($month = $theDate.month)
#set($day = $theDate.day)

#chef_dateselectionwidget("${propName}_year" "${propName}_month" "${propName}_day" $earliestYear $latestYear $year $month $day)

#end
############################################# end of macro prop_dateSelection 

##
############################################# macro prop_timeSelection 
#macro(prop_timeSelectionWidget $propName $propValue)

## Setup a time selection widget
#set($theTime = $propValue.breakdownLocal())
#set($hour = $theTime.hour)
#set($minute = $theTime.min)
#set($second = $theTime.sec)
#set($timeType = "am")
#if($hour == 12 && $minute > 0)
#set($timeType = "pm")
#end
#if($hour == 0 && $minute == 0)
#set($timeType = "pm")
#end
#if($hour>12)
#set($hour = $hour - 12)
#set($timeType = "pm")
#elseif ($hour == 0)
#set($hour = 12)
#end
<select name="${propName}_hour" id="${propName}_hour">
#foreach($hr in [1..12])
	<option#if($hr == $hour) selected="selected"#end value="$hr">$hr</option>
#end
</select>
:
<select name="${propName}_minute" id="${propName}_minute">
#foreach($min in [0..59])
	<option value="$min"#if($min == $minute) selected="selected"#end>#if($min < 10)0#end$min</option>
#end
</select>
:
<select name="${propName}_second" id="${propName}_second">
#foreach($sec in [0..59])
	<option value="$sec"#if($sec == $second) selected="selected"#end>#if($sec < 10)0#end$sec</option>
#end
</select>
<select name="${propName}_ampm" id="${propName}_ampm">
    #if($timeType =="am") <option selected="selected">am</option> #else <option>am</option> #end
    #if($timeType =="pm") <option selected="selected">pm</option> #else <option>pm</option> #end
</select>
#end
############################################# end of macro prop_timeSelection 
##

<script type="text/javascript" language="JavaScript">
  focus_path = ["filename1"];
</script>
<script type="text/javascript" language="JavaScript">
	<!--
	function submitform(id)
	{
		var theForm = document.getElementById(id);
		if(theForm && theForm.onsubmit)
		{
			theForm.onsubmit();
		}
		if(theForm && theForm.submit)
		{
			theForm.submit();
		}
	}
	function seedValue(obj_seed, id)
	{
		var theElement = document.getElementById(id);
		if(theElement && obj_seed && obj_seed.value)
		{
			var nonWhitespaceChar = /\S/;
			if(theElement.value.search(nonWhitespaceChar))
			{
				var delimiters = new Array('/', '\\', ':');
				var filename = obj_seed.value;
				
				for(var i = 0; i < delimiters.length; i++)
				{
					var delimiter = delimiters[i];
					if(filename.lastIndexOf(delimiter) > -1)
					{
						filename = filename.substring(filename.lastIndexOf(delimiter) + 1);
					}
				}
				theElement.value = filename;
			}
			theElement.focus();
			theElement.select();
		}
	}
	function openSampleCopyrightWindow() 
	{ 
	  window.open("$copyright_alert_url","SampleCopyrightAlert","scrollbars=no,menubar=no,height=400,width=700,resizable=no,toolbar=no,location=no,status=no");
	  return false;
	}
	function enableNewCopyright(obj_mycopyright, obj_newcopyright)
	{
		obj_mycopyright.checked = false;
		obj_newcopyright.checked = true;
	}

	function clearNewCopyright(obj_textarea)
	{
		obj_textarea.value = "";
	}
	
	function checkItem(copyrightIndex)
	{
		var obj_alert_name="copyrightAlert";
		var obj_alert_item=document.getElementById(obj_alert_name);
		var obj_newcopyright_name="newcopyright";
		var obj_newcopyright_item=document.getElementById(obj_newcopyright_name);
		if (copyrightIndex == 0)
		{
			obj_alert_item.checked=false;
			obj_newcopyright_item.disabled=true;
		}
		else if (copyrightIndex < 5)
		{
			obj_alert_item.checked=true;
			obj_newcopyright_item.disabled=true;
		}
		else if (copyrightIndex == 5)
		{
			obj_alert_item.checked=true;
			obj_newcopyright_item.disabled=false;
		}
	}
	function submitWithNumberOfItems(formName, element)
	{
		var theForm = document.getElementById(formName);
		var theNumber = element.value;
		
		theForm.action="#toolLinkParam("ResourcesAction" "doCreateitem" "special=upload&flow=updateNumber")&numberOfItems=" + theNumber;
		if(theForm && theForm.onsubmit)
		{
			theForm.onsubmit();
		}
		if(theForm && theForm.submit)
		{
			theForm.submit();
		}
	}
	//-->
</script>

<div class="portletBody">
	######################## ================ Title, Instructions, Breadcrumb ================ ########################
	#if("$itemType" == "$TYPE_FOLDER")
		<h3>
			$tlang.getString("addf.addfolder")
		</h3>
		#if ($alertMessage)<div class="alertMessage">$tlang.getString("gen.alert") $validator.escapeHtml($alertMessage)</div><div style="display:block;clear:both" ></div>#end
		<p class="instruction">
			$tlang.getString("addf.instr")
		</p>
		<p class="instruction">
			$tlang.getString("gen.instr2") <span class="reqStarInline">*</span>
		</p>	
	#else
		<h3>
			$tlang.getString("gen.additems") 
		</h3>
		#if ($alertMessage)<div class="validation">$tlang.getString("gen.alert") $validator.escapeHtml($alertMessage)</div>#end
		<p class="instruction">
			$tlang.getString("gen.instr1")
		</p>	
		<p class="instruction">
			$tlang.getString("gen.instr2") <span class="reqStarInline">*</span>  
		</p>
	#end
	<div class ="chefBreadCrumb">
		$tlang.getString("gen.location")
		<img src = "#imageLink($contentTypeImageService.getContentTypeImage("folder"))" border="0" alt="" />
		#foreach ($element in $collectionPath)
			#if ($dropboxMode && $element.id==$homeCollectionId)
				$siteTitle $tlang.getString("gen.drop")
			#elseif($element.id==$homeCollectionId)
				$siteTitle $tlang.getString("gen.reso")
			#else
				$validator.escapeHtml($element.name)
			#end
			#if(! $element.isLast())
				/
			#end
		#end
	</div>
	######################## ================ Change Item Type, Number of Items ================ ########################
	<form name="addItemForm" id="addItemForm" method="post" action="#toolForm("ResourcesAction")" >
		<input type="hidden" name="sakai_action" value="doCreate" />
		<input type="hidden" name="collectionId" value="$validator.escapeHtml($collectionId)" />
		<p class="shorttext">
			<label for="itemType01">$tlang.getString("addi.add")</label>
			<select id="itemType01"  name="itemType" onchange="javascript:submitform('addItemForm');">
				<option value="$TYPE_FOLDER" id="$validator.escapeJavascript("$TYPE_FOLDER")"#if("$itemType" == "$TYPE_FOLDER") selected="selected"#end>$tlang.getString("addi.folder")</option>
				<option value="$TYPE_UPLOAD" id="$validator.escapeJavascript("$TYPE_UPLOAD")"#if("$itemType" == "$TYPE_UPLOAD") selected="selected"#end>$tlang.getString("addi.upload")</option>
				<option value="$TYPE_URL" id="$validator.escapeJavascript("$TYPE_URL")"#if("$itemType" == "$TYPE_URL") selected="selected"#end>$tlang.getString("addi.url")</option>
				<option value="$TYPE_HTML" id="$validator.escapeJavascript("$TYPE_HTML")"#if("$itemType" == "$TYPE_HTML") selected="selected"#end>$tlang.getString("addi.txthtml")</option>
				<option value="$TYPE_TEXT" id="$validator.escapeJavascript("$TYPE_TEXT")"#if("$itemType" == "$TYPE_TEXT") selected="selected"#end>$tlang.getString("addi.txttxt")</option>
				#if($show_form_items)
					<option value="$TYPE_FORM" id="$validator.escapeJavascript("$TYPE_FORM")"#if("$itemType" == "$TYPE_FORM") selected="selected"#end>$tlang.getString("addi.meta")</option>
				#end
			</select>
		</p>
	</form>
	#if("$itemType" == "$TYPE_UPLOAD")
		<form name="createForm" id="createForm" action="#toolLinkParam("ResourcesAction" "doCreateitem" "special=upload&flow=create&itemType=$itemType")" method="post" enctype="multipart/form-data">
	#else
		<form name="createForm" id="createForm" action="#toolLink("ResourcesAction" "doCreateitem")" method="post" >
	#end
		<input type="hidden" name="sakai_action" value="doCreateitem" />
		<input type="hidden" name="flow" id="flow" value="create" />
		<input type="hidden" name="collectionId" value="$validator.escapeHtml($collectionId)" />
		<input type="hidden" name="itemType" id="itemType" value="$itemType" />
		<input type="hidden" name="twiggleNumber" id="twiggleNumber" value="-1" />
		<input type="hidden" name="metadataGroup" id="metadataGroup" value="*" />
		<input type="hidden" name="field"  id="field" value="no value" />
		<input type="hidden" name="index" id="index" value="0" />
		#if("$itemType" == "$TYPE_UPLOAD" || "$itemType" == "$TYPE_FOLDER" || "$itemType" == "$TYPE_URL")
			<p class="shorttext">
				#if("$itemType" == "$TYPE_FOLDER")
					<label for="numberOfItems">$tlang.getString("add.numfldrs")</label>
				#elseif("$itemType" == "$TYPE_UPLOAD")
					<label for="numberOfItems">$tlang.getString("add.numfiles")</label>
				#elseif("$itemType" == "$TYPE_URL")
					<label for="numberOfItems">$tlang.getString("add.numurls")</label>
				#end
				#if("$itemType" == "$TYPE_UPLOAD")
					<select name="numberOfItems" id="numberOfItems" onchange="javascript:submitWithNumberOfItems('createForm', this);">
				#else
					<select name="numberOfItems" id="numberOfItems" onchange="javascript:document.getElementById('flow').value='updateNumber';submitform('createForm');">
				#end
					#foreach ($i in [1 .. $max_number])
						#if ("$i" == "$numberOfItems")
							<option value="$i" selected="selected">$i</option>
						#else
							<option value="$i">$i</option>
						#end
					#end
				</select>
			</p>	
			<br />
		#else
			<input type="hidden" name="numberOfItems" value="$numberOfItems" />
		#end
		#foreach($n in [1 .. $numberOfItems])
			#set($i = $n - 1)
			######################## ================ Title Bar for Item ================ ########################
			<h4>
				#if("$itemType" == "$TYPE_UPLOAD")
					$tlang.getString("addi.upload")
				#elseif("$itemType" == "$TYPE_URL")
					$tlang.getString("addi.url")
				#elseif("$itemType" == "$TYPE_HTML")
					$tlang.getString("addi.txthtml")
				#elseif("$itemType" == "$TYPE_TEXT")
					$tlang.getString("addi.txttxt")
				#elseif("$itemType" == "$TYPE_FOLDER")
					$tlang.getString("gen.folder1")
				#elseif("$itemType" == "$TYPE_FORM")
					$tlang.getString("addi.meta")
				#end
				#if($numberOfItems > 1)
					 ($n of $numberOfItems)
				#end
			</h4>
			#set($item = $new_items.get($i))
			######################## ================ Content of Item ================ ########################
			#if ($item.isFolder())
				#if($!{item.isMissing("name")})
					<p class="shorttext validation">
				#else
					<p class="shorttext">
				#end
					<span class="reqStar">*</span>
					<label for="name$i">
						$tlang.getString("gen.title") 
					</label>
					<input type="text" size="40" id="name$i" name="name$i" value="$validator.escapeHtml("$!item.name")" />
				</p>	
			#elseif ($item.isUrl())
				#if($!{item.isMissing("Url")})
					<p class="shorttext validation">
				#else
					<p class="shorttext">
						<span class="reqStar">*</span>
				#end
					<label for="Url$i">$tlang.getString("gen.url")</label>
					<input type="text" name="Url$i" id="Url$i" size="60" value="$!validator.escapeHtml("$!item.filename")" />
				</p>
			#elseif ($item.isPlaintext()) 
				#if($!{item.isMissing("content")})
					<p class="shorttext validation">
				#else
					<p class="shorttext">
				#end
					<label for="content$i">&nbsp;</label>
					<textarea name="content$i" id="content$i" rows="10" cols="40" wrap="virtual">$!validator.escapeHtmlTextarea($!{item.contentstring})</textarea>
				</p>
			#elseif ($item.isHtml())
				#if($!{item.isMissing("content")})
					<p class="shorttext validation">
				#else
					<p class="shorttext">
				#end
					<label for="content$i">&nbsp;</label>
					<table border="0"><tr><td>
						<textarea name="content$i" id="content$i" rows="30" cols="80" wrap="virtual">$validator.escapeHtmlTextarea("$!{item.contentstring}")</textarea>
						#chef_setupformattedtextarea("content$i")
					</td></tr></table>
				</p>
			#elseif($item.isStructuredArtifact())
				#if($homes.isEmpty())
					<p class="shorttext validation">
						$tlang.getString("add.noforms")
					</p>
				#else
					#if($missing.contains("formtype"))
						<p class="shorttext validation">
					#else
						<p class="shorttext">
					#end
						<label for="formtype">$tlang.getString("add.formtype")</label>
						#if("$itemType" == "$TYPE_UPLOAD")
							<select name="formtype" id="formtype" onchange="javascript:document.getElementById('createForm').action='#toolLinkParam("ResourcesAction" "doCreateitem" "special=upload&flow=updateDocType")';submitform('createForm');">
						#else
							<select name="formtype" id="formtype" onchange="javascript:document.getElementById('flow').value='updateDocType';submitform('createForm');">
						#end
						##<select id="formtype" name="formtype" onchange="javascript:document.getElementById('flow').value='updateDocType';submitform('createForm');">
							<option value=""#if("$!formtype" == "") selected="selected"#end></option>
							#foreach($home in $homes)
								<option value="$home.type.id"#if("$!home.type.id" == "$!formtype") selected="selected"#end>$home.type.description</option>
							#end
						</select>
					</p>
					#getPropertyValues($item.properties)
				#end
			#else
				#if("$!{item.Filename}" == "")
					#if($!{item.isMissing("fileName")})
						<p class="shorttext validation">
					#else
						<p class="shorttext">
					#end
						<span class="reqStar">*</span>
						<label for="fileName$i">$tlang.getString("gen.choose") $tlang.getString("add.afile")</label>
						<input type="file" name="fileName$i" id="fileName$i"  class ="upload" onchange="javascript:seedValue(this, 'name$i')" />
					</p>
				#else
					<p class="shorttext">
						<label for="fileName">$tlang.getString("addi.upload")</label>
						$validator.escapeHtml("$!item.filename")
					</p>
					<p class="shorttext">
						<label for="fileName">$tlang.getString("rep.thisfile")</label>
						<input type="file" name="fileName$i" id="fileName$i"  class ="upload" />
					</p>
				#end
			#end
			######################## ================ Properties of Item ================ ########################
			<p class="discTria">
				$tlang.getString("add.props")
			</p>
			#if(! $item.isFolder())
				#if($!{item.isMissing("name")})
					<p class="shorttext validation">
				#else
					<p class="shorttext">
				#end
					##<span class="reqStar">*</span>
					<label for="name$i">
						$tlang.getString("gen.title") 
					</label>
					<input type="text" size="40" id="name$i" name="name$i" value="$validator.escapeHtml("$!item.name")" />
				</p>	
			#end
			<p class="shorttext">
				<label for="description$i">
					$tlang.getString("gen.description")
				</label>
				<textarea id="description$i" name="description$i" rows="2" cols="40" wrap="virtual">$validator.escapeHtmlTextarea("$!item.description")</textarea>
			</p>	
			#if ($item.isFileUpload() || $item.isHtml() || $item.isPlaintext()) 
					#if ($!copyrightTypes)
						<p class="shorttext">
							<span class="reqStar">*</span>
							<label for="copyright$i">
								$tlang.getString("edit.cstatus")
							</label>	
							<select name="copyright$i" id ="copyright$i">
								#foreach ($copyright in $copyrightTypes)
									<option value="$copyright"#if($item.copyrightStatus == $copyright) selected="selected"#end>$copyright</option>
								#end
							</select>
							#if ($!fairuseurl)
								(<a href="$fairuseurl" target="_blank" title="[$tlang.getString('gen.newwin')]"><span class="skip"> [$tlang.getString('gen.newwin')]</span>$tlang.getString("edit.fairuse")</a>)
							#end
						</p>
						<p class="shorttext">
							<label for="newcopyright$i">
								$tlang.getString("edit.cinfo")
							</label>	
							<textarea name="newcopyright$i" id="newcopyright$i" rows="2" cols="40" wrap="virtual" >$validator.escapeHtmlTextarea("$!item.copyrightInfo")</textarea>
						</p>	
						<table border="0">
							<tr>
								<td style="width:180px;padding-left:1em;vertical-align:top">
									<label for="copyrightAlert$i">
										$tlang.getString("edit.calert")
									</label>
								</td>
								<td style="vertical-align:top">
									<input type="checkbox" name="copyrightAlert$i" id ="copyrightAlert$i" value="true" #if($item.hasCopyrightAlert())checked="checked"#end style="border:none" />
									$tlang.getString("edit.display1")
									<a href="#" onclick="javascript:openSampleCopyrightWindow();" onkeypress="javascript:openSampleCopyrightWindow();"   title="[$tlang.getString('gen.newwin')]"><span class="skip">[$tlang.getString('gen.newwin')]</span>$tlang.getString("edit.display2")</a>
									$tlang.getString("edit.display3")
								</td>
							</tr>
						</table>
					#end
			#end
		
			#if (!$dropboxMode)
				## not show the public view in dropbox
				<table border="0">
					<tr>
						<td style="width:180px;padding-left:1em;vertical-align:top">
							<label for="pubview$i">
								$tlang.getString("edit.access1")
							</label>	
						</td>
						<td style="vertical-align:top">
							#if ($item.isPubviewset())
								$tlang.getString("gen.setyes")
							#else
								<input type="checkbox" name="pubview$i" id="pubview$i" value="true" #if($item.isPubview()) checked="checked"#end  style="border:none" />
								$tlang.getString("edit.access2")
							#end
						</td>
					</tr>
				</table>
			#end
			#if($setQuota)
				<p class="shorttext">
					<label for="hasQuota$i">
						$tlang.getString("gen.quota") ($tlang.getString("gen.kb")):
					</label>	
					<input type="hidden" name="setQuota$i" value="true" />
					<input type="checkbox" name="hasQuota$i" id="hasQuota$i" value="true" #if ($hasQuota) checked="checked" #end />
					<input type="text" size="10" name="quota" id="quota" value="$!quota" />
				</p>	
			#end
			#if (!$dropboxMode)
				#if (!$item.isFolder())
					#if ($notification)
						<p class="shorttext">
							<label for="notify$i">
								$tlang.getString("gen.email1")
							</label>	
							<select name="notify$i" id="notify$i">
								<option value="r">$tlang.getString("gen.email2")</option>
								<option value="o">$tlang.getString("gen.email3")</option>
								<option value="n" selected="selected">$tlang.getString("gen.email4")</option>
							</select>
						</p>	
					#end
				#end
			#end
			
			######################## ================ Optional Properties of Item ================ ########################
			#if($metadataGroups)
				#foreach($group in $metadataGroups)				  
					#if ($item.isGroupShowing($group.name))
						<p class="discTria">
							#if("$itemType" == "$TYPE_UPLOAD")
								<a href="#" onclick="javascript:document.getElementById('createForm').action='#toolLinkParam("ResourcesAction" "doCreateitem" "special=upload&flow=hideOptional&metadataGroup=$validator.escapeUrl($group.name)&twiggleNumber=$i")';submitform('createForm');" onkeypress="javascript:document.getElementById('createForm').action='#toolLinkParam("ResourcesAction" "doCreateitem" "special=upload&flow=hideOptional&metadataGroup=$validator.escapeUrl($group.name)&twiggleNumber=$i")';submitform('createForm');"  title="$tlang.getString("edit.hide") $group.name">
							#else
								<a href="#" onclick="javascript:document.getElementById('flow').value='hideOptional';document.getElementById('metadataGroup').value='$validator.escapeUrl($group.name)'; document.getElementById('twiggleNumber').value='$i';submitform('createForm');" onkeypress="javascript:document.getElementById('flow').value='hideOptional';document.getElementById('metadataGroup').value='$validator.escapeUrl($group.name)'; document.getElementById('twiggleNumber').value='$i';submitform('createForm');"  title="$tlang.getString("edit.hide") $group.name">
							#end
							##<a href="#" onclick="javascript: document.getElementById('flow').value='hideOptional'; document.getElementById('metadataGroup').value='$validator.escapeUrl($group.name)'; document.getElementById('twiggleNumber').value='$i'; submitform('createForm'); return false;" title="$tlang.getString("edit.hide") $group.name">
								<img src="#imageLink("sakai/collapse.gif")" alt="$tlang.getString("edit.hide") $group.name" border="0" width="13" height="13" align="top" />
							</a>
							$validator.escapeHtml($group.name)
						</p>
						#foreach($tag in $group)
							<p class="shorttext">
								#if("$!tag.widget" == "$!STRING")
				 					<label for ="$validator.escapeJavascript("$!{tag.fullname}_$i")">
										$tag.label
									</label>
									<input type="text" size="40"
										name="$!{tag.fullname}_$i" 
										id="$validator.escapeJavascript("$!{tag.fullname}_$i")" 
										value="$!item.metadata.get("$tag.fullname")" 
									/>
								#elseif("$!tag.widget" == "$!TEXTAREA")
									<label for ="$validator.escapeJavascript("$!{tag.fullname}_$i")">
										$tag.label
									</label>
									<textarea rows="4" cols="30" 
										name="$!{tag.fullname}_$i" 
										id="$validator.escapeJavascript("$!{tag.fullname}_$i")" >$validator.escapeHtmlTextarea($item.metadata.get("$tag.fullname"))</textarea>
								#elseif("$!tag.widget" == "$!DATE")
									<label for ="$validator.escapeJavascript("$!{tag.fullname}_$i")">
										$tag.label
									</label>
									<input type="hidden" id="$validator.escapeJavascript("$!{tag.fullname}_$i")" value="" />
									#if($!item.metadata.get("$tag.fullname"))
										#set($theValue = $!item.metadata.get("$tag.fullname"))
									#else
										#set($theValue = $today)
									#end 
									#prop_dateSelectionWidget("${tag.fullname}_$i" $theValue)
								#elseif("$!tag.widget" == "$!DATETIME")
									<label for ="$validator.escapeJavascript("$!{tag.fullname}_$i")">
										$tag.label
									</label>
									<input type="hidden" id="$validator.escapeJavascript("$!{tag.fullname}_$i")" value="" />
									#if($!item.metadata.get("$tag.fullname"))
										#set($theValue = $!item.metadata.get("$tag.fullname"))
									#else
										#set($theValue = $today)
									#end 
									#prop_dateSelectionWidget("$!{tag.fullname}_$i" $theValue)
									#prop_timeSelectionWidget("$!{tag.fullname}_$i" $theValue)
								#elseif("$!tag.widget" == "$!TIME")
									<label for ="$validator.escapeJavascript("$!{tag.fullname}_$i")">
										$tag.label
									</label>
									<input type="hidden" id="$validator.escapeJavascript("$!{tag.fullname}_$i")" value="" />
									#if($!item.metadata.get("$tag.fullname"))
										#set($theValue = $!item.metadata.get("$tag.fullname"))
									#else
										#set($theValue = $today)
									#end 
									#prop_timeSelectionWidget("$!{tag.fullname}_$i" $theValue)
		
								#else
									$tag.fullname<br />
									$tag.widget<br />
									$!item.metadata.get("$tag.fullname")<br />
								#end
							</p>
						#end
						
					#else
						<p class="discTria">
							#if("$itemType" == "$TYPE_UPLOAD")
								<a href="#" onclick="javascript:document.getElementById('createForm').action='#toolLinkParam("ResourcesAction" "doCreateitem" "special=upload&flow=showOptional&metadataGroup=$validator.escapeUrl($group.name)&twiggleNumber=$i")';submitform('createForm');"  onkeypress="javascript:document.getElementById('createForm').action='#toolLinkParam("ResourcesAction" "doCreateitem" "special=upload&flow=showOptional&metadataGroup=$validator.escapeUrl($group.name)&twiggleNumber=$i")';submitform('createForm');" title="$tlang.getString("edit.show") $group.name">
							#else
								<a href="#" onclick="javascript:document.getElementById('flow').value='showOptional';document.getElementById('metadataGroup').value='$validator.escapeUrl($group.name)'; document.getElementById('twiggleNumber').value='$i';submitform('createForm');" onkeypress="javascript:document.getElementById('flow').value='showOptional';document.getElementById('metadataGroup').value='$validator.escapeUrl($group.name)'; document.getElementById('twiggleNumber').value='$i';submitform('createForm');"  title="$tlang.getString("edit.show") $group.name">
							#end
							##<a href="#" onclick="javascript: document.getElementById('flow').value='showOptional'; document.getElementById('metadataGroup').value='$validator.escapeUrl($group.name)'; document.getElementById('twiggleNumber').value='$i'; submitform('createForm'); return false;" title="$tlang.getString("edit.show") $group.name">	
								<img src="#imageLink("sakai/expand.gif")" alt="$tlang.getString("edit.show") $group.name" border="0" width="13" height="13" align="top" />
							</a>
							$validator.escapeHtml($group.name)
						</p>
					#end
				#end
			#end
			############################################# end of section to show metadata 
	
		#end
		################# end of foreach $i in 0 .. $numberOfItems

		######################## ================ Add Button, Cancel Button ================ ########################
		<p class="act">
			<input type="button" class="active" name="savechanges" id="saveChanges" onclick="javascript:showNotif('submitnotif','saveChanges','createForm');document.getElementById('flow').value='create'; submitform('createForm');" onkeypress="javascript:showNotif('submitnotif','saveChanges','createForm');document.getElementById('flow').value='create'; submitform('createForm');"  value="$tlang.getString("gen.add")" />
			<input type="button" name="cancel" onclick="javascript:document.getElementById('createForm').action='#toolLinkParam("ResourcesAction" "doCreateitem" "flow=cancel")';submitform('createForm');" onkeypress="javascript:document.getElementById('createForm').action='#toolLinkParam("ResourcesAction" "doCreateitem" "flow=cancel")';submitform('createForm');"  value="$tlang.getString("gen.cancel")" />
			<span id="submitnotif" style="visibility:hidden">$tlang.getString("gen.proces")</span>
		</p>
		#if("$itemType" == "$TYPE_UPLOAD")
			<p class="shorttext">
				$tlang.getString("gen.note")
				$tlang.getString("gen.onlyup1")
				$!max_upload_size
				$tlang.getString("gen.onlyup2")
			</p>
		#end
	</form>
</div>
