##<!-- $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/discussion/chef_threaded_discussionsII-topic_content.vm,v 1.4 2005/05/26 19:54:18 zqian.umich.edu Exp $ -->
<div class="portletBody">
	<form name="formII" action="#toolForm("$action")" method="post" style="padding:0;display:inline">
		<p class="rightNav">
			#if ($!goPTButton)
				<input type="submit" name="eventSubmit_doPrev_topic_content" value="$tlang.getString("content.pretop")"/>
			#else
				<input type="submit" name="eventSubmit_doPrev_topic_content" value="$tlang.getString("content.pretop")" disabled="disabled"/>
			#end
			<input type="submit" name="eventSubmit_doCancel_show_topic_content" value="$tlang.getString("content.rettolis")"/>
			#if ($!goNTButton)
				<input type="submit" name="eventSubmit_doNext_topic_content" value="$tlang.getString("content.nextop")"/>
			#else
				<input type="submit" name="eventSubmit_doNext_topic_content" value="$tlang.getString("content.nextop")" disabled="disabled"/>
			#end
		</p>
	<h3>
		$tlang.getString("content.topcon")
	</h3>

	#if ($alertMessage)<div class="chefAlertBox">$tlang.getString("gen.alert") $validator.escapeHtml($alertMessage)</div><div style="display:block;clear:both" />#end
	<table rwidth="100%" border="0">
		<tr>	
			<td>
				#if ($topic.DiscussionHeader.Draft)
					<span class="alert">$tlang.getString("gen.dra") </span>
				#end
				 <span style="font-weight:bold"> $validator.escapeHtml($topic.DiscussionHeader.Subject)</span>
				#set($replyNumber = $topic.NumberOfReplies)
				#if ($replyNumber>0)
					#if ($replyNumber==1) 
						[ $tlang.getString("content.oneres") ]
					#else
						[$replyNumber $tlang.getString("content.morres")]
					#end
				#end
				- $validator.escapeHtml($topic.DiscussionHeader.From.DisplayName)
				($topic.DiscussionHeader.Date.toStringLocalFull())
			</td>
		</tr>
		<tr>
			<td style="padding-left:1em">
				$validator.escapeHtmlFormattedText($topic.Body)
			</td>
		</tr>
	</table>
		#set($thread = $channel.getThread($topic))
		#foreach ($message in $thread)
		<table border ="0" style="margin-top:1em">
			<tr>
				<td nowrap="nowrap" style="letter-spacing:.3em">
					#set($depth = $message.ReplyToDepth)
					#foreach ($i in [1..$depth]) &nbsp; #end
				</td>
				<td>
					#if ($message.DiscussionHeader.Draft)
						<span class="alert">$tlang.getString("gen.dra") </span>
					#end
					<span style="font-weight:bold">$validator.escapeHtml($message.DiscussionHeader.Subject)</span>
					#set($replyNumber = $message.NumberOfReplies)
					#if ($replyNumber>0)
						#if ($replyNumber==1) 
							[$tlang.getString("content.oneres")]
						#else
							[$replyNumber $tlang.getString("content.morres")]
						#end
					#end
					 - $validator.escapeHtml($message.DiscussionHeader.From.DisplayName)
					($message.DiscussionHeader.Date.toStringLocalFull())
				</td>
			</tr>
			<tr>
				<td>
				</td>
				<td style="padding-left:1em">
						$validator.escapeHtmlFormattedText($message.Body)
				</td>
			</tr>
		</table>	
		#end
		<p class="rightNav">
			#if ($!goPTButton)
				<input type="submit" name="eventSubmit_doPrev_topic_content" value="$tlang.getString("content.pretop")"/>
			#else
				<input type="submit" name="eventSubmit_doPrev_topic_content" value="$tlang.getString("content.pretop")" disabled="disabled"/>
			#end
			<input type="submit" name="eventSubmit_doCancel_show_topic_content" value="$tlang.getString("content.rettolis")"/>
			#if ($!goNTButton)
				<input type="submit" name="eventSubmit_doNext_topic_content" value="$tlang.getString("content.nextop")"/>
			#else
				<input type="submit" name="eventSubmit_doNext_topic_content" value="$tlang.getString("content.nextop")" disabled="disabled"/>
			#end
		</p>
	</form>
</div>

