@import url("core/skin/core.css");
.divColor{background-color:#b8c2ce !important;}
#divLogo{
	background-image: url(eng/institutional/divlogo.gif);
	height:45px;
	padding:0px;
	margin:0 0 1em 0;
	width:8em; 
	display:block;
	background-repeat: no-repeat;
	background-position:center top;
}
.content-table		{
margin:0;
background-color:#b8c2ce;
border-right:10px solid #b8c2ce;
border-bottom:10px solid #b8c2ce;
}
#tabNavigation .selectedTab a, #tabNavigation .selectedTab a:link, #tabNavigation .selectedTab a:visited, #tabNavigation .selectedTab a:hover {
	background-color:#b8c2ce;
	border-bottom: none;
	border-right: 1px solid #C0C0C0;
	border-top: 1px solid #C0C0C0;
	color: #2E3C52;
	padding: 3px 5px 4px 5px
}