## $Header: /cvs/sakai/chef-tool/src/webapp/vm/prefs/chef_noti_prefs_edit.vm,v 1.2 2004/08/23 18:10:14 suiyy.umich.edu Exp $ 
##<script type="text/javascript">
##	focus_path = [ "$form-pagesize" ];
##</script>

#macro(chef_noti_prefs_edit_flds key value)
##	changed to radios (gsilver)
        #if ($key == "annc")
            #if($value == 0) #set($value = 3) #end
            <input type="radio" name="$key" id="_3$key"  value="3" #if($value == 3) checked="checked" #end /> 
                    <label for ="_3$key">receive individually when posted</label><br />
            <input type="radio" name="$key" id="_2$key" value="2" #if($value == 2) checked="checked" #end /> 
                    <label for ="_2$key">daily digest (summary)</label><br />
            <input type="radio" name="$key" id="_1$key" value="1" #if($value == 1) checked="checked" #end /> 
                    <label for ="_1$key">block</label><br />
        #elseif ($key == "rsrc")
            #if($value == 0) #set($value = 3) #end
            <input type="radio" name="$key" id="_3$key"  value="3" #if($value == 3) checked="checked" #end /> 
                    <label for ="_3$key">receive individually when posted</label><br />
            <input type="radio" name="$key" id="_2$key" value="2" #if($value == 2) checked="checked" #end /> 
                    <label for ="_2$key">daily digest</label><br />
            <input type="radio" name="$key" id="_1$key" value="1" #if($value == 1) checked="checked" #end /> 
                    <label for ="_1$key">block</label><br />
        #elseif ($key == "mail")
            #if($value == 0) #set($value = 3) #end
            <input type="radio" name="$key" id="_3$key"  value="3" #if($value == 3) checked="checked" #end /> 
                    <label for ="_3$key">receive emails when sent to the site</label><br />
            <input type="radio" name="$key" id="_2$key" value="2" #if($value == 2) checked="checked" #end /> 
                    <label for ="_2$key">daily digest</label><br />
            <input type="radio" name="$key" id="_1$key" value="1" #if($value == 1) checked="checked" #end /> 
                    <label for ="_1$key">block</label><br />
        #end
#end

<div class="chefPortletContainer">
	#if($menu)#toolbar($menu)#end
	<div class ="chefPortletToolBarMessage">
		Edit notification preferences for $preferences_for
	</div>
	<div class="chefPortletContent">
		#if ($alertMessage)<div class="chefAlertBox">Alert: $validator.escapeHtml($alertMessage)</div><div style="display:block;clear:both" />#end
	<div class="chefPageviewTitle">
		Select type of notification you will get when someone posts or edits an item in a site you are a member of.
	</div>
		<form action="#toolForm($action)" method="post">
			<fieldset>
                                <legend>
                                        High Priority Notifications
                                </legend>
                                <table class ="chefItemDetail">
                                <tr>
                                        <td colspan=2>
                                                High priority notifications are received as soon as they are sent.
                                        </td>
                               </tr>
                               </table> 
                        </fieldset>
                        <fieldset>
				<legend>
					Low Priority Notifications
				</legend>
				<table class ="chefItemDetail">
                                <tr>
                                        <td>
                                                Choose how you would like to receive low priority notifications.
                                        </td>
                               </tr>
##					<tr>
##						<td>
##							Default Preferences
##						</td>
##						<td>
##							#chef_noti_prefs_edit_flds("default" $default)
##						</td>	
##					</tr>
					<tr>
						<td>
							<br />Announcements
						</td>
                                        </tr>
					<tr>
						<td>
							#chef_noti_prefs_edit_flds("annc" $annc)
						</td>	
					</tr>
					<tr>
						<td>
							<br />Email Archive
                                                        (Choose how you would like to receive emails sent to the site.)
						</td>
                                        </tr>
                                        <tr>
						<td>
							#chef_noti_prefs_edit_flds("mail" $mail)
						</td>	
					</tr>
					<tr>
						<td>
							<br />Resources
						</td>
                                        </tr>
					<tr>
						<td>
							#chef_noti_prefs_edit_flds("rsrc" $rsrc)
						</td>	
					</tr>	
##					<tr>
##						<td>
##							Schedule
##						</td>
##						<td>
##							#chef_noti_prefs_edit_flds("schd" $schd)
##						</td>	
##					</tr>
				</table>	
			</fieldset>
			<div class="chefButtonRow">
				<input type="submit" name="$form_submit" value="Save" />
				<input type="submit" name="$form_cancel" value="Cancel" />
			</div>
		</form>
	</div>
</div>
