##<!-- $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/sitesetup/chef_site-siteInfo-editInfoConfirm.vm,v 1.2 2005/05/23 04:04:12 ggolden.umich.edu Exp $ -->
## Edit Site Information Confirmation page
<div class="portletBody">
<h3>
		$tlang.getString("mb.confirm")
	</h3>                                                                                           

	#if ($alertMessage)<p class="information">$validator.escapeHtml($alertMessage)</p>#end

	<form action="#toolForm("$action")" method="post">
	$tlang.getString("mb.confirm1") "$unjoinSite" $tlang.getString("mb.confirm2") 
		<p class="act">
			<a href="#toolLink("$action" "doGoto_unjoinyes")" ><input type="button" value="$tlang.getString("mb.unjoin")" /></a>
			<a href="#toolLink("$action" "doGoto_unjoincancel")" ><input type="button" value="$tlang.getString("mb.cancel")" /></a>
		
		</p>	
	</form>
</div>
