##<!-- $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/sitesetup/chef_site-siteInfo-editInfoConfirm.vm,v 1.2 2005/05/23 04:04:12 ggolden.umich.edu Exp $ -->
## Edit Site Information Confirmation page
<div class="portletBody">
<h3>
		My unjoin site 
	</h3>                                                                                           

	#if ($alertMessage)<p class="information">$validator.escapeHtml($alertMessage)</p>#end

	<form action="#toolForm("$action")" method="post">
	Are you sure, you want to unjoin "$unjoinSite" site. 
	<p></p>
		<div class="itemAction">
			<a href="#toolLink("$action" "doGoto_unjoinyes")" >Yes</a>
			|
			<a href="#toolLink("$action" "doGoto_unjoincancel")" >Cancel</a>
		
		</div>	
	</form>
</div>
