body{width:100%;padding:0px;font-family:Verdana,Geneva,Arial,Helvetica,sans-serif}
/*GROUP 1 - top navigation*/
/*container for the #tabNavigation ul*/
.tabHolder{
width:100%;
margin:2px 0 0 0;
padding:0;
background:#fff;
border-top:1px solid Silver;
line-height:1.3em
}
/*ul - the li are the tabs*/
#tabNavigation{
background:#fff;
white-space:nowrap;
list-style:none none none;
font-size:.8em;
margin:0;
padding:0;
width:100%
}
/*displays a bar on bottom of tabs - following a declarations are to be used when the template file allows displaying the tool links horizontally under the tabs*/
#tabBottom{
color:#fff;
font-size:.7em;
text-align:right;
padding:3px 12px 3px 3px;
clear:both;
border-top:1px solid Silver
}
#tabBottom a,#tabBottom a:link,#tabBottom a:visited{color:#fff;white-space:nowrap;text-decoration:none}
#tabBottom  a:hover{color:#fff;text-decoration:underline;white-space:nowrap}
/*hacks for ie and moz/saf */
html #tabNavigation/* */{padding:3px}
html>body #tabNavigation{margin:2px;padding:0}
/*the tab*/
#tabNavigation li{display:inline;line-height:1em;background-color:#fff;border-right:1px dotted silver}
/*hack hack*/
html>body #tabNavigation li{line-height:.8em;padding:0 5px 0 0}
/*the current tab*/
#tabNavigation li.selectedTab{display:inline;line-height:1em;background-color:#fff;padding:0 5px 0 0}
/*the link inside the tab*/
#tabNavigation a,#tabNavigation a:link,#tabNavigation a:visited{
background-color:#fff;
color:#747474;
margin:0;
padding:2px 6px 2px 10px;
text-decoration:none
}
/*hack*/
html #tabNavigation a/* */,html #tabNavigation a:link/* */,html #tabNavigation a:visited/* */{border-bottom:none;height:auto;margin:0}
html>body #tabNavigation a,html>body #tabNavigation a:link,html>body #tabNavigation a:visited{padding:2px 6px 2px 10px;margin:0}
\head+body #tabNavigation a,\head+body #tabNavigation a:link,\head+body #tabNavigation a:visited{padding:2px 6px 2px 10px;top:0}
/*the hover for the tabs*/
#tabNavigation a:hover{color:#000}
/*the link inside the current tab*/
#tabNavigation .selectedTab a,#tabNavigation .selectedTab a:link,#tabNavigation .selectedTab a:visited,#tabNavigation .selectedTab a:hover{color:#000}
html>body #tabNavigation .selectedTab a,html>body #tabNavigation .selectedTab a:link,html>body #tabNavigation .selectedTab a:visited{padding:2px 6px 2px 10px}
\head+body #tabNavigation .selectedTab a,\head+body #tabNavigation .selectedTab a:link,\head+body #tabNavigation .selectedTab a:visited,\head+body #tabNavigation .selectedTab a:hover{}
.fixTabsIE{visibility:hidden;display:none;border-width:0}
/*a convenience class - not used in these examples - overrides the color in selected regions*/
.divColor{background-color:#fff !important}
/*GROUP 2 - masthead */
/*the masthead - presently a table,soon a box*/
.mast-head{width:100%;background-color:#fff;margin:0px;font-size:.8em;color:#1997BB}
/*the masthead - link cell*/
.mast-head-r{text-align:right;white-space:nowrap;padding-right:15px}
.mast-head-r a,.mast-head-r a:visited{color:#747474}
.mast-head-r a:hover{color:#1997BB;text-decoration:underline}
/*in case links need to display as a list*/
.mast-head-r ul{margin:5px;list-style:none;font-size:.8em}
.mast-head-r ul li{display:inline;margin:0px}
/*in case this skin is used as default (hah!) - some definition for the login form elements*/
input{
border:1px solid #000;
background-color:Silver;
padding:3px;
font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;
color:#000
}
.button{border:1px solid #000;background-color:Silver;margin-left:1em;padding:1px;color:#000}
/* GROUP 3 - content and channels */
/*the middle layer - tool menu and content*/
.sakaiAlertBox /*used in alert for unpub sites*/{
background-color:#fff;
background-image:url(/sakai-shared/image/warn.gif);
background-position: 3px 3px;
background-repeat:no-repeat;
border:1px solid  #000;
clear:both;
color:#000;
font-size:x-small;
margin:5px 2px 15px 2px;
padding:5px 5px 5px 20px
}
html .sakaiAlertBox/* */{background-position:3px center/* - adj for ie - */}

#leftnavlozenge{width:11em;padding:0;margin-bottom:1em;margin-right:0em;margin-left:0px;font-size:70%;color:#fff;clear:both}
#leftnavlozenge ul{list-style:none;margin:0;padding:0;border:none}
#leftnavlozenge li{margin:0;width:auto}
#leftnavlozenge li a{display:block;padding:5px 5px 5px 0.5em;text-decoration:undeline;width:100%;color:#000;}
/*	adjust for moz + safari*/
html>body #leftnavlozenge li a{width:auto;border-width:1px 0 1px 1px;border-color:transparent;border-style:solid}
#presence{width:100%}
/* GROUP 4 - content and channels */
.channelTitleIframe{}
.uportalchannelcontent{border:1px solid Silver;background-color:#fff;text-align:left;width:99%;margin-bottom:.5em}
/*GROUP 5:tableless layout*/
#container{}
#content{padding:.3em .3em .3em .3em;margin-left:8.5em;background-color:#fff}
#sidebar{float:left;width:8.4em;}
#footer{border-top:1px solid Silver;background-color:#fff;color:#000;font-size:xx-small;margin:0px;padding:0;width:auto;clear:both;top:0}
.footerExtNav{padding-top:.5em;padding-bottom:.5em}
.footerExtNav a,.footerExtNav A:link,.footerExtNav A:visited{color:#000;text-decoration:none;margin:1em}
.footerExtNav a:hover{color:#1A506A;text-decoration:underline;margin:1em}
#footerInfo{border-top:1px solid Silver;background-color:#FFF;font-size:xx-small;text-align:center;clear:both}
#footerInfo img{margin-top:.5em;margin-bottom:.5em}
#leftnavlozenge li a.selected,#leftnavlozenge li a:hover{padding:5px 5px 5px 0.5em;width:100%;background-color:#fff;color:#000;text-decoration:none; }