<div class="chefPortletContainer">
	<div class ="chefPortletToolBarMessage">
		Previewing message...
	</div>
	<div class="chefPortletContent">
		#if ($alertMessage)<div class="chefAlertBox">Alert: $validator.escapeHtml($alertMessage)</div>#end
		<table class="chefItemDetail" cellspacing="0" summary="The posted message information" style="background-color:#F5F5F5;border:.5em solid #F5F5F5;margin:0 1em !important">
			#set ($starOrThread = "thread")
			#set ($props = $topic.getProperties())
			#if ($!props)
				#set ($starOrThread = $props.getProperty($props.getNamePropReplyStyle()))
			#end
			#if ($starOrThread != "thread")
				<tr>
					<td class="chefLabel">
						In reply to:
					</td>
					<td>
						$topic.getDiscussionHeader().getSubject()
					</td>
				</tr>
				<tr>
					<td class="chefLabel">
						From:
					</td>
					<td>
						$validator.escapeHtml($currentMessage.getDiscussionHeader().getFrom().getDisplayName()) ($currentMessage.getDiscussionHeader().getDate().toStringLocalFull())
					</td>
				</tr>
				<tr>
					<td class="chefLabel">
						Message:
					</td>
					<td>
						$validator.limit($topic.Body, 100)
					</td>
				</tr>
			#else
				<tr>
					<td class="chefLabel">
						In reply to:
					</td>	
					<td>
						$validator.escapeHtml($currentMessage.DiscussionHeader.Category) &gt; $topic.getDiscussionHeader().getSubject() &gt; $validator.escapeHtml($currentMessage.getDiscussionHeader().getSubject())
					</td>
				</tr>
				<tr>
					<td class="chefLabel">
						From:
					</td>
					<td>
						$validator.escapeHtml($currentMessage.getDiscussionHeader().getFrom().getDisplayName()) ($currentMessage.getDiscussionHeader().getDate().toStringLocalFull())
					</td>
				</tr> 
				<tr>
					<td class="chefLabel">
						Message:
					</td>
					<td>
						<span class="chefPre">$validator.escapeHtmlFormattedText($currentMessage.getBody())</span>
					</td>
				</tr>
			#end
			#set ($size = 0)
			#set ($props = false)
			#foreach ($attachment in $currentMessage.Header.Attachments) 
				#set ($props = $attachment.Properties) 
				#if ($!props)
					#set ($size = $size + 1)
				#end
			#end
			#if ($size == 0)
			#else
				<tr>
					<td class="chefLabel">
						Attachments:
					</td>
					<td>
						<ul class="chefAttachmentList">
							#foreach ($attachment in $currentMessage.Header.Attachments) 
								#set ($props = false)
								#set ($props = $attachment.Properties) 
								#if ($!props)
									<li>
										#if ($props.getBooleanProperty($props.NamePropIsCollection))
											<img src = "#imageLink($contentTypeImageService.getContentTypeImage("folder"))" border="0" alt="folder attachment" />
										#else
											<img src = "#imageLink($contentTypeImageService.getContentTypeImage($props.getProperty($props.NamePropContentType)))" border="0" alt="File attachment" />
										#end
										<a href="$attachment.Url" target="_blank">$validator.escapeHtml($props.getPropertyFormatted($props.NamePropDisplayName))</a>						
										#if (!$props.getBooleanProperty($props.NamePropIsCollection))
											($props.getPropertyFormatted($props.NamePropContentLength))
										#end
									</li>
								#end
							#end
						</ul>
					</td>
				</tr>
			#end
		</table>
		<form action="#toolForm($action)" method="post">
			<input type="hidden" name="portletid" value="$portlet.ID" />
			<input type="hidden" name="topicId" value="$topic.Id" />
			<input type="hidden" name="messageId" value="$currentMessage.Id" />
			<fieldset>
				<legend>
					Reply
				</legend>
				<table class="chefEditItem" summary="This table contains the information for a reply message">	
					#if ($currentMessage.ReplyToDepth != 0)
						#if ($starOrThread.equals("star"))
							<input type="hidden" name="replyto" value="totopic" id ="replytotopic" />
						#else
							<tr>
								<td class="chefLabel">
									Reply to:
								</td>
								<td>
									#if ($!replyto=="totopic")
										<input type="radio" name="replyto" value="totopic" id ="replytotopic" checked="checked" /><label for="replytotopic">to topic</label>
										<input type="radio" name="replyto" value="tomessage" id="replytomessage" /><label for="replytomessage">this message</label>
									#else
										<input type="radio" name="replyto" value="totopic" id ="replytotopic" /><label for="replytotopic">to topic</label>
										<input type="radio" name="replyto" value="tomessage" id="replytomessage" checked="checked" /><label for="replytomessage">this message</label>
									#end
								</td>
							</tr>
						#end
					#else
						<tr><td><input type="hidden" name="replyto" value="totopic" /></td></tr>
					#end
					<tr>
						<td class="chefLabel">
							<span class="chefRequiredInline">Subject:</span>
						</td>
						<td>
							<input type="hidden" name="subject" id="subject" value="$!subject" />
							$!subject
						</td>
					</tr>
					<tr>
						<td class="chefLabel">
							Message:
						</td>
						<td>
							<input type="hidden" name="body" id="body" value="$validator.escapeHtml("$!body")" />
							$validator.escapeHtmlFormattedText("$!body")
						</td>
					</tr>
					<tr>
						<td align="right">
							&nbsp;
						</td>
						<td>
							<fieldset class="chefAttachmentsF">
								<legend class="chefAttachmentsL">	
									Attachments
								</legend> 
								#set ($size = 0)
								#set ($props = false)
								#foreach ($attachment in $attachments) 
									#set ($props = $attachment.Properties) 
									#if ($!props)
										#set ($size = $size + 1)
									#end
								#end
								#if ($size == 0)
									No attachments ...
								<div class="chefButtonRow">
									<input type="submit" name="eventSubmit_doAttachments" value="Add attachments" />
								</div>
								#else
									<ul class="chefAttachmentList">
										#foreach ($attachment in $attachments) 
											#set ($props = false)
											#set ($props = $attachment.Properties) 
											#if ($!props)
												<li>
													#if ($props.getBooleanProperty($props.NamePropIsCollection))
														<img src = "#imageLink($contentTypeImageService.getContentTypeImage("folder"))" border="0" alt="folder attachment" />
													#else
														<img src = "#imageLink($contentTypeImageService.getContentTypeImage($props.getProperty($props.NamePropContentType)))" border="0" alt="File attachment" />
													#end
													<a href="$attachment.Url" target="_blank">$validator.escapeHtml($props.getPropertyFormatted($props.NamePropDisplayName))</a>						
													#if (!$props.getBooleanProperty($props.NamePropIsCollection))
														($props.getPropertyFormatted($props.NamePropContentLength))
													#end
												</li>
											#end
										#end
									</ul>
								#end							
							</fieldset>
						</td>
					</tr>
				</table>
			</fieldset>
			<div class="chefButtonRow">
				<input type="submit" name="eventSubmit_doRespond" value="Post" />
				<input type="submit" name="eventSubmit_doCancel_reply_preview" value="Revise" />
				<input type="submit" name="eventSubmit_doRespond_draft" value="Save Draft" />
				<input type="submit" name="eventSubmit_doCancel_reply_preview" value="Cancel" />
			</div>
		</form>
	</div>
</div>