<cruisecontrol>
   <!-- <plugin name="email" classname="SakaiEmailPublisher" /> -->

   <project name="sakai">
       
      <listeners>
         <currentbuildstatuslistener file="logs/sakai/status.txt" />
      </listeners>
 

      
      <bootstrappers>
<!--
          <cvsbootstrapper localWorkingCopy="projects/jakarta-commons/math" />
-->
      </bootstrappers>
      
      <modificationset quietperiod="120" >
         <svn repositoryLocation="https://source.sakaiproject.org/svn/trunk/sakai"/>
      </modificationset>
      
      <schedule interval="60" >
         <maven mavenscript="/dev/maven/bin/maven.bat" 
             projectfile="project.xml"
             goal="cruisecontrolloop"
             />
      </schedule>
      
      <log logdir="logs/sakai" />

      <publishers>
      	<artifactspublisher dest="artifacts/sakai" file="target/checkout/sakai-demo.zip" />

          <email buildresultsurl="http://localhost:8080/cruisecontrol/buildresults/${project.name}"
              skipusers="true"
              reportsuccess="fixes"
              spamwhilebroken="false"
              mailhost="smtp.itd.umich.edu"
              returnaddress="janderse@umich.edu"
              returnname="Sakai Continuous Build System"
              subjectprefix="[CruiseControl] ">
          </email>    

          <email buildresultsurl="http://localhost:8080/cruisecontrol/buildresults/${project.name}"
              skipusers="true"
              reportsuccess="always"
              spamwhilebroken="true"
              mailhost="smtp.itd.umich.edu"
              returnaddress="janderse@umich.edu"
              returnname="Sakai Continuous Build System"
              subjectprefix="[CruiseControl-sysadmin] ">

              <always address="janderse@umich.edu" />

          </email>    


      </publishers>
      
   </project>
</cruisecontrol>
