##<!-- $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/assignment/chef_assignments_student_list_assignments.vm,v 1.15 2005/06/07 15:28:37 zqian.umich.edu Exp $ -->
<div class="portletBody">
		#if($allowAddAssignment)
			<div class="chefToolBarWrap">
				<a href="#toolLink("$action" "doNew_assignment")" title="$!tlang.getString("new")">$!tlang.getString("new")</a>
				<a href="#toolLinkParam("$action" "doView" "view=$!tlang.getString('gen.liofass')")" title="$!tlang.getString('gen.liofass')">$!tlang.getString('gen.liofass')</a>
				#if ($withGrade && $allowGradeSubmission)
					<a href="#toolLinkParam("$action" "doView" "view=$!tlang.getString('gen.grarep')")" title="$!tlang.getString('gen.grarep')">$!tlang.getString('gen.grarep')</a>
				#end
				<span style="margin:.5em">$!tlang.getString('gen.stuvie')</span>
				<a href="#toolLink("$action" "doPermissions")" title="Permission">Permissions</a>
			</div>
		#end

	#if ($alertMessage)<div class="chefAlertBox">$tlang.getString("gen.alert") $validator.escapeHtml($alertMessage)</div>#end
	<h3>
		$!tlang.getString('assig7')
	</h3>
	<p class="instruction">
		#if ($allowAddAssignment)
			$tlang.getString("stulistassig.selanass1")
		#else
			$tlang.getString("stulistassig.selanass")
		#end
	</p>
	#if (!$!assignments.hasNext())
		<p class="instruction">
			$tlang.getString("gen.thearecur1")
		</p>
	#else
		<div class="rightNav">
			<span class="instruction">
				Viewing $topMsgPos - $btmMsgPos of $allMsgNumber items
			</span>
			#if ($pagesize != 0)
				#if ($goFPButton == "true")
					<form name="firstpageForm" style="display:inline" method="post" action="#toolForm("$action")">
						<input type="submit" name="eventSubmit_doList_first" value="|<" title="$tlang.getString("gen.first")" />
					</form>
				#else
					<form name="firstpageForm" style="display:inline" method="post" action="#toolForm("$action")">
						<input type="submit" name="eventSubmit_doList_first" value="|<" disabled="disabled" />
					</form>
				#end
				#if ($goPPButton == "true")
					<form name="nextpageForm" style="display:inline" method="post" action="#toolForm("$action")">
						<input type="submit" name="eventSubmit_doList_prev" value="<" title="$tlang.getString('gen.previous') $pagesize" />
					</form>
				#else
					<form name="nextpageForm" style="display:inline" method="post" action="#toolForm("$action")">
						<input type="submit" name="eventSubmit_doList_prev" value="<" disabled="disabled" />
					</form>
				#end
			#end	
			<form name="pagesizeForm" style="display:inline" method="post" action="#toolForm("$action")">
				<input type="hidden" name="eventSubmit_doChange_pagesize" value="changepagesize" />
				<select name="selectPageSize" onchange="blur();document.pagesizeForm.submit();">
					#foreach ($i in $!pagesizes)
						<option value="$i" #if($pagesize == $i) selected="selected" #end>$tlang.getString("list.show") $i $tlang.getString("list.itemsper")</option>
					#end
				</select>
			</form>
			#if ($pagesize != 0)
				#if ($goNPButton == "true")
					<form name="nextpageForm" style="display:inline" method="post" action="#toolForm("$action")">
						<input type="submit" name="eventSubmit_doList_next" value=">" title="$tlang.getString('gen.next') $pagesize" />
					</form>
				#else
					<form name="nextpageForm" style="display:inline" method="post" action="#toolForm("$action")">
						<input type="submit" name="eventSubmit_doList_next" value=">" disabled="disabled" />
					</form>
				#end
				#if ($goLPButton == "true")
					<form name="lastpageForm" style="display:inline" method="post" action="#toolForm("$action")">
						<input type="submit" name="eventSubmit_doList_last" value=">|" title="$tlang.getString('gen.last')" />
					</form>
				#else
					<form name="lastpageForm" style="display:inline" method="post" action="#toolForm("$action")">
						<input type="submit" name="eventSubmit_doList_last" value=">|" disabled="disabled" />
					</form>
				#end
			#end
		</div>
		<br />
	#end
		<form name="studentForm" action="#toolForm("AssignmentAction")" method="post">
			#if ($assignments.hasNext())
				<table class="listHier" border="0" cellspacing="0" summary="this is a list of assignments" >
					<tr>
						<th id="attachment"  style="width:1.5em">
						</th>
						<th id="title">
							<a href="#" onclick="location='#toolLinkParam("AssignmentAction" "doSort" "criteria=title")'; return false;">
								$tlang.getString("gen.asstit")
								#if ($sortedBy.equals("title")) 
									#if ($sortedAsc.equals("true")) 
										<img src = "#imageLink("sakai/sortascending.gif")" border="0" alt="$tlang.getString("gen.shopag")" /> 
									#else 
										<img src = "#imageLink("sakai/sortdescending.gif")" border="0" alt="$tlang.getString("gen.sordes")" /> 
									#end 
								#end 
							</a>
						</th>
						#*
						<th id="section">
							<a href="#" onclick="location='#toolLinkParam("AssignmentAction" "doSort" "criteria=section")'; return false;">
								$tlang.getString("gen.sect")
								#if ($sortedBy.equals("section")) 
									#if ($sortedAsc.equals("true")) 
										<img src = "#imageLink("sakai/sortascending.gif")" border="0" alt="$tlang.getString("gen.shopag")" /> 
									#else 
										<img src = "#imageLink("sakai/sortdescending.gif")" border="0" alt="$tlang.getString("gen.sordes")" /> 
									#end 
								#end 
							</a>
						</th>
						*#
						<th id="duedate">
							<a href="#" onclick="location='#toolLinkParam("AssignmentAction" "doSort" "criteria=duedate")'; return false;">
								$tlang.getString("gen.due1")
								#if ($sortedBy.equals("duedate")) 
									#if ($sortedAsc.equals("true")) 
										<img src = "#imageLink("sakai/sortascending.gif")" border="0" alt="$tlang.getString("gen.shopag")" /> 
									#else 
										<img src = "#imageLink("sakai/sortdescending.gif")" border="0" alt="$tlang.getString("gen.sordes")" /> 
									#end 
								#end 
							</a>
						</th>
						<th id="status">
							<a href="#" onclick="location='#toolLinkParam("AssignmentAction" "doSort" "criteria=submission_status")'; return false;"> 
								$tlang.getString("gen.status")
								#if ($sortedBy.equals("submission_status")) 
									#if ($sortedAsc.equals("true")) 
										<img src = "#imageLink("sakai/sortascending.gif")" border="0" alt="$tlang.getString("gen.shopag")" /> 
									#else 
										<img src = "#imageLink("sakai/sortdescending.gif")" border="0" alt="$tlang.getString("gen.sordes")" /> 
									#end 
								#end 
							</a>
						</th>
						#if ($withGrade)
							<th id="grade">
								<a href="#" onclick="location='#toolLinkParam("AssignmentAction" "doSort" "criteria=grade")'; return false;">
									$tlang.getString("gen.gra")
									#if ($sortedBy.equals("grade")) 
										#if ($sortedAsc.equals("true")) 
											<img src = "#imageLink("sakai/sortascending.gif")" border="0" alt="$tlang.getString("gen.shopag")" /> 
										#else 
											<img src = "#imageLink("sakai/sortdescending.gif")" border="0" alt="$tlang.getString("gen.sordes")" /> 
										#end 
									#end 
								</a>
							</th>
							<th id="maxgrade">
								<a href="#" onclick="location='#toolLinkParam("AssignmentAction" "doSort" "criteria=max_grade")'; return false;" title="$tlang.getString("gen.sorbymax")">
									$tlang.getString("gen.sca")
									#if ($sortedBy.equals("max_grade")) 
										#if ($sortedAsc.equals("true")) 
											<img id="sortascendingungraded" src = "#imageLink("sakai/sortascending.gif")" border="0" alt="$tlang.getString("gen.shopag")" /> 
										#else 
											<img id="sortdescendingungraded" src = "#imageLink("sakai/sortdescending.gif")" border="0" alt="$tlang.getString("gen.sordes")" /> 
										#end 
									#end 
								</a>
							</th>
						#end
					</tr>
					#foreach ($assignment in $assignments)
						#set($submission=false)
						#set($submission=$service.getSubmission($assignment.Reference, $user))
						#if (!$assignment.draft)
							<tr>
								<td headers="attachment">
									#set ($size = 0)
									#if (!$assignment.getContent().getAttachments().isEmpty())
										#foreach ($attachment in $assignment.getContent().getAttachments()) 
											#set ($props = $attachment.Properties) 
											#if ($!props)
												#set ($size = $size + 1)
											#end
										#end
									#end
									#if ($size > 0)
										<img src="#imageLink("sakai/attachments.gif")" border="0" width="13" height="11" alt="Attachment" />
									#end
									&nbsp;
								</td>
								<td headers="title">
									#if ($!allowAddAssignment)
										#if ($!submission)
											#if ($!submission.returned && $submission.getProperties().getProperty("grade_submission_allow_resubmit").equalsIgnoreCase("true"))
												<a href="#toolLinkParam("AssignmentAction" "doView_submission" "assignmentReference=$assignment.Reference")">
											#else
												<a href="#toolLinkParam("AssignmentAction" "doView_grade" "submissionId=$submission.Reference")">
											#end
											$validator.limit($validator.escapeHtml($assignment.getTitle()), 40)</a>
										#else
											$validator.limit($validator.escapeHtml($assignment.getTitle()), 40)
											#if ($!allowSubmit)
												<br />
												<a href="#toolLinkParam("AssignmentAction" "doView_submission" "assignmentReference=$assignment.Reference")">
													$tlang.getString("subasstudent")
												</a>
											#end
										#end
									#elseif($!allowSubmit)
										#if ($!submission)
											#if ($!submission.returned && $submission.getProperties().getProperty("grade_submission_allow_resubmit").equalsIgnoreCase("true"))
												<a href="#toolLinkParam("AssignmentAction" "doView_submission" "assignmentReference=$assignment.Reference")">
											#else
												<a href="#toolLinkParam("AssignmentAction" "doView_grade" "submissionId=$submission.Reference")">
											#end
										#else
											<a href="#toolLinkParam("AssignmentAction" "doView_submission" "assignmentReference=$assignment.Reference")">
										#end
										$validator.limit($validator.escapeHtml($assignment.getTitle()), 40)</a>
									#end
									#set ($deleted = false)
									#set ($deleted = $assignment.getProperties().getProperty($assignment.getProperties().getNamePropAssignmentDeleted()))
									#if ($!deleted.equalsIgnoreCase("true"))
										<span class="chefAlert">$tlang.getString("stulistassig.asshasbee1")</span>
									#end
								</td>
								#*
								<td headers="section">
									$assignment.getSection()
								</td>
								*#
								<td headers="duedate">
									#if ((($!assignment.getDueTime().before($currentTime)) && (!$submission)) || ($!submission.getTimeSubmitted().after($assignment.DueTime)))
										<!--if due date passed and no started then class="chefAlert"-->
										<span class="chefAlert">$!assignment.getDueTime().toStringLocalFull()</span>
									#else
										$!assignment.getDueTime().toStringLocalFull()
									#end
								</td>
								<td headers="status">
									#if ($!submission)
										  #if ($submission.getSubmitted())
											#if ($submission.returned)
												#if ($submission.TimeReturned.after($submission.TimeSubmitted))
													$tlang.getString("gen.returned")
												#else
													Re-submitted $submission.TimeSubmitted.toStringLocalFull()
													#if ($submission.getTimeSubmitted().after($assignment.DueTime))
														<span class="chefAlert"> $tlang.getString("gen.late")</span>
													#end
												#end
											#elseif ($submission.getGraded() && $submission.getGradeReleased())
												#if ($!withGrade)
													$tlang.getString("grad3")
												#else
													$tlang.getString("gen.commented")
												#end
											#else
												Submitted $submission.timeSubmitted.toStringLocalFull()
												#if ($submission.getTimeSubmitted().after($assignment.DueTime))
													<span class="chefAlert">$tlang.getString("gen.late2")</span>
												#end
											<!--missing -if saved...In progress-->
											#end
										  #else
											$tlang.getString("gen.inpro")
										  #end
									#else
										$tlang.getString("gen.notsta")
									#end
								</td>
								#if ($withGrade)
									<td headers="grade">
										#if ($!submission && $submission.getGraded() && $submission.getGradeReleased())
											#if ($!submission.returned) 
												#if ($submission.getProperties().getProperty("grade_submission_allow_resubmit").equalsIgnoreCase("true"))
													<a href="#toolLinkParam("AssignmentAction" "doView_submission" "assignmentReference=$assignment.Reference")">
												#else
													<a href="#toolLinkParam("AssignmentAction" "doView_grade" "submissionId=$submission.Reference")">
												#end
											#else
												<a href="#toolLinkParam("AssignmentAction" "doView_grade" "submissionId=$submission.Reference")">
											#end
												$submission.getGradeDisplay()
											</a>
										#end
									</td>
									<td headers="maxgrade">
										#set ($gradeScale = $assignment.getContent().getTypeOfGrade())
										#if ($gradeScale == -1)
											## Grade type not set 
											$tlang.getString("gen.noset")
										#elseif ($gradeScale == 1)
											## Ungraded grade type
											$tlang.getString("gen.nograd")
										#elseif ($gradeScale == 2)
											## Letter grade type 
											A-F
										#elseif ($gradeScale == 3)
											## Score based grade type
											0-$assignment.getContent().getMaxGradePointDisplay()
										#elseif ($gradeScale == 4)
											## Pass/fail grade type 
											$tlang.getString("gen.pf")
										#elseif ($gradeScale == 5)
											## Grade type that only requires a check
											<img src="#imageLink("sakai/checkon.gif")" border="0" alt="Checkmark" />
										#end
									</td>
								#end
							</tr>
						#end
					#end
				</table>
			#end
		</form>	
	</div>