## $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/content/chef_resources_addFolderBasic.vm,v 1.15 2005/06/09 14:39:41 gsilver.umich.edu Exp $ 

<script type="text/javascript" language="JavaScript">
  focus_path = ["name1"];
</script>
<div class="portletBody">
	<h3>
		$tlang.getString("addf.addfolder")
	</h3>

	#if ($alertMessage)<div class="chefAlertBox">$tlang.getString("gen.alert") $validator.escapeHtml($alertMessage)</div><div style="display:block;clear:both" ></div>#end
	<p class="instruction">
		$tlang.getString("addf.instr")
	</p>
	<p class="instruction">
	 $tlang.getString("gen.instr2") <span class="reqStarInline">*</span>
	</p>	
	</p>
	<div class ="breadCrumb">
		$tlang.getString("gen.location")
		<img src = "#imageLink($contentTypeImageService.getContentTypeImage("folder"))" border="0" />
		#foreach ($item in $collectionPath)
			#if ($dropboxMode && $item.id==$homeCollectionId)
				$siteTitle Drop Box /
			#else
				$validator.escapeHtml($item.name) /
			#end
		#end
	</div>		


	<form name="addFolderForm" method="post" action="#toolForm("ResourcesAction")">
		<input type="hidden" name="stateName" value = "addFolder" />
		<input type="hidden" name="from" value="list" />
		<input type="hidden" name="collectionId" value="$validator.escapeHtml($folderId)" />
		<input type="hidden" name="itemType" value="emptyFolder" />
		<input type="hidden" name="eventSubmit_doAddfolder" value="x" />
		<input type="hidden" name="option" value="change" />
		<p class="shorttext">
			<label for="select">$tlang.getString("addf.number")</label>
			<select name="folderNumber" id="select" onchange="javascript:document.addFolderForm.submit();">
				#foreach ($i in [1 .. 10])
					#if ($i==$currentFolderNumber)
						<option value="$i" selected="selected">$i</option>
					#else
						<option value="$i">$i</option>
					#end
				#end
			</select>
		</p>
		<br />
#foreach($i in [1..$currentFolderNumber])
		<h4>
#if($currentFolderNumber == 1)
			$tlang.getString("gen.folder1")
#else
			$tlang.getString("gen.folder1") ($i of $currentFolderNumber)
#end
		</h4>	
		<p class="shorttext">
			<span class="reqStar">*</span>
			<label for="name$i">
				$tlang.getString("gen.title")
			</label>	
			<input type="text" name="name$i" id="name$i" value="$titles.get($i)" size="40" />
		</p>
		<h4>$tlang.getString("gen.properties")</h4>
		<p class="shorttext">
			<label for="description$i">$tlang.getString("gen.description")</label>
			<textarea id="description$i" name="description$i" rows="3" cols="40" wrap="virtual">$validator.escapeHtmlTextarea($descriptions.get($i))</textarea>
		</p>
		## not show public view in drop box
		#if (!$dropboxMode)
			#if($pubviewset)
				<p class="shorttext">	
					<label for="">$tlang.getString("edit.access1")</label>
					$tlang.getString("gen.setyes")
				</p>		
			#else
				<p class="shorttext">	
					<label for="pubview$i">$tlang.getString("edit.access1")</label>
					#set ($pubview = $pubviews.get($i))
					<input type="checkbox" style="border:none" name="pubview$i" id="pubview$i" value="true"#if ($pubview) checked="checked"#end />
					$tlang.getString("edit.access2")
				</p>
				<p class="labelindnt" style="text-indent:1em;">
					$tlang.getString("addf.note")
				</p>			
			#end		
		#end
#end
		<p class="act">
			<input
				type="button" 
				name="Add folder" 
				 class="active" 
				id="addfolder" 
				value="$tlang.getString("gen.add")"
				onclick="document.addFolderForm.option.value='add'; document.addFolderForm.submit(); return false;"
			/>
			<input 
				type="submit" 
				name="Cancel" 
				id="Cancel" 
				value="$tlang.getString("gen.cancel")"
				onclick="document.addFolderForm.option.value='cancel'; document.addFolderForm.submit(); return false;"
			/>
		</p>
	</form>
</div>

